<%- form_for :help, @request, :url => {:action => 'send_mail', :id => params[:id] } do |f| -%>
  <p><label for="help_email">Your e-mail</label>
  <%= f.text_field :email, :class => 'text' %></p>
  <p><label for="help_body">Your message</label>
  <%= f.text_area :body, :rows => 10 %></p>
  <%= image_submit_tag '/images/button_send.png' %>
<%- end -%>
