<%- form_for :help, :url => {:action => 'send_mail', :id => params[:id] } do |f| -%>
  <p><%= f.text_field :email, :value => params[:help] && params[:help][:email] ? params[:help][:email] : 'Your mail here', :style => "width:99%; border-bottom: 1px solid #D9D9D9;"  %></p>
  <p><%= f.text_area :body, :value => params[:help] && params[:help][:body] ? params[:help][:body] : '', :style => "width:99%; height:90px; border-bottom: 1px solid #D9D9D9;" %></p>
  <%= submit_tag 'Send', :class => '_special_button_small' %>
  <div class="special-button float-right">
    <img src="/images/special_button_cyan.png" alt="" width="90" height="24">    
  </div>
<%- end -%>