<div id="help-box">
  <div class="help-box-top"></div>
  <div class="help-box-sides">
    <h1><%= link_to 'Help topics', help_index_path %></h1>
    <ul class="help-topics">
      <%- @help_pages.each do |page| -%>
        <li><%= link_to page.title, help_path(page) %></li>
      <%- end -%>                                     
    </ul>
  </div>
  <div class="help-box-bottom"></div>
</div>
