  <div id="help-box">
    <div class="help-box-top"></div>
    <div class="help-box-sides">
      <h1>Help topics</h1>
      <ul class="help-topics">
        <%- @help_pages.each do |page| -%>
          <li><%= link_to page.title, :controller => 'help', :action => 'show', :id => page %></li>
        <%- end -%>                                     
      </ul>
    </div>
    <div class="help-box-bottom"></div>
  </div>
