<h1>What is Myousica ?</h1>

<p>Myousica is the first worldwide open music community !</p>

<p>Join the community and be a Myousician.</p>

<p>You can:</p>

<ul>
  <li>Listen to unreleased versions of your favourite song</li>
  <li>Record your own tracks, singing and playing live through our multitrack, in your office or your rehearsal room !</li>
  <li>Edit and Mix tracks from other Myousicians</li>
  <li>Create your M-Band and jam with musicians and amateurs worldwide.</li>
</ul>
<h2>Need help ?</h2>

<h2>Is it your first time in Myousica ?</h2>

You're a Myousician and want to find out all features of the site or in the multitrack ?

Ask other users and read the Answers to their questions !