<div id="help-content">
  <h1>What is Myousica ?</h1>

  <p>Myousica is the first worldwide open music community !</p>

  <p>Join the community and be a Myousician.</p>

  <p>You can:</p>

  <ul>
    <li>Listen to unreleased versions of your favourite song</li>
    <li>Record your own tracks, singing and playing live through our multitrack, in your office or your rehearsal room !</li>
    <li>Edit and Mix tracks from other Myousicians</li>
    <li>Create your M-Band and jam with musicians and amateurs worldwide.</li>
  </ul>
  <h2>Need help ?</h2>

  <h2>Is it your first time in Myousica ?</h2>
  <p>
  You're a Myousician and want to find out all features of the site or in the multitrack?
  <%= link_to 'Ask', answers_path %> other users and read the <%= link_to 'Answers', answers_path %>
  to their questions!
  </p>
</div>

<div id="help-sidebar">
  <%= render :partial => 'help_topics' %>

  <div id="help_question">
    <div class="simple-list clear-block azzurro-boxes">
      <h1>Ask a question</h1>
      <div class="top-box clear-block">
        <div class="bottom-box clear-block">
          <div class="float-right" style="padding-right:60px;">
            <img src="/images/interrogativo.gif" alt="" width="50" height="53" style="position:absolute; margin-top:-40px;" /></div>
          <div class="elements clear-block" style="padding:15px 20px;">
            <%= render :partial => 'form' %>          
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

