<div class="elements clear-block">
	<p class="thumb">
	  <a href="<%= user_path prolific_user %>">
	    <%= avatar_image prolific_user, :small %>
	  </a>
	</p>
	<p class="name"><a href="<%= user_path prolific_user %>"><%= h prolific_user.login %></a></p>
	<p class="country"><%= h prolific_user.city %>, <%= h prolific_user.country %></p>
	<p class="cyan-text float-right"><strong><%= pluralize(prolific_user.count, 'song') %></strong></p>
</div>