<div class="elements clear-block">
  <p class="thumb"><a href="<%= user_path(answer.user) %>"><%= avatar_image(answer.user, :icon) %></a></p>
  <div class="text-elements">
	  <p class="name"><%= link_to answer.user.login, user_path(answer.user) %></p>
	  <p class="abstract"><%= answer.body %></p>
	  <p class="abstract align-right"><%= link_to "#{answer.replies.size} replies", answer_path(answer) %></p>
  </div>
</div>