<div class="elements clear-block">
  <p class="thumb"><%= link_to avatar_image(answer.user, :icon), answer.user %></a></p>
  <div class="text-elements">
    <p class="name"><%= link_to answer.user.login, answer.user %></p>
	<p class="abstract"><%= answer.body %></p>
	<p class="abstract align-right"><%= pluralize(answer.replies.size, 'reply') %></p>
  </div>
</div>