<div id="call-block" class="overflow-hidden">
	<div class="callbox_text fleft"> </div>
	
	<div class="callbox_song overflow-hidden fleft">
		<div class="calltoaction left fleft"> </div>
			<div class="calltoaction repeat fleft">
				<div class="action_pager prev fleft"> </div>
					<%= render :partial => 'shared/song_block', :object => @random_song %>
				<div class="action_pager next fleft"> </div>
			</div>
		<div class="calltoaction right fleft"> </div>
	</div>

	<div class="callbox_song overflow-hidden fleft">
		<div class="calltoaction left fleft"> </div>
		<div class="calltoaction repeat fleft">
			<div class="action_start"> </div>
		</div>
		<div class="calltoaction right fleft"> </div>
	</div>

</div>
<div class="clear"> </div>
