<div id="log-in" class="clear-block">
  <div class="log-in-input">
	  <p><input type="text" value="user" /></p>
	  <p><input type="password" value="password" /></p>
	  <p><input name="log-in" type="image" src="/images/login_button.png" class="input-button" /></p>
  </div>
  <div class="log-in-link">
	  <p><a href="#">Registrati</a></p>
	  <p><a href="#">Password dimenticata?</a></p>
  </div>
</div>