<div class="float-left clear-block myousician-box">
	<div class="top-box">
		<%= user_type_image myousician, :suffix => 'home' %>
		<%= link_to avatar_image(myousician, :small), user_path(myousician) %>
	</div>
	<div class="bottom-box">
		<p class="name"><%= link_to myousician.login, user_path(myousician) %></p>
		<p class="grey-text"><%= link_to "Tracks (#{myousician.tracks_count})", user_path(myousician) + '#tracks' %></p>
	</div>
</div>
