<div class="box-list one-col clear-block">
  <div class="people-list clear-block">
    <h1>PEOPLE</h1>
    <div class="top-box clear-block">
	    <div class="bottom-box clear-block">
        <%= render :partial => 'person', :collection => [1,2,3,4,5,6] %>
	    </div>
    </div>
  </div>
</div>
