<div class="elements clear-block"> 
  <p class="star">
    <%= stars(5, 'scarlet') %>
  </p>
  <p class="thumb">
    <a href="#"><img src="/avatars/photo_60X60.jpg" alt="Pinco Pallino" width="60" height="60" /></a>
  </p>
  <p class="name"><a href="#">Pinco Pallino</a></p>
  <p class="country">Italy, Pescara</p>
</div>
