<script type="text/javascript">// <![CDATA[ 

	function isLoggerAvailable() { 
		var isfb = false; try { isfb = console.log != undefined; } catch(e) {}; return( isfb ); 
	} 

	function splash_play(type, id) {
		if (type == 'song') {
			Player.instance.openContainer("<%= formatted_song_player_path '@', 'html' %>".sub('@', id));
		} else if (type == 'track') {
			Player.instance.openContainer("<%= formatted_track_player_path '@', 'html' %>".sub('@', id));
		}
	}

	function splash_mlab(type, id) {
		if (!MlabSlider.instance) {
			alert("You have to register to use the My List feature");
			return;
		}

		if (type == 'song') {
			MlabSlider.instance.addSong({id: String(id) + '_'});
		} else if (type == 'track') {
			MlabSlider.instance.addTrack({id: String(id) + '_'});
		}
	}

	var flashvars = { 
		<%- if logged_in? && current_user.is_admin? -%>
		isLogEnabled: 'yes', 
		isServiceDumpEnabled: 'no',
		<%- end -%>
		serverPath: '<%= APPLICATION[:url] %>', 
		settingsXMLPath: '<%= splash_config_path %>'
	}; 
	var params = { wmode:'transparent' }; 
	var attributes = { name:'splashObject' }; 

	swfobject.embedSWF('/splash/Adelao_Myousica_Splash.swf', 'splash', '742', '423', '9.0.0', '/expressInstall.swf', flashvars, params, attributes); 

// ]]></script> 
<div id="splash"></div>
