<script type="text/javascript">// <![CDATA[ 

	function isLoggerAvailable() { 
		var isfb = false; try { isfb = console.log != undefined; } catch(e) {}; return( isfb ); 
	} 

	var flashvars = { 
		serverPath: '<%= APPLICATION[:url] %>', 
		settingsXMLPath: '<%= splash_config_path %>',
    <%- if logged_in? && current_user.is_admin? -%>
		isLogEnabled: 'yes', 
		isServiceDumpEnabled: 'no' 
		<%- end -%>
	}; 
	var params = { wmode:'transparent' }; 
	var attributes = { name:'splashObject' }; 

	swfobject.embedSWF('/splash/Adelao_Myousica_Splash.swf', 'splash', '742', '423', '9.0.0', '/expressInstall.swf', flashvars, params, attributes); 

// ]]></script> 
<div id="splash"></div>
