<div id="splash_container" class="banner-instr-home">

		<div id="splash_box_sx"> </div>
			<div id="splash_box_core">

				<div id="splash_elements_container">
					<div id="splash_tag_tracks"> </div>
					<div id="splash_box_elements">
						<!-- dynamic -->
						<div id="splash_odd">
              
						</div>
						<div id="splash_even">

						</div>
						<div id="splash_odd">

						</div>
						<div id="splash_even">

						</div>

						<!-- end dynamic -->								
					</div>
				</div>
				
				<div id="splash_divider_plus"> </div>
				
				<div id="splash_elements_container_mlab">
					<div id="splash_tag_mlab"> </div>
					<div id="splash_box_elements_mlab">
						<div style="float:left;margin-top:120px;padding-left:28px;"><a href="#">Learn More</a></div>

						<div style="float:right;margin-top:120px;padding-right:28px;"><a href="#">Enter</a></div>
					</div>
				</div>

				<div id="splash_divider_equal"> </div>
				
				<div id="splash_elements_container">
					<div id="splash_tag_songs"> </div>
					<div id="splash_box_elements">

						<!-- dynamic -->
						<div id="splash_odd">

						</div>
						<div id="splash_even">

						</div>
						<div id="splash_odd">

						</div>

						<div id="splash_even">

						</div>
						<!-- end dynamic -->												
					</div>
				</div>

			</div>
		<div id="splash_box_dx"> </div>
	</div>
