<div class="tags clear-block margin-top-bottom">
<a href="#" style="font-size:100%">nome tag</a><a href="#" style="font-size:110%">nome tag</a><a href="#" style="font-size:200%">nome tag</a><a href="#" style="font-size:150%">nome tag</a><a href="#" style="font-size:130%">nome tag</a>
<a href="#" style="font-size:100%">nome tag</a><a href="#" style="font-size:110%">nome tag</a><a href="#" style="font-size:200%">nome tag</a><a href="#" style="font-size:150%">nome tag</a><a href="#" style="font-size:130%">nome tag</a>
<a href="#" style="font-size:100%">nome tag</a><a href="#" style="font-size:110%">nome tag</a><a href="#" style="font-size:200%">nome tag</a><a href="#" style="font-size:150%">nome tag</a><a href="#" style="font-size:130%">nome tag</a>
<a href="#" style="font-size:100%">nome tag</a><a href="#" style="font-size:110%">nome tag</a><a href="#" style="font-size:200%">nome tag</a><a href="#" style="font-size:150%">nome tag</a><a href="#" style="font-size:130%">nome tag</a>
<a href="#" style="font-size:100%">nome tag</a><a href="#" style="font-size:110%">nome tag</a><a href="#" style="font-size:200%">nome tag</a><a href="#" style="font-size:150%">nome tag</a><a href="#" style="font-size:130%">nome tag</a>
</div>
