<div>
  <table cellspacing="0" cellpadding="6" border="0" style="width: 100%;">
    <tr id="heading">
      <th width="220"><%= (params[:action] == 'sent') ? 'TO' : 'FROM' %></th>
      <th>Subject</th>
      <th width="60">Date</th>
      <th width="5"> </th>
    </tr>
    <%- if @messages.size > 0 -%>
      <%= render :partial => 'message', :collection => @messages %>    
    <%- else -%>
      <tr>
        <td colspan="4"><em>No new messages</em></td>
      </tr>
    <%- end -%>
  </table>
  <%= will_paginate @messages, :previous_label => "&lt;", :next_label => "&gt;" %>
</div>
<%= javascript_tag update_messages_count_javascript_for(@user) %>
