<div class="simple-list white-box clear-block">
  <h2 class="mband-label"><%= @mband.name %>'s members</h2>
	<div class="top-box clear-block">
		<div class="bottom-box clear-block">
			<div class="elements clear-block">
				<%- @mband.members.each do |user| -%>
				  <div>
  					<p class="edit-command"><a href="#">Change leader</a><br/><a href="#">Delete</a></p>
  					<p class="thumb">
  					  <img width="29" height="29" alt="" src="/images/instrument_drum.png"/>
              <%= link_to avatar_image(user, :icon), user_path(user) %>
            </p>
  					<p class="grey-text name"><em>Voce</em></p>
  					<p class="name"><%= link_to user.login, user_path(user) %></p>
  				</div>
				<%- end -%>
			</div>			
	  </div>
		<p class="next"/>
	</div>
</div>