<div id="user-mail" class="user-box-option" style="position: relative;">
  <div class="action">
    <p class="thumb"><img src="/images/ico_messaggio.gif" alt="" width="29" height="29" /></p>
    <p class="name cyan-text">
      <strong>
        <a class="button popup" href="<%= new_user_message_path(current_user, :to => @mband.leader.login) %>">Send a message</a>
      </strong>
    </p>
  </div>
  <div>
  </div>
  <div class="popup" style="display: none; width: 690px; position: absolute; top: 50px; right: 0pt; z-index: 9999;">
    <a href="#" class="button close"><img src="/images/search_box_icon_close.png" /></a>  
    <img id="popup-spinner" src="/images/spinner.gif" style="position:absolute; top: 10px; right: 10px;">
    <div class="container" style="display:none;"></div>
  </div>  
</div>