<div id="user-mail" class="user-box-option" style="position: relative;background:none;">
  <div class="action">
    <p class="thumb"><img src="/images/ico_messaggio.gif" alt="" width="29" height="29" /></p>
    <p class="name cyan-text">
      <strong>
        <a class="button popup" href="<%= new_user_message_path(current_user, :to => @mband.members.find_all{|u| u != current_user}.collect{|u| u.login }.join(', ')) %>">Send a message</a>
      </strong>
    </p>
  </div>
  <div>
  </div>
  <div class="popup" style="display: none; width: 670px; position: absolute; top: 140px; right: 0; z-index: 200;">
    <a href="#" class="button close"><img src="/images/search_box_icon_close.gif" /></a>  
    <img id="popup-spinner" src="/images/spinner.gif" style="position:absolute; top: 10px; right: 10px;">
    <div class="container"></div>
  </div>  
</div>
