<!-- MBAND INFO -->
<div class="fleft">
	<span class="gray_spec">Enzo's Untouchable Quintet:</span>
	<span class="fleft heading s13 weight-bold">5 Members</span>
</div>

<div class="clear"> </div>

<div class="iam_box fleft">
	<a href="" class="edit_lists edit_icon none fright">Edit</a>
	<h2>We are</h2>
	<div class="inner">

		<ul class="mband_member_list">
      <li>
    	  <a href="" class="fleft border">
    		  <img src="/images/temp/avatar_pino.jpg" width="40" />					
    	    </a>
    	    <div class="instr_avatar fleft">
    		  <span class="instr blue synth"> 
    			  <span class="instr_flag fright">
    				  <img src="images/icons/flags/04.gif" width="16" />
    			  </span>	
    		  </span>
    	    </div>
    	    <div class="member_specs overflow-hidden">	
    		    <span class="sixsixsix fleft">
    		        <a href="" class="song_author">User Name</a> plays:<br />
    		        <a href="" class="song_author weight-bold">Instrument Name</a><br />
    			      <a href="" class="icons pictures_icon padleft18 block none">Access Virus T1 Polar</a>
    		    </span> 
    	    </div>
      </li>
		</ul>
				
	</div>
</div>

<div class="influences_box fleft">
	<a href="" class="edit_lists edit_icon none fright">Edit</a>
	<h2>Influences</h2>
	<div class="inner">

		<p class="info_text_group">
			<span class="s13 heading block">Genre</span>
			<span class="tag_genre nomargin">
          <%= render :partial => 'shared/tags' %>
			</span>			
		</p>

		<p class="info_text_group">
			<span class="s13 heading block">Artists</span>
			<span class="tag_genre body12 nomargin">
				<a href="">Tommy Califano,</a> <a href="">Barac Mobil,</a> <a href="">Dustin Pinkerlake,</a>  <a href="">Pino,</a> <a href="">Angelo & Cirillo,</a> 
				<a href="">Alvarez de la Fonzeca,</a> <a href="">XXX84,</a> <a href="">B 52,</a> <a href="">Pane e Pomodoro,</a> <a href="">Ajira Airlines,</a> <a href="">Vincent Burd</a>  
			</span>
		</p>
		
	</div>
</div>