<div class="instr_avatar instr_shadow fleft">
  <span class="instr icon_<%= rand(36) + 1 %>"> 
    <span class="instr_flag fright">
      <img src="images/icons/flags/<%= rand(54) + 1 %>.gif" width="16" />
    </span>  
  </span>
</div>
