<h1>Editing mband</h1>

<%= error_messages_for :mband %>

<% form_for(@mband) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @mband %> |
<%= link_to 'Back', mbands_path %>
