<h1>Listing mbands</h1>

<table>
  <tr>
  </tr>

<% for mband in @mbands %>
  <tr>
    <td><%= link_to 'Show', mband %></td>
    <td><%= link_to 'Edit', edit_mband_path(mband) %></td>
    <td><%= link_to 'Destroy', mband, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mband', new_mband_path %>
