<div class="instr_avatar shadow_big  fleft">
  <span class="instr instr_big icon_<%= rand(35) + 41 %>"> 
    <span class="instr_counter">
      <span class="tl">
        <span class="tr">
          <span class="br">
            <span class="bl"><strong><%= rand(1000) + 10 %></strong></span>
            <!-- max 5 digit numbers for this layout ;\ -->
            <!-- is it absolutely necessary to have 6 nested spans?! -->
          </span>
        </span>
      </span>
    </span>  
  </span>
  <!-- display instruments name with overlay tooltip -->
</div>        
