<% instrument = instrument_big %>
<div class="instr_avatar shadow_big fleft">
  <div class="tooltip_instr invisible">
	  <strong><%= instrument.code %></strong>
  </div>
  <span class="instr_big instr white_big <%= instrument.code %>"> 
    <span class="instr_counter">
      <span class="tl">
        <span class="tr">
          <span class="br">
            <span class="bl"><strong><%= instrument.tracks.public.count %></strong></span>
            <!-- max 5 digit numbers for this layout ;\ -->
            <!-- is it absolutely necessary to have 6 nested spans?! -->
          </span>
        </span>
      </span>
    </span>  
  </span>
</div>        
