<div class="pick_wrap">
	<div class="w343 fleft">			
		<div class="fleft">
			<a href="" class="song_ad block fleft" title="Frank Zappa" style="background-image: url('/images/temp/pick_song.jpg');">
				<p class="pick_info block">
					<strong>GUITAR HERO</strong>
				</p>
			</a>
		</div>

		<!-- VIDEO BOXES -->
      <%= render :partial => 'shared/video_lists' %>
		<!-- END VIDEO BOXES -->				
	</div>


	<div class="w343 fright">
      <% 4.times do %>
        <%= render :partial => 'shared/instrument_block' %>        
      <% end %>
			<div class="clear"> </div>
			
			<p class="">
				<strong class="s14">Frank Zappa or Alvarez de la Fonzeca?</strong><br />
				consectetur adipiscing elit. <a href="">Maecenas</a> nunc pede, facilisis feugiat, posuere a, tempus in, urna. Curabitur sapien. Aliquam elementum mauris. Aenean porttito nec massa mattis rutrum. Maecenas pharetra mi in nunc tempus in, urna. Curabitur sapien. Aliquam elementum mauris. Aenean porttito nec massa mattis rutrum. Maecenas pharetra mi in nunc. Nuarcu sit amet lectus Aliquam <a href="">Search More</a> nunc pede, facilisis feugiat, posuere.
			</p>															
	</div>

</div>
<div class="clear"> </div>
