<div id="instr_search_box">
    <div class="browse_pane pane_heading fright">
      <h2>Instruments on Mewsic</h2>
      <span class="subtitle block">Browse and discover blah blah</span>
    </div>
    <div class="clear"> </div>

    <div class="browse_pane pane_content">
      <div class="browse_pane_left fleft">
        <div class="loader"> </div>
        <ul class="instr_type alright">
          <li class="current"><a href="">All</a></li>
          <% for category in @categories %>
            <li><%= link_to category, "##{e(category)}" %></li>
          <% end %>
        </ul>
      </div>
      <div class="browse_pane_right fleft">
        <ul class="maingenre_type alleft">
          <li class="current"><a href="">All</a></li>
          <% for tag in @popular_tags %>
            <li><%= link_to tag, "##{e(tag)}" %></li>
          <% end %>
        </ul>
        <div id="instr_show" class="fleft">
          <%= render :partial => 'tracks/instrument_big', :collection => @instruments %>
        </div>
      </div>
    </div>
</div>
<div class="clear"> </div>
