<div class="elements clear-block" id="all-instruments"> 
	<div class="tabmenu">
		<div class="tab active float-right">
			<div class="sx"> </div>
			<div class="rp">
				<p class="title"><span class="orange-text">BROWSE BY INSTRUMENT</span></p>
			</div>
			<div class="dx"> </div>
		</div>    
	</div>

	<div class="clear-block clear-float">
  <%- @instruments.each do |instrument| -%>
		<%= instrument_browse_icon(instrument, :id => "instrument_#{instrument.id}") %>
  <%- end -%>
  </div>
</div>
