<div class="box-list one-col clear-block clear-float">
		
<div class="simple-list section-tags clear-block">
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  <div class="elements clear-block">
						<!--
						<a style="font-size: 100%;" href="#">Lirica </a> <a style="font-size: 200%;" href="#">Elettronica </a> <a style="font-size: 80%;" href="#">Chemical </a> <a style="font-size: 70%;" href="#">Rock </a><a style="font-size: 130%;" href="#">Country </a><a style="font-size: 150%;" href="#">Bit </a><a style="font-size: 60%;" href="#">Jazz </a><a style="font-size: 120%;" href="#">Pop </a><a style="font-size: 100%;" href="#">Dance </a><a style="font-size: 150%;" href="#">Progressive </a><a style="font-size: 80%;" href="#">Etnic </a><a style="font-size: 100%;" href="#"> Classic </a>
					-->
					</div>
			  </div>
			</div>
		</div>		
		
		
		
		<div class="simple-list clear-block">
			<h1>TOP RATED COLLABORATIONS</h1>
			<!--
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  <div class="elements clear-block">
					<div class="clear-block">
						<span class="tracks-number"><span>5</span></span> 
						<div class="float-right">
						<p><img width="29" height="29" alt="Pinco Pallino" src="photo/photo_30X30.jpg"/> <img width="29" height="29" alt="Pinco Pallino" src="photo/photo_30X30.jpg"/> <img width="29" height="29" alt="Pinco Pallino" src="photo/photo_30X30.jpg"/></p>
						</div>
					</div>
						<p class="abstract">titolo titolo titolo</p>
						<p class="float-right"><span class="star"><img width="10" height="9" alt="" src="graphic_image/star_green.png"/><img width="10" height="9" alt="" src="graphic_image/star_green.png"/><img width="10" height="9" alt="" src="graphic_image/star_green.png"/><img width="10" height="9" alt="" src="graphic_image/star_green.png"/><img width="10" height="9" alt="" src="graphic_image/star_green.png"/></span> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></p>
						<p class="float-left">listened</p>
				  </div>
				  
				  <div class="elements clear-block">
					<div class="clear-block">
						<span class="tracks-number"><span>5</span></span> 
						<div class="float-right">
						<p><img width="29" height="29" alt="Pinco Pallino" src="photo/photo_30X30.jpg"/> <img width="29" height="29" alt="Pinco Pallino" src="photo/photo_30X30.jpg"/> <img width="29" height="29" alt="Pinco Pallino" src="photo/photo_30X30.jpg"/></p>
						</div>
					</div>
						<p class="abstract">titolo titolo titolo</p>
						<p class="float-right"><span class="star"><img width="10" height="9" alt="" src="graphic_image/star_green.png"/><img width="10" height="9" alt="" src="graphic_image/star_green.png"/><img width="10" height="9" alt="" src="graphic_image/star_green.png"/><img width="10" height="9" alt="" src="graphic_image/star_green.png"/><img width="10" height="9" alt="" src="graphic_image/star_green.png"/></span> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></p>
						<p class="float-left">listened</p>
				  </div>
				  
				  <div class="elements clear-block">
					<div class="clear-block">
						<span class="tracks-number"><span>5</span></span> 
						<div class="float-right">
						<p><img width="29" height="29" alt="Pinco Pallino" src="photo/photo_30X30.jpg"/> <img width="29" height="29" alt="Pinco Pallino" src="photo/photo_30X30.jpg"/> <img width="29" height="29" alt="Pinco Pallino" src="photo/photo_30X30.jpg"/></p>
						</div>
					</div>
						<p class="abstract">titolo titolo titolo</p>
						<p class="float-right"><span class="star"><img width="10" height="9" alt="" src="graphic_image/star_green.png"/><img width="10" height="9" alt="" src="graphic_image/star_green.png"/><img width="10" height="9" alt="" src="graphic_image/star_green.png"/><img width="10" height="9" alt="" src="graphic_image/star_green.png"/><img width="10" height="9" alt="" src="graphic_image/star_green.png"/></span> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></p>
						<p class="float-left">listened</p>
				  </div>
				  			  
				</div>
			</div>
		-->
		</div>
		
	<div class="simple-list clear-block">
			<h1>MOST ENGAGING SONGS</h1>
			<!--
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  <div class="elements clear-block">
						<p class="thumb"><a href="#"><img width="42" height="42" alt="Band" src="photo/photo_42X42.jpg"/></a></p>
						<p class="name"><a href="#">Pinco Pallino</a></p>
						<p class="cyan-text float-right"><strong>99 collaboration </strong></p>
				  </div>
				  <div class="elements clear-block">
						<p class="thumb"><a href="#"><img width="42" height="42" alt="Band" src="photo/photo_42X42.jpg"/></a></p>
						<p class="name"><a href="#">Pinco Pallino</a></p>
						<p class="cyan-text float-right"><strong>99 collaboration</strong></p>
				  </div>
				  <div class="elements clear-block">
						<p class="thumb"><a href="#"><img width="42" height="42" alt="Band" src="photo/photo_42X42.jpg"/></a></p>
						<p class="name"><a href="#">Pinco Pallino</a></p>
						<p class="cyan-text float-right"><strong>99 collaboration</strong></p>
				  </div>				  
				</div>
			</div> 
		-->
		</div>		
		
	</div>
