<div class="box-list one-col-big clear-block">
  <div class="simple-list azzurro-box">
    <h1>COOLEST</h1>
    <div class="top-box clear-block">
      <div class="bottom-box clear-block">
        <%= render :partial => 'tracks_block', :locals => {:tracks => @coolest} %>
      </div>
    </div>
    <p class="abstract align-right">
      <% if @coolest.previous_page %>
				<%= link_to_remote 'Prev ', :update => 'coolest-ideas', :method => :get, :url => coolest_ideas_path(:cpage => @coolest.previous_page) %>
		  <% end %>
      <% if @coolest.next_page %>
				<%= link_to_remote 'Next' , :update => 'coolest-ideas', :method => :get, :url => coolest_ideas_path(:cpage => @coolest.next_page) %>
		  <% end %>
    </p>
  </div>
</div>
