<div class="box-list two-col clear-block">

	<div class="tabmenu">
		<div id="tab-spinner" class="float-left" style="margin: 8px 2px;display:none">
			<%= image_tag 'spinner.gif' %>
		</div>
		<div class="tab active float-right" id="top-answers-tab">
			<div class="sx"> </div>
			<div class="rp">
				<p class="title blue-text"><%= link_to_remote 'IDEAS BY INSTRUMENT', :url => by_instrument_ideas_path, :update => 'ideas-by-instruments', :method => :get, :loading => "$('tab-spinner').show()", :complete => "$('tab-spinner').hide()" %></p>
			</div>
			<div class="dx"> </div>
		</div>    
	</div>

	<div class="clear-block clear-float">
		<div class="collaboration-list top-box clear-block">
			<div class="bottom-box clear-block">
				<div id="ideas-by-instruments" class="grey-box">
					<%= render :partial => 'ideas_table' %>
				</div>					
			</div>
		</div>						
	</div>

</div>
