<div class="box-list two-col clear-block">

	<div class="tabmenu">
		<div id="tab-spinner" class="float-left" style="margin: 8px 2px;display:none">
			<%= image_tag 'spinner.gif' %>
		</div>
		<div class="tab active float-right" id="ideas-tab">
			<div class="sx"> </div>
			<div class="rp">
				<p class="title blue-text"><%= link_to 'IDEAS BY INSTRUMENT', by_instrument_ideas_path %></p>
			</div>
			<div class="dx"> </div>
		</div>    
	</div>

	<div class="clear-block clear-float">
		<div class="collaboration-list top-box clear-block">
			<div class="bottom-box clear-block">
				<div id="ideas-by-instruments" class="grey-box">
					<%= render :partial => 'ideas_table' %>
				</div>
				<%= render :partial => 'all_instruments' %>
			</div>
		</div>						
	</div>

</div>
