<div class="box-list two-col clear-block">
	
		<div class="tit-sezion-tab clear-block">
			<div class="float-right">
				<h1>IDEAS</h1>
			</div>
		</div>
		<!--
		<div class="tab-title-list clear-block">
		  <div class="top-box clear-block">
				<div class="bottom-box clear-block">
					<div class="elements clear-block">
				  		<p class="cyan-text float-right"><strong>65 amici</strong></p>
						<p class="thumb"><img width="29" height="29" class="float-left" alt="" src="graphic_image/instrument_mic.png"/> <span class="cyan-text"><strong>Voce</strong></span></p>
						
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
						  <tbody><tr class="even">
							<td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
							<td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
							<td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
						  </tr>
						  <tr class="odd">
                            <td class="even"><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
						    <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
						    <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
					      </tr>
						  <tr class="even">
                            <td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
						    <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/></td>
						    <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
					      </tr>
						  <tr class="odd">
							<td class="even"><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
							<td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
							<td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
						  </tr>
						  <tr class="even">
							<td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
							<td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/></td>
							<td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
						  </tr>
					  </tbody></table>
					</div>
				  <div class="elements clear-block"> 
				  		<p class="cyan-text float-right"><strong>65 amici</strong></p>
						<p class="thumb"><img width="29" height="29" class="float-left" alt="" src="graphic_image/instrument_mic.png"/> <span class="cyan-text"><strong>Voce</strong></span></p>
						
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
                          <tbody><tr class="even">
                            <td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="odd">
                            <td class="even"><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="even">
                            <td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="odd">
                            <td class="even"><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="even">
                            <td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                        </tbody></table>
					</div>				
					<div class="elements clear-block"> 
				  		<p class="cyan-text float-right"><strong>65 amici</strong></p>
						<p class="thumb"><img width="29" height="29" class="float-left" alt="" src="graphic_image/instrument_mic.png"/> <span class="cyan-text"><strong>Voce</strong></span></p>
						
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
                          <tbody><tr class="even">
                            <td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="odd">
                            <td class="even"><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="even">
                            <td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="odd">
                            <td class="even"><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="even">
                            <td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                        </tbody></table>
					</div>	
					
					<div class="elements clear-block"> 
				  		<p class="cyan-text float-right"><strong>65 amici</strong></p>
						<p class="thumb"><img width="29" height="29" class="float-left" alt="" src="graphic_image/instrument_mic.png"/> <span class="cyan-text"><strong>Voce</strong></span></p>
						
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
                          <tbody><tr class="even">
                            <td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="odd">
                            <td class="even"><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="even">
                            <td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="odd">
                            <td class="even"><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="even">
                            <td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                        </tbody></table>
					</div>	
					
					<div class="elements clear-block"> 
				  		<p class="cyan-text float-right"><strong>65 amici</strong></p>
						<p class="thumb"><img width="29" height="29" class="float-left" alt="" src="graphic_image/instrument_mic.png"/> <span class="cyan-text"><strong>Voce</strong></span></p>
						
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
                          <tbody><tr class="even">
                            <td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="odd">
                            <td class="even"><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="even">
                            <td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="odd">
                            <td class="even"><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                          <tr class="even">
                            <td><span class="cyan-text">Genere </span> Pinco Pallino,<em> titolo titolo titolo</em></td>
                            <td class="star"><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_orange.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/><img width="10" height="9" alt="" src="graphic_image/star_gray.png"/></td>
                            <td class="button"><a href="#"><img width="23" height="15" alt="" src="graphic_image/button_mlab.png"/></a> <a href="#"><img width="23" height="15" alt="" src="graphic_image/button_play_green.png"/></a></td>
                          </tr>
                        </tbody></table>
					</div>											
					
					<div class="elements clear-block"> 
						<p class="orange-text"><strong>OTHERS</strong></p>
						<p class="thumb"><img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> <img width="29" height="29" alt="" src="graphic_image/instrument_mic.png"/> </p>
					</div>					
					
				</div>
			</div>						
		</div>
	-->
	</div>