<div id="newest-ideas">
  <%= render :partial => 'newest' %>
</div>
<div id="coolest-ideas">
  <%= render :partial => 'coolest' %>
</div>
<%= render :partial => 'collaborations' %>
<%= render :partial => 'ideas' %>