<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>Welcome to Myousica!</title>
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 22.0px; font: 18.0px Helvetica; color: #004161}
    p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Helvetica; min-height: 14.0px}
    p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Helvetica; color: #3a3a3a}
    p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Helvetica; color: #3a3a3a}
    p.p6 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Helvetica; color: #3a3a3a; min-height: 14.0px}
    p.p7 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 29.0px; font: 24.0px Helvetica; color: #3a3a3a}
    p.p8 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Helvetica; color: #382b2c}
    span.s1 {font: 12.0px Helvetica}
    span.s2 {letter-spacing: 0.0px}
    span.s3 {text-decoration: underline ; letter-spacing: 0.0px}
  </style>
</head>
<body>
<p class="p1"><span class="s1"><img src="cid:logo_myousica" alt="Myousica logo"></span></p>
<p class="p2"><span class="s2">Let Myousica Begin!</span></p>
<p class="p3"><span class="s2"></span><br></p>
<p class="p3"><span class="s2"></span><br></p>
<p class="p4"><span class="s2">Welcome <%= @user.login %>,</span></p>
<p class="p5"><span class="s2">You have just joined the coolest worldwide community about open music!</span></p>
<p class="p6"><span class="s2"></span><br></p>
<p class="p5"><span class="s2">Enjoy <b>creating</b> and listening to unreleased version of your favourite song,</span></p>
<p class="p5"><span class="s2"><b>Mix</b> tracks from other Myousicians, create your own M-band and</span></p>
<p class="p5"><span class="s2"><b>Record</b> new songs through the Myousica multitrack.</span></p>
<p class="p6"><span class="s2"></span><br></p>
<p class="p5"><span class="s2">In just one click!</span></p>
<p class="p6"><span class="s2"></span><br></p>
<p class="p5"><span class="s2">Remember to set your "User Type" in your profile.</span></p>
<p class="p5"><span class="s2">In Myousica you can be a <strong>User,</strong> a <strong>Band</strong> or a <strong>Dj</strong>.</span></p>
<p class="p5"><span class="s2">For more information read the <%= link_to "Help page", help_index_path %>.</span></p>
<p class="p6"><span class="s2"></span><br></p>
<p class="p6"><span class="s2"><%= link_to @url, @url %></span><br></p>
<p class="p6"><span class="s2"></span><br></p>
<p class="p5"><span class="s2">Thank you and.. start the fun!</span></p>
<p class="p5"><span class="s2">Myousica Staff</span></p>
<p class="p8"><span class="s3"><a href="mailto:mail@myousica.com">mail@myousica.com</a></span></p>
</body>
</html>
