<p class="p2"><span class="s2">Myousica password reset</span></p>
<p class="p3"><span class="s2"></span><br></p>
<p class="p3"><span class="s2"></span><br></p>
<p class="p4"><span class="s2">Dear <%= @user.login %>,</span></p>
<p class="p5"><span class="s2"></span></p>
<p class="p5"><span class="s2">please follow this link to reset your password:</span></p>
<p class="p6"><span class="s2"></span><br></p>
<p class="p5"><span class="s2"><%= link_to @url, @url %></span></p>
