<p class="p4"><span class="s2">You have a new message from <a href="<%= @profile %>"><strong><%= @sender %></strong></a>.</span></p>
<p class="p6"><span class="s2"></span><br></p>
<p class="p5"><span class="s2">You can read your message by clicking on the link below: </span></p>
<p class="p6"><span class="s2"></span><br></p>
<p class="p5"><span class="s2"><a href="<%= @inbox %>">your messages inbox</a></span></p>
