<%= edit_link_to 'new song', new_admin_song_path %>
<table class="admin_content_table" cellspacing="0" cellpadding="5">
	<tr>
		<th>id</th>
		<th>title</th>
		<th>description</th>
		<th>genre</th>
		<th>user</th>
	</tr>
	<%= render :partial => 'song', :collection => @songs %>
</table>

