<li>
	<div class="result_lane fleft">
		<a href="" class="fleft border">
			<img src="/images/temp/avatar_ndstr.jpg" width="40" />					
		</a>
		<div class="overflow-hidden">	
			<span class="marginleft10 sixsixsix fleft">
				<a href="" class="body12 heading none weight-bold block">E' possibile che Gerardo ha parcheggiato la macchina in seconda fila?</a>
				<p class="tag_genre nomargin gray_spec paddingtop5">
					Times ago - <a href="" class="comments_icon padleft18">(13)</a> replies 
					- in <a href="" class="tag_yellow_icon padleft18">Hendrix,</a>
					 <a href="">Alternative,</a> <a href="">Guitars</a>
				</p>
			</span> 
		</div>
	</div>
	<div class="fright">
			<span class="icons comment_add_icon block">
				<a href="" class="padleft18 none">Reply</a>
			</span>
	</div>
</li>
<li>
	<div class="result_lane fleft">
		<a href="" class="fleft border">
			<img src="/images/temp/avatar_fabio.jpg" width="40" />					
		</a>
		<div class="overflow-hidden">	
			<span class="marginleft10 sixsixsix fleft block">
				<a href="" class="body12 heading none weight-bold">Lorem Alternative santus 	domini et liber, quisque intelligence ufo alieni e cazzate dell'universo infinito meschino e 	infame?</a>
				<p class="tag_genre nomargin gray_spec paddingtop5">
					Times ago - <a href="" class="comments_icon padleft18">(0)</a> replies 
					- in <a href="" class="tag_yellow_icon padleft18">Cazzate,</a>
					 <a href="">Meschino,</a> <a href="">Gesu' Cristo</a>
				</p>
			</span> 
		</div>
	</div>
	<div class="fright">
			<span class="icons comment_add_icon block">
				<a href="" class="padleft18 none">Reply</a>
			</span>
	</div>	
</li>
