<!-- SEARCHED MEDIA -->
<div id="pictures_gal">
	
	<center>
		<table id="search_table" border="1" rules="rows" frame="void" bordercolor="#CCCCCC" cellspacing="0" cellpadding="10" width="100%">
			<tr>
				<td align="center" valign="middle">
					<div class="video_thumb">
						<div class="fleft">
							<span class="still_play"> </span>
							<img src="/images/temp/video_inplay.jpg" width="100" />
						</div>
					</div>
					<span class="gray_spec">
						<strong>Pino e il mare</strong><br />
						Lorem ipsum dolor...<br />
						<a href="" class="ten none">from: Pinca Palla</a>
					</span>					
				</td>
				<td align="center" valign="middle">
					<a href="profile.php?im=07" class="photo_thumb">
						<img src="/images/temp/gallery/01/preview/07.jpg" alt="07" border="0" />
					</a><br />
					<span class="gray_spec">
						Consequentia erection est...<br />
						<a href="" class="tag_yellow_icon padleft18 none heading">
							Fender Stratocaster</a><br />
						<a href="" class="ten none">from: NDSTR</a>
					</span>					
				</td>
				<td align="center" valign="middle">
					<a href="profile.php?im=12" class="photo_thumb">
						<img src="/images/temp/gallery/01/preview/12.jpg" alt="12" border="0" />
					</a><br />
					<span class="gray_spec">
						La mia macchina alternative<br />
						<a href="" class="tag_yellow_icon padleft18 none heading">
							Access Virus T1 Polar...</a><br />
						<a href="" class="ten none">from: NDSTR</a>
					</span>					
				</td>
				<td align="center" valign="middle">
					<div class="video_thumb">
						<div class="fleft">
							<span class="still_play"> </span>
							<img src="/images/temp/pick_enzo.jpg" width="100" />
						</div>
					</div>
					<span class="gray_spec">
						<strong>Enzo's</strong><br />
						Dolor panza dolor stanza...<br />
						<a href="" class="ten none">from: Enzo's Untouchable...</a>
					</span>					
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<a href="profile.php?im=07" class="photo_thumb">
						<img src="/images/temp/gallery/01/preview/30.jpg" alt="07" border="0" />
					</a><br />
					<span class="gray_spec">
						Consequentia erection est...<br />
						<a href="" class="tag_yellow_icon padleft18 none heading">
							Fender Stratocaster</a><br />
						<a href="" class="ten none">from: NDSTR</a>
					</span>					
				</td>
				<td align="center" valign="middle">
					<div class="video_thumb">
						<div class="fleft">
							<span class="still_play"> </span>
							<img src="/images/temp/pick_gerardo.jpg" width="100" />
						</div>
					</div>
					<span class="gray_spec">
						<strong>Palla</strong><br />
						Lorem ipsum dolor...<br />
						<a href="" class="ten none">from: Gerardo Palla</a>
					</span>					
				</td>
				<td align="center" valign="middle">
					<a href="profile.php?im=12" class="photo_thumb">
						<img src="/images/temp/gallery/01/preview/19.jpg" alt="12" border="0" />
					</a><br />
					<span class="gray_spec">
						 Alternative circumstances<br />
						<a href="" class="tag_yellow_icon padleft18 none heading">
							Mesa Boogie Osso...</a><br />
						<a href="" class="ten none">from: Pino</a>
					</span>					
				</td>
				<td align="center" valign="middle">
					<div class="video_thumb">
						<div class="fleft">
							<span class="still_play"> </span>
							<img src="/images/temp/pick_song.jpg" width="100" />
						</div>
					</div>
					<span class="gray_spec">
						<strong>Frank</strong><br />
						Zappa belli baffi...<br />
						<a href="" class="ten none">from: Untouchable Mustaches...</a>
					</span>					
				</td>
			</tr>		</table>

	</center>
	
</div>