<li>
	<div class="result_lane fleft">
		<a href="" class="fleft border">
			<img src="/images/temp/avatar_pino.jpg" width="40" />					
		</a>
		<div class="overflow-hidden">	
			<span class="marginleft10 sixsixsix fleft right_section">
				<a href="" class="song_author weight-bold">Pino</a>, Italy<br />
				<p class="nomargin status_outside">
					<span class="lquote status_green s21">&ldquo;</span>
					Ho la macchina in doppia fila, di solito la lascio in terza...
					<span class="rquote status_green s21">&rdquo;</span>						
				</p>
				<p class="icons tag_genre nomargin tag_yellow_icon padleft18">
					<a href="">Acid Jazz/Fusion,</a> <a href="">Acoustic,</a>
					 <a href="">Alternative 	Rock,</a> <a href="">Ambient</a>
				</p>
				<a href="" class="song_author">Instrument Name</a>
				<a href="" class="none">Access Virus T1 Polar</a><br />
			</span> 
		</div>
	</div>
	<div class="fright">
			<span class="icons admire_icon block">
				<a href="" class="padleft18 none">Admire</a>
			</span>
			<span class="icons sendmessage_icon block margin7">
				<a href="" class="padleft18 none">Send Message</a>
			</span>
	</div>
</li>
<li>
	<div class="result_lane fleft">
		<a href="" class="fleft border">
			<span class="icons16 mbands_small_icon inavatar_icon">	</span>
			<img src="/images/temp/avatar_enzo.jpg" width="40" />					
		</a>
		<div class="overflow-hidden">	
			<span class="marginleft10 sixsixsix fleft right_section">
				<a href="" class="song_author weight-bold">Enzo's Untouchable Quintet</a>, 5 	members from 3 countries<br />
				<p class="icons tag_genre nomargin tag_yellow_icon padleft18">
					<a href="">Jazz,</a> <a href="">Electronic,</a>
					<a href="">Alternative, </a> <a href="">Post Hardcore</a>
				</p>
			</span> 
		</div>
	</div>
	<div class="fright">
			<span class="icons admire_icon block">
				<a href="" class="padleft18 none">Admire</a>
			</span>
			<span class="icons sendmessage_icon block margin7">
				<a href="" class="padleft18 none">Send Message</a>
			</span>
	</div>	
</li>
