<% javascript 'search' %>
<div id="search_head_title">
	<p class="search_title"><strong>"<%= params[:id] %>"</strong> search results <strong>(<%= @users.total_entries %>)</strong></p>
</div>

<%= render :partial => 'people_results' %>