<p class="search_title">People <strong>(%count)</strong></p>
<div id="search_row">
	<div style="float:left">
		<div id="search_icon_container"><img src="images/band_type.png" /></div>
		<div id="search_icon_container"><img src="images/avatar_icon.gif" /></div>
		<p class="search_black_text"><strong>%nick</strong></p>
		<p class="search_gray_text">%country, %city</p>
	</div>
	<div style="float:right">
		<p class="search_gray_text">Uploads:</p>
		<div id="search_small_icon_container"><img src="images/icon_song.png" /></div>
		<p class="search_gray_text">Songs (%count)</p>
		<div id="search_small_icon_container"><img src="images/icon_track.png" /></div>
		<p class="search_gray_text">Tracks (%count)</p>
	</div>
</div>
<div id="search_row">
	<div style="float:left">
		<div id="search_icon_container"><img src="images/user_type.png" /></div>
		<div id="search_icon_container"><img src="images/avatar_icon.gif" /></div>
		<p class="search_black_text"><strong>%nick</strong></p>
		<p class="search_gray_text">%country, %city</p>
	</div>
	<div style="float:right">
		<p class="search_gray_text">Uploads:</p>
		<div id="search_small_icon_container"><img src="images/icon_song.png" /></div>
		<p class="search_gray_text">Songs (%count)</p>
		<div id="search_small_icon_container"><img src="images/icon_track.png" /></div>
		<p class="search_gray_text">Tracks (%count)</p>
	</div>
</div>
<div id="search_row">
	<div style="float:left">
		<div id="search_icon_container"><img src="images/dj_type.png" /></div>
		<div id="search_icon_container"><img src="images/avatar_icon.gif" /></div>
		<p class="search_black_text"><strong>%nick</strong></p>
		<p class="search_gray_text">%country, %city</p>
	</div>
	<div style="float:right">
		<p class="search_gray_text">Uploads:</p>
		<div id="search_small_icon_container"><img src="images/icon_song.png" /></div>
		<p class="search_gray_text">Songs (%count)</p>
		<div id="search_small_icon_container"><img src="images/icon_track.png" /></div>
		<p class="search_gray_text">Tracks (%count)</p>
	</div>
</div>
<div class="pagination"><span class="disabled">&lt;</span> <span class="current">1</span> 
	<a rel="next" href="#">2</a> <a rel="next" href="#">&gt;</a></div>
</div>

<div style="clear:both"> </div>

<p class="search_title">Music <strong>(%count)</strong></p>
<div id="search_row">
	<div style="float:left">
		<div id="search_icon_container">
			<img src="images/button_play_green.png" />
			<img src="images/button_mlab.png" />
		</div>
		<div id="search_icon_container"><img src="images/avatar_icon.gif" /></div>
		<p class="search_black_text"><strong>%nick</strong></p>
		<p class="search_black_text">%songname</p>
	</div>
	<div style="float:right">
		<div id="search_icon_container"><img src="images/tracks_number_BG.png" /></div>
		<p class="search_blue_text">%genres</p>
		<p class="search_sky_text">%runtime</p>				
		<div style="float:left"><img src="images/_starsgreen.png" /></div>
	</div>
</div>
<div class="pagination"><span class="disabled">&lt;</span> <span class="current">1</span> 
	<a rel="next" href="#">2</a> <a rel="next" href="#">&gt;</a></div>
</div>


<div style="clear:both"> </div>

<p class="search_title">Ideas <strong>(%count)</strong></p>
<div id="search_row">
	<div style="float:left">
		<div id="search_icon_container">
			<img src="images/button_play_orange.png" />
			<img src="images/button_mlab.png" />
		</div>
		<div id="search_icon_container"><img src="images/avatar_icon.gif" /></div>
		<p class="search_black_text"><strong>%nick</strong></p>
		<p class="search_black_text">%trackname</p>
	</div>
	<div style="float:right">
		<p class="search_blue_text">%genres</p>
		<p class="search_sky_text">%bpm</p>				
		<p class="search_sky_text">%key</p>								
		<p class="search_sky_text">%runtime</p>				
		<div style="float:left"><img src="images/_starsorange.png" /></div>
	</div>
</div>
<div class="pagination"><span class="disabled">&lt;</span> <span class="current">1</span> 
	<a rel="next" href="#">2</a> <a rel="next" href="#">&gt;</a></div>
</div>