/* APPLICATION BAR */
#app_bar_env {
	width: 100%;
	position: fixed;
	z-index: 99;
	bottom: 0;
	padding: 0;
	right: 0;
}
#app_bar {
	width: 985px;
	height: 6px;
	margin: auto;
	overflow: visible !important;
	position: relative;
}
.tab_app_icons {
	width: 66px;
	height: 24px;
	margin-top: -24px;
	cursor: pointer;
	text-align: right;
	background-color: #014D70;	
}

/* NOTIFICATION BADGE */
.notification_red {
background-image:url('../images/notification_red.png');
display:inline-block;
margin: 4px 4px;
color: #FFFFFF;
line-height: 15px;
}
.notification_red span {
background-image:url('../images/notification_red.png');
display:inline-block;
}

/* GENRE SELECTOR  */
.genre_selector {
background-image:url('../images/genre_selector.png');
display:inline-block;
margin-bottom: 4px;
color: #FFFFFF;
line-height: 15px;
}
.genre_selector span {
background-image:url('../images/genre_selector.png');
display:inline-block;
}
.selector_disabled {
	display:inline-block;
	margin-bottom: 4px;
	color: #0099FF;
	line-height: 15px;
}
.selector_disabled span { 
	display:inline-block; 
	cursor: pointer; 
}
.selector_disabled .bl {
padding:0 6px 1px;
margin-top: 1px;
}


/* INSTRUMENTS COUNT */
.instr_counter {
background-image:url('../images/instruments_count.png');
display:inline-block;
color: #FFFFFF;
line-height: 15px;
margin-left: 60px;
}
.instr_counter span {
background-image:url('../images/instruments_count.png');
display:inline-block;
}



/* MULTITRACK SEARCH & TAGGING DIALOG GENRE SELECTOR  */
#search_filters_genre .genre_selector,
#search_filters_genre .genre_selector span
 { background-image:url('../images/tag_sel_badge.png'); }

#search_filters_genre .selector_disabled:hover,
#search_filters_genre .selector_disabled span:hover
 { background-image:url('../images/tag_sel_badge-hover.png'); }


#mlab_search_tabs .mlab_search .genre_selector,
#mlab_search_tabs .mlab_search .genre_selector span
 { background-image:url('../images/mtrack_search_sel.png'); }

#mlab_search_tabs .mlab_search .selector_disabled:hover,
#mlab_search_tabs .mlab_search .selector_disabled span:hover
 { background-image:url('../images/mtrack_search_sel-hover.png'); }


#search_filters_genre .genre_selector {
display:inline-block;
margin: 0 2px 4px 2px;
line-height: 15px;
overflow: hidden;
}
#search_filters_genre .genre_selector span { display:inline-block; }
#search_filters_genre .selector_disabled { margin: 0 0 4px 0; overflow: hidden;}
#search_filters_genre .selector_disabled:hover {
display:inline-block;
margin-bottom: 4px;
line-height: 15px;
}
#search_filters_genre .selector_disabled span:hover {
display:inline-block;
}

#mlab_search_tabs .mlab_search .selector_disabled,
#search_filters_genre .selector_disabled:hover 
 { color: #FFFFFF; font-weight: bold; }

#mlab_search_tabs .mlab_search .genre_selector { color: #014D70 !important; font-weight: bold; }

#search_filters_genre .selector_disabled  { color: #333333; font-weight: bold; }
#search_filters_genre .genre_selector { color: #666666 !important; font-weight: bold; }




/* span costructor */
.notification_red .tl, .instr_counter .tl, .genre_selector .tl,
#search_filters_genre .selector_disabled:hover .tl {
background-position:left top;
}
.notification_red .tr, .instr_counter .tr, .genre_selector .tr,
#search_filters_genre .selector_disabled:hover .tr {
background-position:right top;
}
.notification_red .br, .instr_counter .br, .genre_selector .br,
#search_filters_genre .selector_disabled:hover .br {
background-position:right bottom;
}
.notification_red .bl, .instr_counter .bl, .genre_selector .bl,
#search_filters_genre .selector_disabled:hover .bl {
background-position:left bottom;
padding:0 6px 1px;
margin-top: 1px;
}





/* TOOLTIP */
.tooltip_small {
	background: transparent url('../images/dark-pointer-padded.gif') no-repeat right bottom;
	left: auto;
	position: absolute;
	bottom: 31px;
	padding-bottom: 4px;
}

.tooltip_small strong {
	color: yellow; /* change me */
	background: #282828;
	display: block;
	text-align: center;
	padding: 3px 8px;
	font-weight: normal;
}

.playlist_actions { right: 4px; }
.activity { right: 40px; }

/* Instruments icons tooltip */
.tooltip_instr {
	background: transparent url('../images/dark-pointer-padded.gif') no-repeat left bottom;
	left: auto;
	position: absolute;
	padding-bottom: 4px;
	margin-top: -18px;
	display: none;
}
.tooltip_instr strong {
	color: yellow; /* change me */
	background: #282828;
	display: block;
	text-align: center;
	padding: 2px 7px;
	font-weight: normal;
}

/* PLAYLIST */
#playlist_container {
	width: 232px;
	background-color: #CCCCCC;
	position: absolute;
	right: 0;
	margin-top: -300px; /* RISOLVERE POSIZIONAMENTO PLAYLIST ;\ */
	border: 1px solid #B3B3B3;
}
table.display .song_controls {
	width: 100%;
	margin: 12px 0 0 0;
}


/* AGGIUNGERE MALEDETTO CSS PER CAMBIARE BACKGROUND TR MOUSE OVER */

#playlist_tabs, #playlist-songs, #playlist-instr { padding: 0; }

#playlist_container h2 {
	margin: 7px 0 6px 8px;
}


/* DATA TABLES CUSTOM */
#playlist_filter {
	float: left;
	margin: 4px;
	width: 224px !important;
	text-align: left;
}
#playlist_filter input {
	width: 193px;
	padding: 4px 4px 4px 23px;
	margin: 0;
	border: 1px solid #999999;
	background: #FFFFFF url('../images/icons/input_search.gif') no-repeat left;
}

#playlist_wrapper .dataTables_paginate {
	float: left !important;
	text-align: left !important;
	width: 180px !important;
	cursor: pointer;
}

#playlist_wrapper table.display thead th, .dataTables_length { display: none !important; }
#playlist_wrapper table.display td {	
	background-color: #014D70; 
	border-top: 1px solid #305A78;
	border-bottom: 1px solid #00172B;
}
#playlist_wrapper .dataTables_wrapper {
	background-color: #014D70;
}
