.navigation a:link, .navigation a:visited,
.facebook, .facebook:visited, 
.instr_type .current a, .maingenre_type .current a,
#gear-tabs .current a {
	color: #00385D;
}

.none,
.navigation a, .join_button, .login_button,
#bottom_footer li a, .tag_genre a,
.pick_ad, .facebook:hover,
.pick_page_anchors .anchors, .interview a,
.song_title, .song_author,
.control_add, .control_mix, .control_play, .item_count,
.lastfm_lists,
.footer_name_link,
.expl_links li a,
.mband_count, .mband_more, .mband_more_tag a, .mband_name, .mband_browse, .mband_browse:hover,
.instr_type a, .instr_type a:hover, .instr_type a:visited,
.maingenre_type a, .maingenre_type a:hover, .maingenre_type a:visited,
.shadow_big a, .flickr_link a:hover,
h2 a {
	text-decoration: none !important;
}

.none:hover,
#bottom_footer li a:hover, .tag_genre a:hover, .interview a:hover,
.item_count:hover, .footer_name_link:hover,
.expl_links li a:hover, #expl_hide:hover,
.mband_count:hover, .mband_more:hover, .mband_more_tag a:hover, .mband_name:hover,
.shadow_big a:hover, .mband_browse span:hover, .song_show p a:hover {
	text-decoration: underline;
}

.white,
.join_button, .login_button,
#bottom_footer li a:link, #bottom_footer li,
#top_footer h2, .footer_copy,
.pick_info, .song_block .tracks_count,
.song_controls li a,
.chart_value,
#top_footer .song_title, #top_footer .song_author,
.footer_right_content .gray_spec,
.footer_name_link,
#playlist .song_title, #playlist .playlist_song_title:visited,
#expl_banner h1, #expl_banner p,
.multitrack_search .instr_type .current a  {
	color: #FFFFFF;
}
#bottom_footer li a:visited {
	color: #FFFFFF; /* change it! */
}

.status_green { color: #8CC63F; }
.highlight { background: #D4EDFF; }


.join_button {
	background-color: #8CC63F;
	border-bottom: 1px solid #8CC63F;
}
.cancel_button {
	background-color: #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.cancel_button:hover { border-bottom: 1px solid #999999; }


.pick_page_anchors .anchors {
	background-color: #C0E8FF;
}
.pick_page_anchors .anchors:hover {
	border-bottom: 1px solid #64BEE0;
}
.pick_page_anchors .anchors, 
.song_title, .song_author, 
.lastfm_lists, 
.gear_spec strong, .heading,
#mission_tutorial h1, #mission_search h1 {
	color: #00385D;
}
.pick_page_anchors .song { color: #C0E8FF; }
.pick_page_anchors .song:hover { color: #FFFFFF; border-bottom: 0; }

.item_count, .mband_count, .mband_more, .mband_browse, .more, .facebook:hover {
	color: #0071BC;
}

.gray_spec, .footer_right_content .lastfm_lists,
label { color: #999999; }

.sixsixsix, .flickr_link a:hover { color: #666666; }

.video_thumb .gray_spec:hover { color: #CCCCCC }

.control_add { background-color: #999999; }
.control_mix { background-color: #FF5600; }
.control_play { background-color: #00AC00; }

h2, h2 a, .rightCol h2, .mband_name, .subtitle {
	color: #064970;
}

.expl_links li a {
	color: #EAF7FF;
}

#app_bar, #app_bar_content {
	background-color: #0296C2;
}

.instr_type a, .maingenre_type a {
	color: #0296C2;
}


.song_block .tracks_count, #instr_show { background-color: #006F9F; }
.song_block .instr_avatar { }


.join_button:hover {
	border-bottom: 1px solid green;
}

.login_button, .pick_page_anchors .song,
#expl_banner {
	background-color: #00385D;
}
.login_button:hover {
	color: #C0D4E8;
}

#bottom_footer, .mband_pick_footer .snip, .mband_more_tag a, .song_pick_footer .snip,
.answer_pick_footer .snip {
	background-color: #001E35;
}
.bottom_footer_grad {
	background-color: #093253;
}
#top_footer {
	background-color: #0A385D;
}
.top_footer_grad {
	/*background-color: #64BEE0;*/
	background-color: #D4D4D4;
}

.pick_wrap h1, #playlist_container h2, 
.song_show h3, .song_show p a, .author_info h2, .heading_blue {
	color: #0A385D;
}

#bottom_footer h2, .footer_copy a:link, .footer_copy a:visited,
#playlist .song_author {
	color: #64BEE0;
}

#top_footer .subtitle {
	color: #BAE6FF;
}

/* GLOBAL LINK COLOR */
.tag_genre a, a, #expl_hide {
	color: #0099FF;
}
.mixable_link a {
	color: #0099FF !important;
	font-size: 10px !important;
	font-weight: normal !important;
}

.you_know span {
	color: #282828;
}

.you_know span a:link, .you_know a:visited,
.extended_wall span a:link, .extended_wall a:visited {
	color: #5794C6;
}

.mband_more_tag a {
	color: #29ABE2;
}

.shadow_big a, #instr_list_box .instr_type li a:hover {
	color: #ADD9FF;
}

.cat_title, .keyword_lists a:hover {
	color: #014D70;
}

.answer_pick_footer .snip p {
	color: #B2D4E2;
}

.gray5 { background-color: #F2F2F2; }
.blue7 { background-color: #EDF5F8; }

.sidebar_balloon { background-color: #FFFF9F; }
.status_balloon { background-color: #FFFFC7; }


/* DIALOGS borders */
.ui-dialog { border-width: 7px; border-style: solid; }
.dialog_join { border-color: #94BD5E; }
.change_avatar, .mband_dialog { border-color: #6F9ABD; }
.share_song { border-color: #E56F33; }
.share_media { border-color:  #B4D3E3; }
.tagging { border-color: #0296C2; }
.gears { border-color: #6F5E40; }



/* share_songs_action dialog selectable */
#action_song .ui-selected, #action_instr .ui-selected, { background-color: #FFFF9F; }
#action_song .ui-selecting, #action_instr .ui-selecting, { background-color: #FFFFC7; }



.stage_bg { background-color: #88AED2; }
.stage_bar { background-color: #EDEDED; }

.question_blue { color: #0070A0; }
.dark_gray { color: #4D4D4D; }
.lighter_gray { background-color: #F1F1F1; }