/* Site icons */
/* wall share */
.share_links_wall li a { padding-left: 21px; }


/* profile + */
.newmail_icon { border-bottom: 1px solid #CCCCCC; background: url('../images/icons/mailbox/email_add.png') no-repeat center left; }
.unread_icon { background: url('../images/icons/mailbox/bullet_blue.png') no-repeat left; }
.inbox_icon, .share_icon { margin-top: 10px; background: url('../images/icons/mailbox/email.png') no-repeat center left; }
.collab_icon { background: url('../images/icons/mailbox/arrow_in.png') no-repeat center left; }
.freq_icon { background: url('../images/icons/mailbox/group.png') no-repeat center left; }
.mbands_icon { background: url('../images/icons/mband_big.png') no-repeat center left; }
.mbands_small_icon { background: url('../images/icons/mband_small.png') no-repeat center left; }
.admire_icon { background: url('../images/icons/heart.png') no-repeat center left;}
.sendmessage_icon { background: url('../images/icons/mailbox/email_go.png') no-repeat center left;}
.podcast_icon { background: url('../images/icons/podcast.png') no-repeat top left;}
.tag_add_icon { background: url('../images/icons/tag_add.png') no-repeat top left; }
.download_icon { background: url('../images/icons/disk.png') no-repeat center left; }
.pictures_icon { background: url('../images/icons/pictures.png') no-repeat top left; }
.edit_icon { background: url('../images/icons/pencil.png') no-repeat top left; }
.wall_icon { background: url('../images/icons/report.png') no-repeat top left; }
.tag_yellow_icon { background: url('../images/icons/tag_yellow.png') no-repeat top left; }
.private_icon { background: url('../images/icons/key.png') no-repeat top left; }
.private-bullet_icon { background: url('../images/icons/bullet_key.png') no-repeat top left; }
.music_icon { background: url('../images/icons/music.png') no-repeat top left; }
.facebook_icon { background: url('../images/icons/facebook.gif') no-repeat bottom right; }
.share_song_icon { background: url('../images/icons/music.png') no-repeat top left; }
.share_picture_icon { background: url('../images/icons/picture.png') no-repeat top left; }
.share_video_icon { background: url('../images/icons/television.png') no-repeat top left; }
.instruments_icon { background: url('../images/icons/instruments.png') no-repeat top left; }
.creativecommons_icon { background: url('../images/icons/creative_commons.gif') no-repeat top left; }
.user_icon { background: url('../images/icons/user.png') no-repeat top left; }
.alert-bullet_icon { background: url('../images/icons/bullet_error.png') no-repeat top left; }
.add_icon { background: url('../images/icons/add.png') no-repeat top left; }



/* lists */
.icons { display: block; }
.icons16 { display: block; width: 16px; height: 16px; }
.icons18 { display: block; width: 18px; height: 18px; }
.padleft23 { padding-left: 23px; }
.padleft16 { padding-left: 16px; }
.padleft7 { padding-left: 7px; }

.user_online_icon { background: url('../images/icons/profile/bullet_green.png') no-repeat top left; }

.lightbulb { background: url('../images/icons/lightbulb.png') no-repeat left top; }
.world { background: url('../images/icons/world.png') no-repeat left top; }
.stats { background: url('../images/icons/chart_line.png') no-repeat left top; }

.follow_us .rss { background: url('../images/icons/feed.png') no-repeat; }
.follow_us .podcast { background: url('../images/icons/podcast.png') no-repeat; }
.follow_us .myspace { background: url('../images/icons/user.png') no-repeat; }
.follow_us .facebook { background: url('../images/icons/facebook.gif') no-repeat; }





/* Instruments Icons */

/* images */
.instr { 
	width: 40px;
	height: 40px;
	display: block;
	background-image: url('../images/icons/instruments_blue.png');
 }
.instr_white { 
	width: 40px;
	height: 40px;
	display: block;
	background-image: url('../images/icons/instruments_white.png');
 }

.instr_big { 
	width: 60px;
	height: 60px;
	display: block;
	background-image: url('../images/icons/instruments_white_big.png');
 }
.instr_blue_big { 
	width: 60px;
	height: 60px;
	display: block;
	background-image: url('../images/icons/instruments_blue_big.png');
 }


.shadow_white { 
	background: url('../images/icons/instruments_shadow.png') no-repeat top;
	text-align: center;
	cursor: pointer;
}
.shadow_blue {
	background: url('../images/icons/instruments_shadow_big.png') no-repeat top;
}
.shadow_big { 
	background: url('../images/icons/instruments_shadow_big.png') no-repeat top;
	margin: 20px 16px 0 34px;
	padding-bottom: 13px;
	text-align: center;
	cursor: pointer;
}



/* INSTR Positioning */
