img,
input,
.bg-top-body,
.bg-bottom-body,
.whiteblock-shadow,
.bottom-shadow,
.bottom-shadow-reverse,
.bottom-shadow-big,
.box-rounded-gray,
.mlab-enter,
.yellow-box h1,
.yellow-box .bottom-box,
.cyan-box h2,
.cyan-box h2.mband-label,
.cyan-box h2.band-label,
.cyan-box h2.dj-label,
.cyan-box .top-box,
.white-box h2,
.white-box h2.mband-label,
.white-box h2.band-label,
.white-box h2.dj-label,
.white-box .top-box,
.tracks-number,
.keycode-button,
.rounded-cyan-top,
.rounded-cyan-bottom,
.rounded-lightblue-top,
.rounded-lightblue-bottom,
.rounded-angle-white-370,
.tit-classification-songs h1,
.tit-classification-tracks h1,
.white-box-right-bottom,
.white-box-right-top
{
behavior: url(/stylesheets/iepngfix.htc)
}
* html .yellow-box h1,
* html .cyan-box h2,
* html .white-box h2,
{
	width:235px;
}
* html .white-box-right-bottom,
* html .white-box-right-top{
	width:214px;
	height:9px;
}