/* Instruments Icons */

/* images */
.instr { 
	width: 40px;
	height: 40px;
	display: block;
	background-image: url('../images/icons/instruments_white.png');
 }

.shadow_big { 
	background: url('../images/icons/instruments_shadow_big.png') no-repeat top;
	margin: 20px 16px 0 34px;
	padding-bottom: 13px;
	text-align: center;
	cursor: pointer;
}
.instr_big { 
	width: 60px;
	height: 60px;
	display: block;
	background-image: url('../images/icons/instruments_big.png');
 }



/* INSTR Positioning */

/* first row */
.icon_1 { background-position: 0 0; }
.icon_2 { background-position: -40px 0; }
.icon_3 { background-position: -80px 0; }
.icon_4 { background-position: -119px -1px; }
.icon_5 { background-position: -159px 0; }
.icon_6 { background-position: -198px -1px; }
.icon_7 { background-position: -238px -1px; }
/* second row */
.icon_8 { background-position: 0 -40px; }
.icon_9 { background-position: -40px -40px; }
.icon_10 { background-position: -80px -40px; }
.icon_11 { background-position: -120px -40px; }
.icon_12 { background-position: -160px -40px; }
.icon_13 { background-position: -200px -40px; }
.icon_14 { background-position: -238px -40px; }
/* third row */
.icon_15 { background-position: -2px -80px; }
.icon_16 { background-position: -40px -80px; }
.icon_17 { background-position: -80px -80px; }
.icon_18 { background-position: -120px -80px; }
.icon_19 { background-position: -159px -80px; }
.icon_20 { background-position: -200px -80px; }
.icon_21 { background-position: -240px -80px; }
/* fourth row */
.icon_22 { background-position: 0 -120px; }
.icon_23 { background-position: -40px -120px; }
.icon_24 { background-position: -80px -120px; }
.icon_25 { background-position: -120px -120px; }
.icon_26 { background-position: -160px -120px; }
.icon_27 { background-position: -198px -120px; }
.icon_28 { background-position: -238px -120px; }
/* fifth row */
.icon_29 { background-position: 0 -160px; }
.icon_30 { background-position: -40px -160px; }
.icon_31 { background-position: -80px -160px; }
.icon_32 { background-position: -119px -160px; }
.icon_33 { background-position: -160px -160px; }
.icon_34 { background-position: -200px -160px; }
.icon_35 { background-position: -238px -160px; }





/* INSTR BIG Positioning */

/* first row */
.icon_41 { background-position: 0 0; }
.icon_42 { background-position: -60px 0; }
.icon_43 { background-position: -120px 0; }
.icon_44 { background-position: -179px -1px; }
.icon_45 { background-position: -239px 0; }
.icon_46 { background-position: -299px -1px; }
.icon_47 { background-position: -358px -1px; }
/* second row */
.icon_48 { background-position: 0 -60px; }
.icon_49 { background-position: -60px -60px; }
.icon_50 { background-position: -120px -60px; }
.icon_51 { background-position: -180px -60px; }
.icon_52 { background-position: -240px -60px; }
.icon_53 { background-position: -300px -60px; }
.icon_54 { background-position: -358px -60px; }
/* third row */
.icon_55 { background-position: -2px 120px; }
.icon_56 { background-position: -60px -120px; }
.icon_57 { background-position: -120px -120px; }
.icon_58 { background-position: -180px -120px; }
.icon_59 { background-position: -239px -120px; }
.icon_60 { background-position: -300px -120px; }
.icon_61 { background-position: -360px -120px; }
/* fourth row */
.icon_62 { background-position: 0 -180px; }
.icon_63 { background-position: -60px -180px; }
.icon_64 { background-position: -120px -180px; }
.icon_65 { background-position: -180px -180px; }
.icon_66 { background-position: -240px -180px; }
.icon_67 { background-position: -298px -180px; }
.icon_68 { background-position: -358px -180px; }
/* fifth row */
.icon_69 { background-position: 0 -240px; }
.icon_70 { background-position: -60px -240px; }
.icon_71 { background-position: -120px -240px; }
.icon_72 { background-position: -179px -240px; }
.icon_73 { background-position: -240px -240px; }
.icon_74 { background-position: -300px -240px; }
.icon_75 { background-position: -358px -240px; }