body {
	margin: 0;
	background: #F0F0F0 url('../images/body_grad.gif') repeat-x top;
	color: #000000;
}

#header {
	position: relative;
	top: 0;
	margin: auto;
	width: 969px;
	height: 100px;
}

.logo {
	width: 174px;
	height: 47px;
	position: absolute;
	left: 0;
	margin-left: 8px;
}


/* GENERAL RULES */
img { border: 0px; }
.fleft { float: left; }
.fright { float: right; }
.alright { text-align: right; }
.alleft { text-align: left; }
.block { display: block; }
.clear { clear: both; }
ul { padding: 0; margin:0; }
.margin30 { margin-top: 30px }
.margin7 { margin-top: 7px }
.paddingtop5 { padding-top: 5px; }
.marginleft10 { margin-left: 10px; }
input { border: 0; font-size: 12px; }
.border { padding: 1px; border: 1px solid #CCCCCC; display: block; }
.nomargin { margin: 0 !important; }
.nopad { padding: 0 !important; }
.invisible { display: none !important; }
.visible { display: visible !important; }
.overflow-hidden { overflow: hidden; }

/* BLOCK  DIMENSION SPEC */
.w454 { width: 454px; } /* pick of the week, most player artist */
.w440 { width: 440px; } /* footer right content */
.w343 { width: 343px; } /* song pick */
.w500 { width: 500px; } /* friends list */


/* DIALOGS FORMS */
label, input { display:block; }
input.text { 
	margin-bottom:12px; 
	width:93%; 
	border: 1px solid #CCCCCC; 
	font-size: 15px !important;
	font-weight: bold;
	color: #696969;
	padding: 6px 9px;
}


fieldset { padding:0; border:0; margin-top:25px; }
div#users-contain {  width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
#validateTips { padding: 5px; }

.dialog_help { margin: 0 0 10px 0; }



/* MENU */
.navigation {
	margin: 55px 0 -3px 8px;
	padding: 0 0 10px 0;
}
.navigation li {
	display: inline;
	list-style: none;
	padding: 0 30px 10px 0;
}
.navigation li.last { padding-right: 0; }
.navigation .current {
	background: transparent url('../images/menu_current.gif') no-repeat bottom center;
	padding: 0 0 10px 0;
}


/* HEADER LOGIN JOIN BAR */
.pick_page_anchors .anchors {
	padding: 1px 7px;
}
.join_button { padding: 3px 11px; }

.login {
	padding: 0;
	margin-top: 13px;
}
.login li {
	margin: 0;
	display: inline;
	list-style: none;
	padding-right: 5px;
}
.facebook_img {
	position: absolute;
	margin-top: -1px;
}

.login_button {
	padding: 1px 10px;
	margin-left: 15px;
}


/* SITE SEARCH */
.main_search_box {
	width: 390px;
	height: 25px;
	margin: 2px 5px 0 0;
}
.search_input {
	margin-right: 5px;
	width: 310px;
	font-size: 13px;
	color: #696969;
	padding: 3px 7px;
	border: 1px solid #CCCCCC;
}

.search_submit {
	border: 0;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	color: #FFFFFF;
	background: url('../images/go_bg.png') repeat-x left top;
	padding: 3px 7px;
}
.search_submit:hover { background: url('../images/go_bg.png') repeat-x left bottom; }


/* results page */
.searched li { 
	list-style: none;
	overflow: hidden;
	padding: 15px 4px;
	border-bottom: 1px solid #E6E6E6;
}

.search_results {
	padding: 0 0 22px 6px;
	border-bottom: 1px solid #E6E6E6;
}
.result_lane { width: 80%; }

table#search_table .video_thumb {
	margin: 0;
	height: 60px; 
}
table#search_table .photo_thumb img { padding: 1px; border: 1px solid #FFF; }
table#search_table .photo_thumb img:hover { border: 1px solid #88AED2; }


/* IMAGE ROUND CORNER LAYOUT */
#breadcrumb_bar, #bottom_bar {
	margin: auto;
	width: 969px;
	height: 20px;
	overflow: hidden;
}
#bottom_bar { margin-bottom: 28px; }

/* white */
.corner_lt {
	width: 20px;
	height: 20px;
	background: transparent url('../images/content_lt.png') no-repeat;	
}
.bar_rp {
	width: 929px;
	height: 20px;
	background: transparent url('../images/content_top_rp.png') repeat-x;		
}
.corner_rt {
	width: 20px;
	height: 20px;
	background: transparent url('../images/content_rt.png') no-repeat;		
}

/* blue */
.corner_lt_blue {
	width: 20px;
	height: 20px;
	background: transparent url('../images/content_lt_blue.png') no-repeat;	
}
.bar_rp_blue {
	width: 929px;
	height: 20px;
	background: transparent url('../images/content_top_rp_blue.png') repeat-x;		
}
.corner_rt_blue {
	width: 20px;
	height: 20px;
	background: transparent url('../images/content_rt_blue.png') no-repeat;		
}

.corner_lb {
	width: 20px;
	height: 20px;
	background: transparent url('../images/content_lb.png') no-repeat;	
}
.bottom_rp {
	width: 929px;
	height: 20px;
	background: transparent url('../images/content_bottom_rp.png') repeat-x;		
}
.corner_rb {
	width: 20px;
	height: 20px;
	background: transparent url('../images/content_rb.png') no-repeat;		
}



/* CONTENT AND WRAPPER */
#content {
	margin: auto;
	width: 969px;
	background: transparent url('../images/content_bg.png') repeat-y top;
	clear: both;
	overflow: visible;
	position: relative;

}

.leftCol {
	width: 100%;
	overflow: hidden;
	display: inline;
	margin-right: -246px;
	background: url('../images/contentr_sidebar_wrap.gif') repeat-y right top;
}
.leftColWrapper {
	margin-right: 246px;
	overflow: hidden;
	padding: 13px 10px 10px 16px;
}
.leftColMin {
	width: 850px;
}
.rightCol {
	width: 210px;
	position: relative;
	display: inline;
	padding: 18px 16px;
}
.rightColMax {
	width: 330px;
}




/* HOME CALL TO ACTION */
#call-block { margin: 10px 0 0 5px; }
.callbox_text { 
	background: url('../images/calltoaction_text.jpg') no-repeat;
	width: 247px; height: 90px; 
	margin: 0 10px 0 0; 
}

.calltoaction .song_block { border: none; width: 380px; }
.calltoaction .song_block:hover { background: none; }
.calltoaction { 
	background-image: url('../images/calltoaction_bg.jpg'); 
	height: 57px; padding-top: 8px;
	margin-top: 13px;
}
.calltoaction.left { 
	background-position: left; 
	background-repeat: no-repeat; 
	width: 6px; 
	margin-left: 20px; 
}
.calltoaction.repeat { background-image: url('../images/calltoaction_rp.jpg') ; background-repeat: repeat-x; }
.calltoaction.right { background-position: right; background-repeat: no-repeat; width: 6px; }

.action_pager { 
	background-image: url('../images/calltoaction_pager.png');
	width: 10px; height: 28px;
	cursor: pointer;
	margin: 9px 7px;
}
.action_pager.prev { background-position: top left; }
.action_pager.prev:hover { background-position: bottom left; }
.action_pager.next { background-position: top right; }
.action_pager.next:hover { background-position: bottom right; }

.action_start { 
	background: url('../images/calltoaction_start.png') no-repeat;
	width: 138px; height: 51px;
	margin: 0 15px 0 10px;
	cursor: pointer;
}



/* PICK OF THE WEEK LAYOUT */
.pick_wrap {
	width: 697px;
	padding: 3px 0 15px 0;
	background: transparent url('../images/pick_head_bg.gif') repeat-x top;
	overflow: hidden;
}
.pick_wrap .pick_ad {
	width: 454px;
	height: 255px;
}

.pick_wrap.today_instrument { background: none; border-top: 1px solid #CCCCCC; }

/* SONG PICK AD */
.pick_wrap .song_ad {
	width: 343px;
	height: 191px;
}
.today_badge {
	width: 100%;
	height: 43px;
	background: url('../images/today_badge.png') no-repeat right;
}
.video_play_badge {
	width: 100%;
	height: 48px;
	background: url('../images/video_play_badge.png') no-repeat left;
	margin-top: 100px;
}



.pick_info { 
	margin: 0;
	position: relative;
	top: 5px; left: 0;
}
.pick_info strong {
	background-color: #00385D;
	padding: 5px 11px;
	line-height: 17px;
}
.secline {
	margin: 10px 0 20px 0;
	font-size: 21px;
}
.song_interview { margin: 22px 0 22px 0; }



.pick_details {
	margin-left: 10px;
	width: 233px;
	height: 100%;
}
.pick_details .mband_icon  {
	padding: 0 0 5px 23px;
	background: url('../images/icons/mband_big.png') no-repeat 0 1px;
}

.pick_details h1, .pick_details .mband {
	margin: 8px 0 0 0;
}




/* most player artist related */
.item_count { margin-top: 4px; }

.rightCol .video_thumb {
	width: 200px;
	height: auto;
	padding: 2px;
	margin: 2px 3px 0 4px;
	cursor: pointer;
	overflow: hidden;
}
.video_thumb {
	width: 103px;
	height: 90px;
	padding: 2px;
	margin: 17px 3px 0 4px;
	cursor: pointer;	
}
.max_sidebar_videos .video_thumb, .video_lists .video_thumb {
	width: 102px;
	margin: 0 !important;
}
.max_sidebar_videos .video_thumb img { margin: 0 !important; }
.max_sidebar_videos .video_lists li { padding: 0 !important; }


.bands_new img:hover, .video_thumb img:hover { border: 1px solid #999; }
.bands_new img, .video_thumb img {
	border: 1px solid #ccc;
	padding: 1px;
}


.rightCol .video_thumb img, .rightCol .bands_new img { margin-right: 5px; }

.video_thumb .still_play {
	background: url('../images/video_still_play.png') no-repeat right center;
	width: 99px;
	height: 29px;
	position: absolute;
}

.sidebar_videos li { overflow: hidden; margin-left: 0 !important; }
.max_sidebar_videos li { 
	overflow: hidden; 
	margin: -1px !important;
	display: inline-block;
}

.video_lists li {
	display:inline-block;
	margin:0 !important;
	overflow:hidden;
	padding-left: 3px;
}




/* lastfm link box */
.lastfm_box {
	width: 225px;
	border: 1px solid #E6E6E6;
	margin: 7px 0 12px 0;
}
.lastfm_box .fmlinks {
	padding: 0;
	margin: 5px 10px 7px 10px;
	width: 205px;
}
.footer_right_content .fmlinks { margin: -4px 4px 3px 0 ; padding: 0; }
.song_pick_footer .fmlinks { 
	margin: -53px 4px 3px 0 ; 
	padding-left: 10px; 
	border-left: 1px dotted #006F9F;
}


.fmlinks li, .footer_right_content .fmlinks li {
	list-style: none;
	position: relative;
}
.fmlinks li { margin: 0 0 1px 55px; }
.footer_right_content .fmlinks li { margin: 0 0 1px 0; }

.fmlinks .gray_spec { margin-bottom: 5px; }
.footer_right_content .gray_spec { 
	background: url('../images/lastfm_tag.jpg') no-repeat;
	line-height: 10px; 
	padding: 0 0 5px 50px;
}

.lastfm_lists {
	background: url('../images/lastfm_list_icon.png') no-repeat;
	padding-left: 18px;
}

/* RIGHT FOOTER CONTET SNIP */
.snip { width: 290px; margin-top: 5px; }
.snip .tag_genre, .snip .footer_name_link, .snip .item_count { margin-left: 5px !important; }

.mband_pick_footer .footer_name_link {
	background: url('../images/icons/mband_small.png') no-repeat;
	margin-left: 88px !important;
	padding: 0 0 7px 17px;
}


.mband_pick_footer .item_count { margin-top: 6px; padding-left: 85px; }

.mband_pick_footer .snip, .song_pick_footer .snip { 
	padding: 7px 8px 6px 5px;
	width: 420px;
	height: 55px;
 }
.answer_pick_footer .snip { 
	padding: 3px 8px 6px 5px;
	width: 427px;
	height: 59px;
 }
.answer_pick_footer .snip p {
	padding-left: 76px;
	margin-top: 11px;
}


.footer_right_content .mband_more_tag { border-top: 1px solid #001E35 !important; }
.mband_more_tag a { padding: 1px 10px 2px 10px; }

.mband_pick_footer .snip .mband_flags { margin-top: -55px; padding:0;}

.mband_flags li {
	display: inline;
	margin-left: 3px;
}



/* SONG BLOCK */
.song_block, .instr_block, #top_footer .song_block {
	width: 100%;
	height: 43px;
	padding-top: 4px;
}
.sidebar_block { width: 205px !important; }

.song_block, .instr_block { border-bottom: 1px solid #E6E6E6;}
#top_footer .song_block { border-top: 1px solid #305A78 !important; border-bottom: none !important; }

#top_footer .song_block:hover { background-color: #104063; }
.song_block:hover, .instr_block:hover { background-color: #F2F2F3; }
.song_block .avatar, .song_block .tracks_count, .avatar {
	width: 40px;
	height: 40px;
}
.song_block .avatar, .song_block .tracks_count, .instr_avatar {
 	margin-left: 5px;	
}




/* SONG SHOW PAGE EXPANDED BLOCK */
.song_expanded {
	background-color: #F2F2F2;
	border-bottom: 1px solid #64BEE0;
}
.song_expanded .song_controls a { padding: 2px 4px; }
.tree_conn {
	width: 509px;
	background: url('../images/song_tree.gif') repeat-y left top;
}
.tree_conn_last {
	width: 509px;
	background: url('../images/song_tree_last.gif') no-repeat left top;
	margin-bottom: 15px;
}

.tree_conn p { 
	margin: 6px 0 0 24px;
	padding-bottom: 3px;
	border-bottom: 1px solid #E6E6E6;
}
.tree_elem {
	width: 488px;
}
.mix_invite h1 { margin: 5px; }


#top_footer .song_block .avatar {
	background: url('../images/thumb_loader.gif') no-repeat center;
}
.song_block .avatar, .avatar {
	background: url('../images/thumb_loader_white.gif') no-repeat center;
}
.song_block .tracks_count {
	cursor: pointer;
	text-align: center;
}
.song_block .tracks_count h3 {
	margin: 4px 0 -3px -1px;
	line-height: 22px;
	letter-spacing: -1px;
}
.song_details {
	padding: 2px 0 0 7px;
}
.song_details .song_title { line-height: 10px; }
.song_details .song_author { line-height: 13px; }

.song_controls {
	padding: 0;
	margin: 24px 4px 0 0 !important;
	direction: rtl;
}
.controls_sidebar {
	direction: ltr !important;
}
.profile_controls_sidebar {
	margin-top: -14px !important;
}

.sidebar_moremixable .song_controls {
	direction: ltr;
	position: relative;
	width: 40px;
	margin: 4px 0 0 5px;
}
.sidebar_moremixable li {
	float: left;
	margin: 0 0 5px 0 !important;
	width: 100%;
}
.sidebar_moremixable li:hover {
	background-color: #F2F2F3;
}

.song_controls li {
	list-style: none;
	display: inline;
	padding-right: 0;
}

.control_add, .control_mix, .control_play { padding: 1px 3px; }
.mixable_link a {
	display: block;
	padding-bottom: 10px;
}


/* SIDEBAR MIXABLE SONG */
.mixable_genre {
	overflow: hidden;
	margin-top: 10px;
	padding: 5px 12px;
	border-bottom: 1px solid #CCCCCC;
	line-height: 21px;
}




/* SIDEBAR COOLEST PEOPLE CHART */
.votes_chart {
	width: 202px;
	height: 40px;
}
.people_chart .song_author {
	line-height: 16px !important;
}
.chart_value {
	margin-left: -4px;
	padding-right: 4px;
	background: url('../images/chart_bar.gif') no-repeat center right;
}

/* COOLEST SONG LIST CHART */
.song_chart {
	border-bottom: 1px solid #E6E6E6;
	width: 231px;
	height: 41px;
	margin-top: 6px;
	padding-left: 5px;
}



/* RIGHTCOL SIDEBAR LISTS RULES */
.rightCol ul {
	width: 202px;
	margin: 0;	
}
.rightColMax ul { width: 100% !important; }


.rightCol li {
	margin: 0 0 10px 5px;
	list-style: none;	
	overflow: hidden;
}
.rightCol h2 {
	margin: 0 0 10px 0;
}

ul.icon_lists li {
	padding-left: 20px !important;
}


.divider {
	border-bottom: 1px dashed #CCCCCC;
	margin: 15px 0 15px -16px;
	padding-right: 28px; 
	width: 100%;
}

.rightCol .avatar { margin-right: 4px; }
.rightCol .tag_genre { margin-bottom: 10px; }


/* RELATED LISTS */
.related_list {
	padding: 0;
	margin-top: 20px;
	width: 100%;
}
.related_list h2 {
	margin: 0 0 8px 0;
}
.related_list li {
	list-style: none;
	display: inline;
	margin-left: 3px;
}


/* SIDEBAR YOU KNOW */
.you_know span {
	padding-left: 21px;
}




/* FOOTER */
#bottom_footer, .bottom_footer_grad {
	width: 960px;
	height: 188px;
}
.bottom_footer_grad {
	margin-top: 8px;	
}
#top_footer, .top_footer_grad {
	width: 960px;
	margin: auto;
}

.bottom_footer_grad, .top_footer_grad {
	padding-top: 6px;
}
#bottom_footer h2 {
	width: 200px;
	border-bottom: 1px dotted #64BEE0;
	margin: 18px 0 9px 0 !important;
	padding: 0 0 4px 5px;
}
#bottom_footer ul {
	padding-left: 28px;
	margin: 0;
}
#bottom_footer ul li {
	list-style: none;
	padding: 0 0 1px 5px;	
}

/* FOLLOW US LIST */
.follow_us li {
	padding-bottom: 4px !important;
}
.follow_us a {
	padding: 1px 0 1px 20px;
}

h2 {
	margin: 0;
}

/* FOOTER CONTENT */
.top_tags {
	width: 433px;
	margin: 20px 0 14px 0;

	padding-left: 25px;
}
.footer_right_content .tag_genre { display: inline; }

.tag_genre {
	margin: 0;
}
.tag_genre a {
	padding-right: 2px;
}
.pick_wrap .tag_genre a {
	padding: 1;
}

.pick_page_anchors { 
	padding: 0; 
	margin: 29px 0 17px 0;
}

.pick_page_anchors li {
	list-style: none;
	display: inline;
	padding-right: 5px;
}


.best_people, .new_band {
	padding: 0;
	margin: 0 0 0 25px;

}
.best_people li, .new_band li {
	list-style: none;
	display: inline;
}

.subtitle { margin-bottom: 7px; }
.song_lists_head .subtitle { margin-top: 15px; }

.best_people .user_thumb, .new_band .user_thumb {
	margin-right: 9px;	
}
.loaded {
	margin-left: -44px;
}

.footer_right_content {
	position: absolute right;
	width: 433px;
	margin: 20px 25px 0 0;
	padding: 0;
}
.footer_right_content .border_list {
	list-style: none;
	border-top: 1px solid #00172B;
	overflow: hidden;
}


.footer_copy {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}



/* MISSION TUTORIAL */
#mission_tutorial {
	width: 720px;
	height: 226px;
	margin-left: 5px;
}
#mission_search {
	width: 238px;
	height: 226px;
	margin-left: 2px;
}
.search_call {
	margin: 46px 0 18px 11px;
}
.search_call_input {
	border: 0;
	margin: 0 5px 0 9px;
	height: 20px;
	width: 150px;
	font-size: 15px;
	font-weight: bold;
	color: #696969;
	padding: 6px 9px;
}

.search_call_submit {
	border: 0;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	height: 32px;
	color: #FFFFFF;
	background: url('../images/go_bg.png') repeat-x left top;
	padding: 0 9px;
}


/* EXPLANATION BANNER */
#expl_banner {
	width: 635px;
	height: 80px;
	margin-bottom: 10px;
	padding: 15px 25px 14px 37px;
}

.expl_band { 
	width: 89px;
	height: 79px;
	margin: 5px 20px 0 0;
	background: url('../images/icons/expl_band_icon.jpg') no-repeat left; 
}

#expl_hide { margin-top: -5px; cursor: pointer; }
#expl_banner h1 {
	margin: 0 0 10px 0;
}
#expl_banner p { margin: 0; line-height: 16px; }

.expl_links {
	padding: 0;
	margin: 0;
	list-style: none;
}
.expl_links li {
	display: inline;
}
.expl_links li a {
	background: url('../images/icons/expl_link_list.jpg') no-repeat;
	padding: 0 0 0 20px;
	margin-left: 25px;
}


/* MBAND MEMBERS BLOCK */
.mband_members {
	padding: 6px 0 10px 2px;
	width: 100%;
	border-bottom: 1px solid #E6E6E6;
}
.mband_count {
	margin-bottom: 9px;
}

.instr_flag { margin-top: 24px }
.mband_more { margin-top: 6px; }

.mband_members .first_margin { margin-left: 3px; }




/* COOLEST MBAND */
.mband_coolest_wrap {
	width: 697px;
	padding: 3px 0 30px 0;
	overflow: hidden;
	border-top: 1px solid #CCCCCC;
	margin-top: 10px;
}


.mband_coolest_ad { margin-top: 20px; }
.mband_icon { margin-top: 15px !important; }

/* bottom tools */
.bottom_tools {
	width: 100%;
	border-top: 1px solid #E6E6E6;
	margin-top: 10px;
}

.mband_browse {
	background: url('../images/icons/magnifier.png') no-repeat left;
	padding: 3px;
	margin-left: 9px;
}
.mband_browse span {
	padding: 3px 3px 3px 17px;
	margin-right: 6px;
}


/* more active mbands, sidebar */
.mband_name {
	background: url('../images/icons/mband_small.png') no-repeat;
	margin: 4px 0 0 43px;
	padding-left: 18px;
}
.bands_new .mband_name, .bands_new .tag_genre { margin-left: 93px; }
.bands_new .tag_genre { margin-top: 5px; margin-bottom: 5px; }


.newest { margin: 0 !important; }


/* INSTRUMENTS SEARCH */
#instr_search_box { padding-bottom: 15px; }
#instr_search_box, #instr_list_box, #song_list_box, #user_songs_list {
	width: 697px;
	overflow: hidden;
}

.browse_pane, .list_head, .song_lists_head { width: 592px; }
.browse_pane {	overflow: hidden; }
.list_head { margin-top: 10px; }

.pane_heading {
	padding: 10px 0 5px 0;
	border-top: 2px solid #E3F5FF;	
}
.pane_content { width: 100%; }

#instr_show {
	width: 100%;
	padding-bottom: 8px;
}

#user_songs_list { margin-top: 25px; }

#user_songs_list .browse_pane_left, #user_friends_list .browse_pane_left { width: 143px; }
#user_songs_list .browse_pane_right { width: 545px; }
#user_friends_list .browse_pane_right { width: 355px; }

.browse_pane_left { width: 105px; }
.browse_pane_right { width: 592px; }

#instr_list_box .browse_pane_right { margin-top: 23px; }
#song_list_box .browse_pane_right, #song_list_box .browse_pane_left { margin-top: 3px; }

.maingenre_type li {
	display: inline;
	float: left;
	padding: 4px 8px;
}


.instr_type li, .maingenre_type li, .music_type li {
	list-style: none;
	font-weight: bold;
}

#instr_search_box .instr_type li:hover, #instr_search_box .maingenre_type li:hover,
#song_list_box .instr_type li:hover, #song_list_box .maingenre_type li:hover,
.music_type li:hover, #gear-tabs li:hover {
	background-color: #E8E8E8;
}
#instr_search_box .instr_type .current, #instr_search_box .maingenre_type .current,
#song_list_box .instr_type .current, #song_list_box .maingenre_type .current, 
.music_type .current, #gear-tabs .current {
	background-color: #D9D9D9;
}
.music_type .current { color: #FFFFFF; }

.instr_type li a {
	display: block;
	padding: 2px 10px 2px 2px;
}
.music_type li {
	display: block;
	padding: 4px 10px 4px 5px;
	margin-bottom: 3px;
}
.music_type li a { text-decoration: none; color: #00385D; }

.loader {
	background: url('../images/loader_small.gif') no-repeat right;
	width: 98px;
	height: 16px;
	margin-bottom: 6px;
}

#music_list, #friends_list {
	border-left: 1px solid #D9D9D9;
	padding-left: 12px;
} 



/* NEWEST LISTS */
#newest_list {
	border-left: 1px dashed #999999;
	padding-left: 19px;
} 
#song_newest_list {
	border-left: 1px solid #D4D4D4;
	border-top: 1px solid #D4D4D4;	
	padding: 5px 0 0 5px;
	width: 586px;
}


/* PAGING */
.paging_bg {
	padding: 5px 4px 6px 6px;
	background-color: #F3F3F3;
}
.profile_music_pager {
	padding: 13px 76px 6px 6px;
}

.bullet_paging, .number_paging {
	list-style: none;
}
.bullet_paging li, .number_paging li {
	margin: 0 !important;
	display: inline;
	float: left;
}
.number_paging li { margin: 0 2px !important; }
.number_paging li a { font-weight: bold; text-decoration: none; }
.number_paging li a:hover { text-decoration: underline; }
.number_paging .pager .prev { margin-right: 5px; }
.number_paging .pager .next { margin-left: 5px; }

.bullet .on, .bullet .off {
	width: 8px;
	height: 8px;
	display: block;
	margin: 4px 7px 0 0;
}
.bullet .on {
	background: url('../images/paging_bullets.png') no-repeat center;
}
.bullet .off {
	background: url('../images/paging_bullets.png') no-repeat top;
}
.bullet .off:hover {
	background: url('../images/paging_bullets.png') no-repeat bottom;	
}

.pager .prev, .pager .next,
.pager_vert .prev, .pager_vert .next,
.mailbox_prev, .mailbox_next {
	width: 30px;
	height: 15px;
	display: block;
}
.pager .prev, .mailbox_prev { background: url('../images/paging_prev.gif') no-repeat top; }
.pager .prev:hover, .mailbox_prev:hover { background: url('../images/paging_prev.gif') no-repeat bottom; }
.pager .next, .mailbox_next { background: url('../images/paging_next.gif') no-repeat top; }
.pager .next:hover, .mailbox_next:hover { background: url('../images/paging_next.gif') no-repeat bottom; }

.pager_vert .prev { background: url('../images/paging_prev_vert.gif') no-repeat top; }
.pager_vert .prev:hover { background: url('../images/paging_prev_vert.gif') no-repeat bottom; }
.pager_vert .next { background: url('../images/paging_next_vert.gif') no-repeat top; }
.pager_vert .next:hover { background: url('../images/paging_next_vert.gif') no-repeat bottom; }



/* ANSWERS */
 .answers_input {
	width: 331px;
	height: 18px;
	border: 1px solid #4D4D4D;
}
.question_search { margin: 20px 0 23px 0; }
.question_search h1 { margin: 0; }


.question_ask {
	padding-top: 2px; 	
	border-top: 1px solid #CCCCCC;
}
.question_ask, .question_reply { width: 344px; margin-bottom: 15px; }

.question_ask h1, .question_reply h1 { padding: 10px 0 10px 0; margin:0; color: #222222; }
.question_ask .inset, .question_reply .inset { 
	padding: 0 10px 8px 10px;
	overflow: hidden;
}
.question_ask .inset { background-color: #D6ECFF; }
.question_reply .inset { background: url('../images/pick_head_bg.gif') repeat-x top; }

.question_box { 
	width: 96%;
	height: 82px;
	border: 1px solid #CCCCCC;
	padding: 4px;
}

.posted_question {
	margin: 11px 28px 0 38px;
	color: #444444;
}

.quote_open, .quote_close {
	width: 22px;
	height: 20px;
}
.quote_open { background: url('../images/icons/quotes.png') no-repeat top; }
.quote_close { margin-top: -8px; background: url('../images/icons/quotes.png') no-repeat bottom; }

#tag_box {
	border: 1px solid #CCCCCC;
	height: 20px;
	width: 90%;
	font-size: 13px;
	color: #222222;
	padding: 3px 0 3px 30px;	
	margin: 10px 0 5px 0;
	background: #FFFFFF url('../images/icons/input_tag_purple.gif') no-repeat top left;
}

.ask_button, .reply_button { 
	padding: 1px 13px; 
	color: #ffffff; 
	font-family: Helvetica;
	margin: 5px 2px 0 0;
	cursor: pointer;
}
.ask_button { background: url('../images/go_bg.png') repeat-x top; }
.ask_button:hover { background: url('../images/go_bg.png') repeat-x bottom; }

.reply_button { background: url('../images/go_bg.png') repeat-x bottom; margin-top: 10px; }
.reply_button:hover { background: url('../images/go_bg.png') repeat-x top; }

/* answers caterogies */
.last_answer_box {
	width: 226px;
	min-height: 300px;
	border-left: 1px solid #E6E6E6;
}
.last_answer_box .inset {
	background: url('../images/answers_box_bg.gif') repeat-x top;
	width: 100%;
	min-height: 300px;
	margin: -3px 0 5px 2px;
}
.central_box { margin: 0 7px; }

.cat_title {
	position: absolute;
	margin-top: -5px;
	padding: 0 0 0 5px;
	width: 214px;
	line-height: 12px;
}
.cat_title img { margin-right: 5px; }
.cat_title strong { display: block; margin-top: 14px; }

.last_answer_box .lists { padding: 44px 10px 0 10px; }
.question_snip {
	width: 100%;
	overflow: hidden;
	padding: 5px 0;
	border-bottom: 1px dashed #D4D4D4;
}
.question_snip span { padding-left: 48px; }
.question_snip p { margin: 0; }

.keyword_lists {
	list-style: none;
}




/* ANSWER_SHOW */
.question_show { border-top: 1px solid #CCCCCC; }
.question_show, .question_replies {
	padding: 8px 5px;
	border-bottom: 1px dotted #999999;	
}

.left_section { width: 21%; padding: 5px 10px; }
.right_section { width: 72%; }

.question_show h1 { margin: 5px 0 22px 0; }
.form_reply { width: 90%; }
.form_reply .reply_box { 
	width: 445px; 
	border: 1px solid #CCCCCC;
	height: 30px;
	padding: 5px;
	font-size: 1.2em;
}
.form_reply .wall_post { margin: 3px -12px 0 0; }





/* SONG DETAIL PAGE SONGSHOW */
.song_show { 
	margin-bottom: 10px;
	width: 308px;
}
.song_show h3, .song_show p { margin: 0; }
.song_show p { margin-top: 4px; }
.song_show p a { font-weight: bold; text-decoration: none; }

.author_info {
	width: 220px;
}
.author_info .podcast_icon {
	padding-left: 18px;
}

.author_info .balloon {
	width: 100%;
	min-height: 30px;
	margin: 6px 0 10px 0;
}
.author_info .balloon .blurp_author { margin-left: 13px; }
.author_info .balloon .status_show {
	background-color: #FFFF9F;
	padding: 5px 8px;
	color: #014D70;
	border-bottom: 1px solid #CCCCCC;
}

/* song show actions */
.song_actions {
	height: 14px;
	padding: 7px 10px;
	margin-top: 15px;
	background-color: #DCF2FF;
}
.song_actions .actions {
	list-style: none;
}
.actions li {
	display: inline;
	padding-left: 19px;
	margin: 0 38px 0 0;
}
.actions .last { margin-right: 0 !important;}

/* stats list */
.stats_list {
	height: 12px;
	padding: 5px 10px;
	margin-bottom: 35px;
	background-color: #DCF2FF;
}
.stats_list .stats {
	list-style: disc;
}
.stats .stats_icon { padding-left: 22px; }
.stats li {
	display: inline;
	margin: 0 8px 0 0;
}
.stats .last { margin-right: 0 !important;}

.sidebar_user_status .list_status .user_name { margin: 0 0 3px 0; }
.sidebar_user_status .list_status .blurp_sidebar { margin-top: 4px; }







/* MULTITRACK */
#project {
	width: 100%;
	height: 80px;
	margin-top: 6px;
	padding-bottom: 10px;
	border-bottom: 1px solid #D9D9D9;
}
#project span.title { 
	padding-bottom: 2px;
	margin-bottom: 4px;
	border-bottom: 1px solid #D9D9D9;
	color: #999999;
}
.project_info, .project_publish { margin-right: 15px; }
.project_info { width: 366px; }
.project_publish { width: 197px; }
.project_save { width: 104px; }
.show_options {
	width: 127px;
	padding-left: 6px;
}
.show_cc { 
	margin-left: 25px;
	padding: 11px;
	border-left: 1px dotted #CCCCCC;
	height: 43px;
}
.project_data label { color: #222222; }
.project_data label, .project_data input {
	display: inline !important;
	float: left;
}
.project_data .radios { margin: 8px 0; }
.project_save_submit {
	border: 0;
	width: 71px;
	height: 41px;
	cursor: pointer;
	margin: 11px 0 0 16px;
	background: url('../images/project_save_button.gif') no-repeat top;
}
.project_save_submit:hover {
		background: url('../images/project_save_button.gif') no-repeat bottom;
}

.project_info .avatar { width: 60px; height: 60px; }
	
#user_identity, #user_identity_ms { width: 65px !important; float: left;}
#user_identity_ms_child {
	top: 16px !important;
	left:0 !important;
	width: 160px !important;
}

.priv_icon_abs { margin-top: -5px; } /* need review */

/*form input*/
.project_data .project_title, .project_data .project_author {
	width: 270px;
	font-size: 13px !important;
	padding: 4px 9px;
	margin: 3px 0 3px 6px; 
}


/* MULTITRACK SIDEBAR */
.insidebar_paging ul {
	width: auto;
}

.full_width_sidebar {
	margin: -18px 0 20px -16px !important;
	padding: 12px 20px 7px 16px;
}
.project_overview span { padding-left: 21px; }
.project_overview a { text-decoration: none; }


/* MULTITRACK MIXABLE SEARCH */
.multitrack_search .search_head_title { margin-bottom: 6px; }
.multitrack_search .browse_pane_left { width: 160px; margin-top: 35px; } /* instr left */
.multitrack_search .browse_pane_left .loader { width: 154px; }
.multitrack_search .browse_pane_right { width: 530px; }
.multitrack_search .search_head { width: 550px; }
.multitrack_search .instr_type li a { padding: 3px 3px 3px 5px; }
.multitrack_search .instr_type li { 
	overflow: hidden; 
	padding: 2px 10px 2px 2px; 
	cursor: pointer; 
	margin: 3px 0;
}
.multitrack_search .instr_type .all { border-bottom: 1px solid #E8E8E8; }
.multitrack_search .instr_type .instr_name { 
	color: #014D70; 
	padding: 5px 3px 3px 5px;
}

/* apple search */
.multitrack_search #applesearch .sbox input,
#instr_search_box #applesearch .sbox input { width: 200px !important; }

.multitrack_search .instr_type .current, #mlab_search_tabs .mlab_search { 
	background-color: #014D70 !important; 
}
#searched_instruments, #searched_songs { padding: 5px 10px; }
#searched_instruments, #searched_songs, #mlab_search_tabs .mlab_search {
	border-left: 1px solid #014D70;
}

#search_filters_genre { padding: 6px; }
#search_filters_genre .selector_last { margin-right: 15px !important; }



/* search tabs custom */
#mlab_search_tabs #search_filters_genre { height: 18px; }
#mlab_search_tabs .ui-tabs-nav { padding: 2px 0 0 0; }
#mlab_search_tabs .ui-tabs-nav li { width: 263px; }
#mlab_search_tabs .ui-tabs-nav li a { width: 95%; }

#mlab_search_tabs .ui-tabs-nav .ui-state-active, 
#mlab_search_tabs .ui-tabs-nav .ui-state-default
 { margin-right: 0; }

#mlab_search_tabs .ui-tabs-selected  { padding-top: 4px; }
#mlab_search_tabs .ui-state-default  { margin-top: 4px; }
#mlab_search_tabs .ui-tabs-nav .ui-tabs-selected { margin-top: 0; }

#tag_more_icon { padding: 1px 3px 0 0; float: left; }

#search_filters_genre #tag_remove { cursor: pointer; }
#search_filters_genre #tag_more { color: #2E83FF !important; cursor: pointer; }

.search_tools { margin-top: 5px; }
.search_tools a { margin-right: 5px; }

.searched_filter {
	font-size: .7em !important;
}



/* TAGGING DIALOG */
.tags_heading {
	border-bottom: 1px dashed #CCCCCC;
}

.action_notice_dialog { 
	padding: 2px 9px; 
	font-weight: normal;
	margin: 0 0 10px 0;
	line-height: 16px;
	width: 93%;
	border-top: none !important;
}




/* GEARS TAB */
#gear-tabs { margin-right: 20px; }
#gear-tabs li { padding: 1px 5px; margin-bottom: 5px; }
#gear-tabs li a { font-weight: bold; text-decoration: none; }
#gear-tabs .loading:hover { background-color: none !important; }

.instr_gear_list { margin: 0 10px 10px 0; }
.my_gear {
	padding: 4px 0;
	background-color: #DDDDDD;
	border-bottom: 1px solid #999999;
	/* width: 237px; */
}
#drag-handle { cursor: move; margin-top: 8px; }
#submitted_gear { list-style: none; }
#submitted_gear li { margin: 2px; /* display: inline-block */ }

input.geartext { 
	width:269px; 
	color: #696969;
	padding: 1px 4px;
	margin: 1px 0;
}

.gear_infos {
	margin: 0 10px 0 10px;
	padding: 2px 0;
}



/* APPLE SEARCH */
#applesearch .sbox_l  {
	/*default styling*/
}

#applesearch .sbox_r  {
	/*default styling*/
}

#applesearch .sbox input {
	/*default styling*/
	width: 180px;
	float:left;
}

#content {
	clear: both;
}
