/********************* MLAB NEW PROJECT *********************/

#search {
	display: none;
}

#content-body {
	top: 60px;
}

#nav-menu {
	width: auto;
	right: 213px;
}

#mlab_new_block_top {
	position: relative;
	top: 10px;
	width: 980px;
	background: url(/images/mlab_top_bg.gif) no-repeat top right;
}
#mlab_new_block_top p {
	padding:0 !important;
}

#mlab_new_icons_container {
	width: 104px;
	float: left;
}

.mlab_icon_mlab {
	padding-bottom: 10px;
}

.mlab_user_avatar {
	float: right;
	margin: 0;
}

.mlab_username  {
	color: #00496B;
	font-weight: bold;
	text-align: center;
}

.mlab_username a {
  color: #1A73A4;
}

#mlab_details_container {
	position: absolute;
	left: 132px;
	width: 865px;
	height: auto;
	margin-top: 12px;
}

.mlab_detail_row {
	float: left;
	margin: 0;
	width: 842px;
}

.mlab_title_big {
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	margin:5px 0px 0px;
	padding:0 !important;
}

.mlab_title_big_italic {
	color: #000000;
	font-size: 14px;
	font-style: italic;
	margin:5px 0px 0px;
	padding:0 !important;
}

.mlab_label {
	color: #808080;
	font-size: 11px;
	margin:0;
}

.mlab_label a {
	color: #4DC4EA;
	font-weight: bold;
	margin:0;
}

#mlab_original_author {
	display: block;
	overflow: hidden;
	width: 215px;
}

#mlab_title-inplaceeditor .editor_field {
	width: 240px;
	font-weight: bold;
	font-size: 16px;
}

#mlab_original_author-inplaceeditor .editor_field {
	width: 120px;
	font-size: 13px;
	font-style: normal;
}

.editor_field {
	border: 1px solid #98D1E5;
	height: 17px;
	margin-right: 5px;
	padding: 1px 4px;
}

textarea.editor_field {
	font-size: 14px;
	height: 70px;
	width: 330px;
}

.editor_ok_button {
	width:auto;
	border:0;
	background:none;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#4DC4EA;
	margin-top: 3px;
	margin-right:3px;
}

.editor_cancel_link {
	font-size:13px;
	color:#444;
}

.mlab_tone-inplaceselect, .mlab_genre-inplaceselect {
	border: 1px solid #4DC4EA;
	height: 17px;
	font-size:14px;
	font-weight:bold;
	margin-right: 3px;
}
.mlab_genre-inplaceselect {
	width: 130px;
	margin-right: 5px;
}

.mlab_small_text {
	font-size: 11px;
}

.mlab_labels_left {
	float: left;
	width: 340px;
	overflow: hidden;
	margin-right: 30px;
}

.mlab_labels_right {
	float: right;
	text-align: left;
	width: 192px;
}

.mlab_tone {
	width: 120px;
	float: left;
}

.mlab_runtime {
	float: right;
	width: 75px;
}

.mlab_runtime .mlab_title_big {
	margin-top: 2px;
}

.mlab_2nd_column_right {
	float: right;
	width: 68px;
}

/* XXX */
.editing {
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px !important;
}

.editing a {
	color: #98D1E5;
}

.editing a:hover {
	color: #000;
}

.edit-blurb {
	text-align: center;
	font-size: 16px;
	color: #444;
}
