/* PROFILE PAGE 
   Upper part show */

.profile_upshow {
	overflow: hidden;
	margin-bottom: 20px;
}

.avatar_change { 
	padding: 2px 4px; 
	background-color: #00B3D7;
	color: #FFFFFF;
	position: absolute;
}
.avatar_change:hover {
	text-decoration: none;
	background-color: #2691BD;
}
#user_avatar {
	width:200px;
	height:200px;
	background: #D4D4D4 url("../images/temp/profile_main_thumb.jpg") no-repeat;
}
.user_name { margin: 8px 0 10px 14px; }

.user_status { 
	padding: 10px 21px 10px 19px;
	border-right: 1px dashed #F5DC5F;
}
.status_container { width: 305px; }
.status_container .blurp_status { margin-top: 7px; }


/* STATUS FORM */
.status_input {
	border: 0;
	margin: 0 5px 0 0;
	height: 13px;
	width: 233px;
	font-size: 13px;
	color: #696969;
	padding: 3px 5px;
	border: 1px solid #CCC;
}

.status_submit {
	border: 0;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	color: #FFFFFF;
	background: url('../images/go_bg.png') repeat-x left top;
	padding: 2px 7px;
}
.status_submit:hover {	background: url('../images/go_bg.png') repeat-x left bottom; }



/* PROFILE PAGE  MBAND PROFILE
   Upper part show */

#mband_profile .user_name { margin: 0 0 10px 0; }
#mband_profile #user_avatar { 
	background: #D4D4D4 url("../images/temp/pick_enzo.jpg") no-repeat;
	width: 356px; 
}
#mband_profile .user_status { width: 154px; }
#mband_profile .user_actions { margin-top: 0; }
#mband_profile .status_input { width: 145px; }
#mband_profile .status_submit {
	margin: 3px -2px 0 0;
	padding: 1px 6px;
}

.lquote, .rquote { position: absolute; }
.lquote {  margin: -4px 0 0 -12px; }
.rquote { margin: 4px 0 0 3px; }

.status_outside { padding: 1px 0 2px 8px; }
.status_outside .lquote { padding-left: 3px; }
.status_outside .rquote { margin-left: 2px; padding:0; }

.friend_list { 
	overflow: hidden;
	margin-bottom: 8px; 
}

.mband_member_list li { 
	list-style: none;
	overflow: hidden;
	margin-bottom: 10px;
}
.member_specs span { padding-left: 10px; }

.status_tools {
	padding: 3px 7px 2px 4px;
}



/* user blurp balloon sprites */
.blurp_status, .blurp_sidebar, .blurp_friends { width: 10px; height: 16px; }
.blurp_status { background: url('../images/icons/profile/users_balloon_sprites.png') no-repeat bottom; }
.blurp_sidebar { background: url('../images/icons/profile/users_balloon_sprites.png') no-repeat top; }
.blurp_friends { margin-top: 7px; background: url('../images/icons/profile/friends_balloon_sprite.gif') no-repeat top; }
.blurp_author { width: 15px; height: 10px; background: url('../images/icons/profile/author_balloon_sprite.png') no-repeat bottom; }


/* lists before jquery tabs style  */
.preload_style { margin: 15px 0 22px 0; }
.preload_style li {
	list-style: none;
	display: inline;
	padding: 0.3em 0.5em;
}
.preload_style li a { color: #00385D; text-decoration: none; }




/* WALL */
.upper_part { 
	width: 434px;
	overflow: hidden; 
}
.wall_box { 
	width: 375px;
	height: 13px;
	border: 1px solid #CCCCCC;
	padding: 4px;
	font-size: 12px !important;
	margin: 6px 0 4px 0;
}
.wall_avatars { padding: 1px 5px 0 0; width: 44px; height: 44px; }
.wall_heading { margin-bottom: 15px; border-bottom: 1px solid #CCCCCC; width: 434px; }

.wall_post { 
	padding: 2px 9px; 
	color: #ffffff; 
	font-family: Helvetica;
	cursor: pointer;
}
.wall_post { background: url('../images/go_bg.png') repeat-x top; }
.wall_post:hover { background: url('../images/go_bg.png') repeat-x bottom; }


/* share links wall */
.share_links_wall { 

}

/* wall posts */
.posted_date {
	border-top: 1px solid #CCCCCC;
	color: #8B9298;
	margin-top: 10px;
	padding-top: 2px;
}

.message { margin: 0 20px 0 49px; }
.posted_comment {
	margin: 6px 0 10px 0;
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 1px dashed #D6D6D6;
}
.post_balloon {
	width: 85%;
	min-height: 12px;
	border-bottom: 1px solid #D5D5D5;
	padding: 7px 12px;
	margin-left: 14px;
	color: #333333;
}
.gray_sprite, .blue_sprite {
	width: 14px;
	height: 15px;
	margin-top: 5px;
}
.gray_sprite { background: url('../images/balloon_gray_sprite.gif') no-repeat top; }
.blue_sprite { background: url('../images/balloon_blue_sprite.gif') no-repeat top; }

.post_delete {
	width: 13px;
	height: 13px;
	background: url('../images/icons/bullet_remove.gif') no-repeat top;
	cursor: pointer;
}
.day_last { border-bottom: none; }

.attach_list {
	overflow: hidden;
	background: url('../images/icons/attach.png') no-repeat top left;
	width: 351px;
	padding-left: 17px;
	margin-left: -3px;
}


/* profile lists */
#profile_tabs .extended_wall li, .user_actions { 
	margin: 0 0 10px 5px;
	list-style: none;	
	overflow: hidden;
}
.user_actions { 
	width: 130px;
	margin-top: 10px;
}
.user_actions li {
	display: block;
	padding: 2px 0 0 23px;
	margin-bottom: 5px;
	height: 18px;
}
.action_notice { 
	padding: 2px 10px; 
	font-weight: normal;
	margin-top: 15px;
	line-height: 16px;
}


#profile_tabs .extended_wall li a { padding: 0 !important; }
.extended_wall {
	list-style: none;
	overflow: hidden;
	width: 208px;
}
.extended_wall h2 { margin-bottom: 2px; }
.extended_wall span { padding-left: 21px; }
.extended_wall p { margin-top: 0; padding-bottom: 8px; border-bottom: 1px dotted #999999; }


/* Users Tabs */
.profile .ui-tabs-nav li a {
	padding: .3em 1.2em !important;
}

.force_right { float: right !important; }



/* MAILBOX 
   Unread Message Count Badge */

.mailbox_unread {
background-image:url('../images/mailbox_unread.png');
color: #FFFFFF;
line-height: 15px;
font-size: 11px !important;
}
.mailbox_unread span {
background-image:url('../images/mailbox_unread.png');
display:inline-block;
}

.mailbox_unread .tl {
background-position:left top;
}
.mailbox_unread .tr {
background-position:right top;
}
.mailbox_unread .br {
background-position:right bottom;
}
.mailbox_unread .bl {
background-position:left bottom;
padding:0 6px 1px;
}


/* dataTables Custom */
#mailbox_wrapper {
	clear: none;
}
#mailbox_wrapper a {
	color: #064970;
	text-decoration: none;
}
#mailbox_filter input {
	width: 193px;
	padding: 4px 4px 4px 23px;
	margin: 0;
	border: 1px solid #999999;
	background: #FFFFFF url('../images/icons/input_search.gif') no-repeat left;
}

#mailbox_wrapper .dataTables_filter {
	width: 222px !important;
	margin-bottom: 15px;
}

#mailbox_processing {
	position: relative;
	margin-left: 0;
	left: 0;
}
#mailbox  thead th {
	border-bottom: 1px solid #CCCCCC;
	text-align: left;
}
table.display td {
	padding: 3px 5px !important;
}
#mailbox .unread_icon { margin: 13px 0 0 0; }

#mailbox_info {
	color: #666666;
	margin: 11px 0 0 11px;
	float: left;
	width: 48%;
}

#mailbox .even { background: #EDF5F8; }
#mailbox .even:hover, #mailbox .odd:hover { background: #EFFFF0; }

#mailbox_wrapper .bullet_paging {
	float: right;
	margin: 11px 8px 0 0;
}


/* Mail Content */
#mail_content {
	width: 500px;
	margin-left: 4px;
}
.inbox_avatar { padding-right: 5px; }
.mail_trash { margin-right: 7px; }


/* New message */
#new_message .message_body {
	width: 488px;
	height: 100px;
	padding: 5px;
	font-size: 12px;
}

.mailbox_send, .mailbox_cancel {
	padding: 2px 9px;
	margin-left: 5px;
}


/* Accounts Icons */
.inbox_accounts { 
	list-style: none;  
	width: 172px;
	margin: 35px 16px 0 0;
}
.inbox_accounts li { cursor: pointer; }
.inbox_accounts li:hover, .inbox_accounts li.selected { color: #0296C2; }
.inbox_accounts li {
	display: block;
	padding: 5px 0 5px 23px;
	overflow: hidden;
}
.inbox_accounts .seclevel { 
	padding: 4px 0 4px 22px;
	margin-left: 15px;
}
.inbox_accounts .seclevel-tool { 
	padding: 1px 0 1px 22px;
}
.inbox_accounts .thirdlevel { 
	padding: 2px 0 2px 45px;
}
.inbox_accounts .mailbox_mband-name { width: 93px; }



/* PROFILE SIDEBAR LISTS */
.profile_sidebar { margin-bottom: 25px !important; }
.sidebar_count { margin-left: 4px !important; }

.profile_sidebar .gray_spec {
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 2px;
}
.profile_sidebar li {
	padding-top: 8px;
}
.edit_lists {
	padding-left: 19px;
	height: 20px;
}

.gear_spec {
	padding: 2px 0 0 7px;
	width: 150px;
}
.gear_spec a, .gear_spec span {
	padding-left: 19px;
	margin-top: 2px;
	height: 16px;
}

/* sidebar newest song tabs */
.ui-tabs-nav li a {
	padding: .2em .6em !important;
}
.profile_newest_tabs {
	margin-top: 5px;
}





/* INFOS, IAM / INFLUENCES */
.iam_box, .influences_box {
	width: 330px;
	margin: 18px 8px 0 8px;
}
.iam_box h2, .influences_box h2 {
	border-bottom: 1px solid #CCCCCC;
	padding-left: 8px;
}
.iam_box .inner, .influences_box .inner { padding: 10px 5px 0 15px; }

dl.info { overflow: hidden; margin: 0 0 40px 0; }
dl.info dt {
	width: 100px;
	clear: left;
	float: left;
	color: #999999;
}
dl.info dd {
	width: 195px;
	margin: 0;
	padding-left: 10px;
	float: left;
}
dl.info dd a { 	color: #00385D; font-weight: bold; text-decoration: none; }
dl.info dt, dl.info dd { padding-bottom: 4px; }

.info_text_group { margin: 0 0 20px 0; }
.info_text_group span { margin-bottom: 3px; }


.influences_box textarea, .iam_box textarea {
	font-size: 11px;
	font-weight: normal;
	color: #222222;
	width: 285px;
}


/* inslide tagged instr list */
.tagged_instr_list {
	padding-top: 4px;
	overflow: hidden;
	width: 362px;
}
.tagged_instr_list li {
	display: inline;
	width: 160px;
	padding: 6px 10px;
	background-color: #D6F0FF;
	border-bottom: 1px solid #ADD9FF;
	float: left;
	margin: 3px 1px 0 0;
	cursor: pointer;
}
.tagged_instr_list li:hover {
	background-color: #BAE6FF;
}





/* PICTURES GALLERY */
#pictures_gal {
	overflow: hidden;
	margin-top: 20px;
}

table#gallery td, table#gallery-show td,
table#flickr_gallery td {
	background-color: #EDEDED;
	cursor: pointer;
}
table#gallery td:hover, table#flickr_gallery td img:hover,
.sidebar_photo_thumb:hover { background-color: #88AED2; }

.sidebar_photo_thumb { 
	padding: 3px; 
	border: 1px solid #CCC; 
	float: left;
	margin: 5px 0 0 5px;
}

table#gallery td img, #slide img, 
table#flickr_gallery td img {
	padding: 3px;
	background-color: #FFFFFF;
}

table#gallery { margin-bottom: 20px; }
table#flickr_gallery { margin-top: 7px; }

.slide_container {
	background-color: #EDEDED;
	margin: auto;
	padding: 20px;
	margin-top: 7px;
}
.slideshow {
	margin: auto;
}

.pic_descr {
	border: 1px solid #EDEDED;
	padding: 10px 15px;
	margin-bottom: 8px;
}
.flickr_badge {
	background: url('../images/flickr_badge.jpg') no-repeat left;
	padding: 5px 0 0 55px;
}




/* GALLERY EDIT, ORGANIZE, TAG */
#edit_photos li {
	list-style: none;
	margin: 4px 0;
	padding: 5px;
	background: #F1F1F1;
	border-bottom: 1px solid #DDDDDD;
	overflow: hidden;
}

#edit_photos .photo_tag_list li {
	margin: 0;
	padding: 0;
	list-style: disc;
	list-style-position: inside;
	overflow: visible;
	border: none;
}
.photo_tag_list {
	margin: 4px 0 0 3px;
}




/* User song tools, Search tools */
.user_song_tools { width: 70px; }
.user_song_tools a, .search_tools a {
	font-size: 10px;
	text-decoration: none;
	color: #888888;
}


/* Users lists */
.profile_mband_block { margin: 5px 0 15px 0; }
.profile_mband { width: 159px; }
.profile_mband, .profile_mband_pic { margin: 6px 6px 0 0; }
.profile_mband_pic img {
	padding: 1px;
	border: 1px solid #E6E6E6;
}


/* Friends lists */
.friend_status { margin: 0 0 0 51px; }
.friend_balloon {
	min-height: 12px;
	border-bottom: 1px solid #CCCCCC;
	padding: 7px 12px;
	margin: 3px 0 0 10px;
	color: #333333;
}

.inner_sidebar {
	margin-left: 30px;
	width: 160px;
}
.inner_sidebar_divider {
	width: 100%;
	border-top: 1px dotted #888888;
	padding-top: 5px;
	margin-top: 7px;
}

.fb_friend { margin-top: 7px; }
.fb_thumb { margin-bottom: -16px; }
.fb_avatar {
	width: 16px; height: 16px;
	cursor: pointer;
	margin: 0 0 0 28px;
}

/* general in-avatar icon placement */
.inavatar_icon {
	position: absolute;
	margin: -5px 0 0 -5px;
}


.invite_from_facebook { border: 1px solid #405E9A; }
.invite_from_facebook, .invite_from_other {
	margin-top: 17px;
	padding: 6px 12px 6px 8px;
}




/* VIDEOS */
.video_stage_full {
	margin-top: 15px;
	width: 100%;
}

.profile_video_lists {

}
.profile_video_lists li { padding-left: 7px; }
.profile_video_lists .video_thumb {
	width: 124px;
	height: 100px;
}
.profile_video_lists .still_play { width: 118px; }
.now_playing .video_thumb img {
	border: 1px solid #2e83ff;
}




/* Tag cloud */

#tags ul {
	margin:0;
	padding:0;
	text-align:left;
}
#tags li {
	margin:0;
	padding:0;
	list-style:none;
	display:inline-block;
}
#tags li a {
	text-decoration:none;
	padding:0 2px;	
}
#tags li a:hover {	
	text-decoration:underline;
}		
	
.tag1{font-size:100%;}
.tag2{font-size:120%;}
.tag3{font-size:140%;}
.tag4{font-size:160%;}
.tag5{font-size:180%;}
	
.cloud_buttons { margin-top: 4px; }
.btn {	margin-left: 5px; }
.btn.dot_spacer { border-left: 1px dotted #CCC; padding-left: 5px; }