html, body{
	margin:0px;
	padding:0px;
	height:100%;
}
body{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
p, h1, h2, h3, h4, h5, h6, a, div, span, img, dl, dt, dd, form, fieldset, legend, label, td, tr, table{
	padding: 0px;
	margin: 0px;
}
table td{
	vertical-align:top;
}
a { 
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
img{
	border: none;
}
.invisible{
	display: none
}
hr{
	display: none;
}
img.float-left{
	margin-right:10px;
}
img.float-right{
	margin-left:10px;
}
/*  clear-block  */ 
* html .clear-block {
   height: 1px;
 }
.clear-block {
  display: inline-block; 
}
html[xmlns] .clear-block {
  display: block;  
}
.clear-block:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}
/* contanier */
.page-width{
	width:986px;
	margin: auto auto;
}
/* header */
#header{
	background-color:#fff;
	padding-top: 6px;
}
#logo{
	margin-left:1px;
}
#top-menu{
	text-align:right;
	padding-top:3px;
	margin-right: 6px;
}
#top-menu a{
	color:#000;
	padding: 0px 7px;
	border-right:1px solid #000;
}
ul.list-menu{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.list-menu li{
	display:inline;
	margin:0px;
	padding:0px;
}
#nav-menu{
	font-size:15px;
	font-weight:bold;
	color:#28548B;
	float:left;
	margin-left:74px;
	margin-top:20px;
}
#nav-menu a{
	float:left;
	display:block;
	padding:8px 21px 16px;
	color:#A5B1C7;
}
#nav-menu a:hover{
	color:#28548B;
}
#nav-menu li.active, #nav-menu li.active a{
	color:#28548B;
}
.home #nav-menu{
	color:#A5B1C7;
}
.home #nav-menu a{
	color:#28548B;
}
.home #nav-menu li.active, .home #nav-menu li.active a{
	color:#A5B1C7;
}
#search{
	position:absolute;
	color:#28548B;
}
#search p{
	float:left;
	display:block;
	background:#F3F3F4 url(/images/search_angle_left.gif) no-repeat top left;
}
#search p span{
	display:block;
	padding:10px 14px 14px;
	background:url(/images/search_angle_right.gif) no-repeat top right;
}
html>body #search p span{
	padding:10px 14px 16px;
}
#search p.search-input{
	margin:0px;
	padding:10px 5px;
	clear:both;
	background-image:none;
	background-color:#F3F3F4;	
	float:left;
	height:58px;
}
#search p.search-input input{
	width:173px;
	border: 1px solid #28548B;
	font-size:10px;
	float:left;
	margin:5px 3px;
}
/* elementi comuni */
.name, .name a{
	font-weight:bold;
	color:#000;
}
.name a:hover{
	color:#28548B;
}
.title, .title a{
	font-weight:bold;
	color:#000;
}
.title a:hover{
	color:#28548B;
}
.country{
	color:#777;
}
.abstract{
	font-style:italic;
	color:#61656A;
}
.abstract a{
	color:#61656A;
}
/* parte centrale */
#path{
	margin: 5px 20px 10px;
	color:#b6b6b6;
}
#path a{
	color:#b6b6b6;
	text-decoration:underline;
}
#path a:hover{
	color:#000;
	text-decoration:none;
}
h1, h1 a{
	font-size:18px;
	font-weight:bold;
	color:#034263;
	margin-bottom:10px;
}

h2, h2 a{
	font-size:15px;
	font-weight:bold;	
	color:#034263;
	margin-bottom:10px;
}
.bg-body{
	background:#F3F3F4;
}
.banner-instr-home{
	padding:0px 6px 25px;
}
.tags{
	clear:both;
	float:left;
	padding:0px 20px;
	width:490px;
	height:165px;
}
.tags a{
	color:#034263;
	margin-right:10px;
}
.bg-top-body{
	height:58px;
	background: url(/images/BG_diagonale_top.png) repeat-x top left;
}
.bg-bottom-body{
	height:58px !important;
	margin-top:-58px;
	background: url(/images/BG_diagonale_bottom.png) repeat-x bottom left;
}
#content-body{
	position:relative;
}
#content-body p{
	padding-bottom:5px;
}
.whiteblock-shadow{
	float:left;
	padding:0px 6px 30px;
	width: 732px;
	background: url(/images/BG_whiteblock_shadow.png) repeat-y top left;
}

.bottom-shadow{
	float:left;
	width: 732px;
	padding:0px 6px;
	height:6px;
	background: url(/images/BG_whiteblock_shadow_bottom.png) no-repeat top left;
}
.bottom-shadow-big{
	width: 832px;
	padding:0px 6px;
	height:6px;
	background: url(/images/BG_whiteblock_shadow_bottom_big.png) no-repeat top left;
}

.box-list {
	padding-left: 20px;
	float:left;
	margin-bottom:20px;
}
.box-list h1{
	margin-bottom:20px;
}
.box-list table{
	clear:both;
}
.box-list table td{
	border-collapse:collapse;
	padding:2px 5px;
	vertical-align:top;
}
tr.even{
	background-color:#EDEDED;
}
tr.odd{
	background-color:#fff;
}
.one-col{
	width:275px;
}
.semi-one-col{
	width:225px;
}
.small-col{
	width:170px;
}
.two-col{
	width:400px;
}
.three-col{
	width:708px;
}
.star{
	width:70px;
}
.star img{
	margin:0px 2px;
}
.button{
	width:60px;
}
/* pre lancio */
.pre-lancio{
	width: 600px;
	margin:20px 20px 20px 0px;
	color:#808080;
}
.pre-lancio h1{
	color:#009DC2;
	font-size:35px;
}

.pre-lancio-form{
	width:832px;
	margin:10px 0px 20px;
	text-align:left;
}
.pre-lancio-form .elements{
	width:320px;
	margin: 0px 10px;
}
.pre-lancio-form input{
	border:none;
	width:260px;
}
.pre-lancio-form input.inputstyle[type="file"]{
	background:#fff;
	border:transparent;
	font-size:11px !important;
	font-weight:bold;
	width:260px !important;
}
.pre-lancio-form label{
	width:85px;
	font-weight:bold;
	display:block;
	float:left;
	padding-top:2px;
}
.rounded-angle-white-370{
	width:350px;
	padding:8px 10px;
	background:transparent url(/images/rounded_angle_white_370.png) no-repeat top left;
}
.form-cyan{
	background-color:#D9EFF6;
	margin:0px 0px 10px;
}
.form-cyan label{
	color:#97A7AC;
}
.form-orange{
	background-color:#F5D49C;
	margin:0px 0px 10px;
}
.form-orange label{
	color:#AB946D;
}

/* box */
.thumb{
	float:left;
	margin-right:20px;
}
/* people */
.people-list .top-box{
	margin-left: 5px;
}
.people-list .thumb{
	float:none;
	margin-right:0px;
}
.people-list .elements{
	text-align:center;
	width:75px;
	float:left;
	margin-left: 10px;
	margin-bottom:15px;
}
.people-list p.name, .people-list p.country{
	overflow:hidden;
	line-height:12px;
	height:25px;
	margin-bottom:0px !important;
}
/* bands */
.bands-dj-list .thumb img{
	padding:3px;
	background:#90CB81;
}
.bands-dj-list .elements{
	border-bottom: 1px solid #D9D9D9;
	padding-bottom:5px;
	margin-bottom:10px;
}
/* music */
.music-list .thumb{
	float:right;
	margin-left:8px;
	margin-right:0px;
	margin-bottom:0px !important;
}
.music-list .border-angle-top{
	background:url(/images/BG_curves_top.gif) no-repeat top left;
	padding:4px 8px 0px;
	margin-bottom:5px;
	clear:right;
}
.music-list .star{
	clear:both;
}
.music-list .elements{
	float:left;
	width:227px;
	margin:0px 3px;
	background:url(/images/BG_curves_bottom.gif) no-repeat bottom left;
}
.music-list .abstract{
	padding:5px;
	background-color:#ECF1F3;
}
/* collaboration */
.collaboration-list .thumb{
	margin-right:8px;
	margin-bottom:0px !important;
}
.collaboration-list .title{
	clear:both;
}
.collaboration-list .elements{
	float:left;
	width:170px;
	margin:0px 5px;
	padding:0px 5px;
	border-left:1px solid #ABC8D9;
}
/* answer */
.answer-list .top-box{
	background-color:#DDE4E4;
	padding:0px 5px 5px;
}
.answer-list .thumb{
	margin-right:12px;
	margin-bottom:0px !important;
	width:30px;
}
.answer-list .text-elements{
	float:left;
	width:220px;
}
.answer-list .abstract{
	font-style:normal;
}
.answer-list .elements{
	border-bottom:2px solid #fff;
	padding:15px 0px 0px;
}
/* simple list */
.simple-list{
	margin-bottom:20px;
}
.simple-list .elements{
	border-bottom: 1px solid #D9D9D9;
	padding-bottom:5px;
	margin-bottom:5px;
}
/* box_rounded_gray */
.box-rounded-gray{
	background:url(/images/BG_box_rounded_gray.png) no-repeat top left;
	height:170px !important;
	padding:10px 10px 0px;
	margin-bottom:15px;
}
.box-rounded-gray h1{
	margin-bottom:10px;
}
.box-rounded-gray .elements{
	height:75px !important;
	overflow:hidden;
}
.box-rounded-gray .thumb img{
	background-color:#ccc;
	padding:3px;
}
.horizontal-scroll-box{
	clear:both;
	text-align:center;
	padding-left:15px;
}
.horizontal-scroll{
	width:315px;
	text-align:center;
	float:left;
	height: 29px;
	overflow:hidden;
}

.horizontal-scroll img{
	float:left;
	margin:0px 3px;
}
.horizontal-scroll-box .button{
	float:left;
	width:auto;
	padding-top:10px;
	margin:0px 5px 0px;
}
/* yellow box */
.yellow-box h1{
	background:url(/images/BG_box_yellow_top.png) no-repeat top left;
	margin-bottom:0px;
	padding:10px 20px;
}
.yellow-box .bottom-box{
	background:url(/images/BG_box_yellow_bottom.png) no-repeat bottom left;
}
.yellow-box .elements{
	padding:0px 10px;
}
/* green  box */
.green-box .top-box{
	background:#EFF7EC;
	padding:15px 15px 0px;
}
.green-box .rounded-white-bottom{
	background: url(/images/rounded_box_top_245px.png) no-repeat top left;
	padding-top:10px;
}
.green-box .rounded-white-top{
	background: url(/images/rounded_box_bottom_245px.png) no-repeat bottom left;
	padding-bottom:10px;
	margin-bottom:4px;
}
*html .green-box .rounded-white-bottom{
	background-image: url(/images/rounded_box_top_245px.gif);
}
*html .green-box .rounded-white-top{
	background-image: url(/images/rounded_box_bottom_245px.gif);
}
.green-box .elements{
	border-bottom: none;
	padding:0px 10px;
	margin-bottom:0px;
}
.green-box .elements p{
	margin-bottom:3px !important;
}
.green-box .thumb{
	float:right;
	margin:2px 2px 0px 8px !important;
}
.tracks-number{
	background:url(/images/tracks_number_BG.png) no-repeat top left;
	height:29px;
	width:29px;
	display:block;
	float:left;
	margin:2px 8px 0px 2px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	font-size:12px;
}
.green-box .green-bg{
	background:#EFF7EC;
	height:33px;
	overflow:hidden;
}
.green-box .name{
	padding-top:8px;
}
/* orange  box */
.orange-box .top-box{
	background:#FDF3E5;
	padding:15px 15px 0px;
}
.orange-box .rounded-white-bottom{
	background: url(/images/rounded_box_top_195px.png) no-repeat top left;
	padding-top:10px;
}
.orange-box .rounded-white-top{
	background: url(/images/rounded_box_bottom_195px.png) no-repeat bottom left;
	padding-bottom:10px;
	margin-bottom:4px;
}
*html .orange-box .rounded-white-bottom{
	background-image: url(/images/rounded_box_top_195px.gif);
}
*html .orange-box .rounded-white-top{
	background-image: url(/images/rounded_box_bottom_195px.gif);
}
.orange-box .elements{
	border-bottom: none;
	padding:0px 10px;
	margin-bottom:0px;
}
.orange-box .elements p{
	margin-bottom:3px !important;
}
.orange-box .orange-bg{
	background:#FDF3E5;
	height:33px;
	overflow:hidden;
}
.orange-box .thumb{
	margin:2px 8px 0px 2px !important;
}
.orange-box .name{
	padding-top:8px;
}

/* rounded box cyan */
.rounded-cyan-top{
	background:url(/images/BG_box_rounded_cyan_top.png) no-repeat top left;
	height:18px;
	width:454px;
	margin-top:20px;
}
.rounded-cyan-bottom{
	background:url(/images/BG_box_rounded_cyan_bottom.png) no-repeat top left;
	height:18px;
	width:454px;
	margin-bottom:20px;
}
.rounded-cyan-elements{
	padding:10px 40px;
	width:374px;
	background:#DDEAF2;
}
.rounded-cyan-elements p{
	color:#386781;
}
.keycode-button{
	background:url(/images/BG_keycode_button.png) no-repeat top left;
	width:350px;
	padding:12px 10px 12px !important;
	margin: auto auto;
	margin-bottom: 0px; 
	margin-top: 20px; 
}
.keycode-button label{
	float:left;
	font-weight:bold;
	color:#fff;
}
.keycode-button input{
	float:left;
	border:none;
	width:200px;
	margin:0px 15px;
}
.keycode-button input.input-button{
	float:left;
	background:transparent;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#01587F;
	margin-left:20px;
	margin-right:0px;
}

/* rounded box lightblue */
.rounded-lightblue-top{
	background:url(/images/BG_box_rounded_lightblue_top.png) no-repeat top left;
	height:18px;
}
.rounded-lightblue-bottom{
	background:url(/images/BG_box_rounded_lightblue_bottom.png) no-repeat top left;
	height:18px;
	margin-bottom:20px;
}
.rounded-lightblue-elements{
	text-align:center;
	background:#EEF4F8;
	color:#386781;
}


/* section tags */
.section-tags{
	float:right;
	padding:30px 20px 0px 20px;
	text-align:right;
}
.section-tags .elements{
	font-weight:bold;
	color:#28548B;
	border:none;
}
.section-tags .elements a{
	font-weight:bold;
	color:#28548B;
}
/* section tab */
.tit-sezion-tab{
	background: url(/images/BG_tab_title_top.gif) no-repeat top right;
	text-align:right;
	padding-right:35px;
	height:23px;
	padding-top:5px;
	margin-bottom:12px;
}
.tit-sezion-tab h1{
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#1A73A4;
	padding:0px 10px;
}
.tit-sezion-tab .button{
	width:auto;
}
.tab-title-list{
	border-bottom: 1px solid #D9D9D9;
}
.tab-title-list h1{
	background:url(/images/BG_tab_title.gif) no-repeat top left;
	padding:5px 0px 2px 25px;
	font-size:14px;
	font-weight:bold;
	color:#1A73A4;
}
/* right col */
#rightcol{
	float:right;
	margin: 13px 6px 0px;
	width:214px;
}
.banner-right-col, #log-in, #mlab-box{
	margin-bottom:25px;
}
.mlab-container{
	padding:0px 5px;
	clear:both;
}
.mlab-enter{
	background:url(/images/mlab_scroll_title.png) no-repeat top left;
	height:45px;
	width:214px;
	text-align:right;
	font-weight:bold;
	color:#0099CC;
}
.mlab-enter a{
	display:block;
	color:#0099CC;
	padding-right:15px;
	margin-top:18px;
}
#mlab-scroll{
	padding:5px 0px;
}
#mlab-scroll .name, #mlab-scroll .abstract{
	width: 130px;
}
#mlab-scroll .elements{
	padding:5px;
	clear:both;
}
#mlab-scroll .even{
	background-color:#fff;
}
#mlab-scroll .odd{
	background-color:#E9F4F9;
}
#log-in{
	background-color:#DDE4E4;
	color:#224C6B;
	text-align: right;
	font-size:11px;
}
#log-in a{
	color:#224C6B;
	text-decoration:underline;
}
#log-in .log-in-input{
	float:left;
	padding:5px 0px 5px 5px;
	font-size:11px;
	width:125px;
	border-right: 2px solid #fff;
}
#log-in input{
	font-size:10px;
	width:120px;
	border:none;
}
#log-in .input-button{
	margin:0px 20px;
}
#log-in .log-in-link{
	float:left;
	padding:5px;
	width:70px;
}
#log-in-errors {
	background-color: #ffe4e4;
	color:#ff0000;
	text-align: center;
	font-size: 11px;
	border: 2px solid red;
}
/* footer */
#footer{
	text-align:center;
	padding: 50px 0px 20px;
	background:#fff;
}
/* generici correttori */

.white-bg .bg-body{
	background:#fff;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.centered{
	text-align:center;
}
.input-button{
	width:auto!important;
	border: none !important;
}
.clear-float{
	clear:both;
}
.text-blue{
	color:#1A73A4;
}
.margin-top-bottom{
	margin: 20px 0px;
}
.align-right{
	text-align:right;
}
.align-center{
	text-align:center;
}
.thumb.float-right{
	margin-right:0px;
	margin-left:20px;
}
.wraptext{
	width:180px;
	overflow:hidden;
}
.text-big{
	font-size:14px;
}

/* elementi speciali */
/* special-button */
.special-button {
	margin: 0px 10px;
	display: inline;
}
head:first-child+body .special-button{
	padding: 0px 40px 20px;
	width: 50%;
	display: table-cell;
}
:root .special-button{
	padding: 0px !important;
	width: auto !important;
	display: inline !important; 
}
.special-button input{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:18px;
	font-weight: bold;
	color:#fff;
	text-align:center;
	position: absolute;
	padding-top: 0.45em; 
	background: none;
	border: none;
}
.special-button input.special_button_ok{
	width:77px;
	margin-left: -80px;
}
.special-button input.special_button_220{
	width:220px;
	margin-left: -225px;
}
.special-button input/* */{
	/*margin-left: -8.2em;*/
}
head:first-child+body .special-button input{
	padding-top: 0; 
	position: relative;
	/*margin-left: -7.2em;*/
	border: transparent 1px solid;
}
:root .special-button input{
	/*margin-left: -6.8em !important;*/
	padding-top: 0.45em !important; 
	position: absolute !important;
}
* html .special-button input{
	padding-top: 0.40em; 
}