html, body{
	margin:0px;
	padding:0px;
	height:100%;
}
body{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
p, h1, h2, h3, h4, h5, h6, a, div, span, img, dl, dt, dd, form, fieldset, legend, label, td, tr, table{
	padding: 0px;
	margin: 0px;
}
table td{
	vertical-align:top;
}
a { 
	position: relative;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
img{
	border: none;
}
.invisible{
	display: none
}
hr{
	display: none;
}
img.float-left{
	margin-right:10px;
}
img.float-right{
	margin-left:10px;
}
/*  clear-block  */ 
* html .clear-block {
   height: 1px;
 }
.clear-block {
  display: inline-block; 
}
html[xmlns] .clear-block {
  display: block;  
}
.clear-block:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}
/* contanier */
.page-width{
	width:986px;
	margin: auto auto;
}
/* header */
#header{
	background-color:#fff;
	padding-top: 6px;
}
#logo{
	margin-left:1px;
}
#top-menu{
	font-size: 11px;
	text-align:right;
	padding-top:3px;
	margin-right: 6px;
}
#top-menu a{
	color:#000;
	padding: 0px 7px;
	border-right:1px solid #000;
}
#top-menu li.active{
	font-weight:bold;
}
ul.list-menu{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.list-menu li{
	display:inline;
	margin:0px;
	padding:0px;
}
#nav-menu{
	font-size:15px;
	font-weight:bold;
	color:#28548B;
	float:left;
	margin-left:62px;
	margin-top:20px;
}
#nav-menu a{
	float:left;
	display:block;
	padding:8px 18px 16px;
	color:#A5B1C7;
}
#nav-menu a:hover{
	color:#28548B;
}
#nav-menu li.active, #nav-menu li.active a{
	color:#006F9F;
}
.home #nav-menu{
	color:#A5B1C7;
}
.home #nav-menu a{
	color:#006F9F;
}
.home #nav-menu li.active, .home #nav-menu li.active a{
	color:#A5B1C7;
}
#search{
	position:absolute;
	color:#006F9F;
}
#search p{
	float:left;
	display:block;
	background:#F3F3F4 url(/images/search_angle_left.gif) no-repeat top left;
}
#search p span{
	display:block;
	padding:10px 14px 14px;
	background:url(/images/search_angle_right.gif) no-repeat top right;
}
html>body #search p span{
	padding:10px 14px 16px;
}
#search p.search-input{
	margin:0px;
	padding:10px 5px;
	clear:both;
	background-image:none;
	background-color:#F3F3F4;	
	float:left;
	height:58px;
}
#search p.search-input input{
	width:173px;
	border: 1px solid #28548B;
	font-size:10px;
	float:left;
	margin:5px 3px;
}
/* elementi comuni */
.name, .name a{
	font-weight:bold;
	color:#000;
}
.name a:hover{
	color:#28548B;
}
.title, .title a{
	font-weight:bold;
	color:#000;
}
.title a:hover{
	color:#28548B;
}
.country{
	color:#777;
}
.abstract{
	font-style:italic;
	color:#61656A;
}
.abstract a{
	color:#61656A;
}
.next{
	text-align:right;
	padding:3px 20px 3px 0px;
	color:#014D70;
}
.next a{
	color:#014D70;
}
.edit-command{
	font-size:11px;
	font-weight:bold;
	float:right;
	color:#0296C2;
	text-align:right;
}
.edit-command a{
	color:#0296C2;
}
/* parte centrale */
#path{
	padding-top: 5px;
	margin: 0 20px 10px;
	color:#b6b6b6;
}
.mypage #path {
	float:left;
}
#path a{
	color:#b6b6b6;
	text-decoration:underline;
}
#path a:hover{
	color:#000;
	text-decoration:none;
}
h1, h1 a{
	font-size:18px;
	font-weight:bold;
	color:#004D71;
	margin-bottom:10px;
}

h2, h2 a{
	font-size:15px;
	font-weight:bold;	
	color:#004D71;
	margin-bottom:10px;
}
.bg-body{
	background:#F3F3F4;
}
.banner-instr-home{
	padding:0px 6px 25px;
}
.tags{
	clear:both;
	float:left;
	padding:0px 20px;
	width:490px;
	height:165px;
}
.tags a{
	color:#034263;
	margin-right:10px;
}
.bg-top-body{
	height:58px;
	background: url(/images/BG_diagonale_top.png) repeat-x top left;
}
.bg-bottom-body{
	height:58px !important;
	margin-top:-58px;
	background: url(/images/BG_diagonale_bottom.png) repeat-x bottom left;
}
.white-bg .bg-bottom-body{
	margin-top:20px;
}
#content-body{
	position:relative;
}
#content-body p{
	padding-bottom:5px;
}
.whiteblock-shadow{
	float:left;
	padding:0px 6px 30px;
	width: 732px;
	background: url(/images/BG_whiteblock_shadow.png) repeat-y top left;
}

.bottom-shadow{
	float:left;
	width: 732px;
	padding:0px 6px;
	height:6px;
	background: url(/images/BG_whiteblock_shadow_bottom.png) no-repeat top left;
}
.bottom-shadow-big{
	width: 832px;
	padding:0px 6px;
	height:6px;
	background: url(/images/BG_whiteblock_shadow_bottom_big.png) no-repeat top left;
}
.bottom-shadow-reverse{
	float:left;
	width: 732px;
	padding:0px 6px;
	height:6px;
	background: url(/images/BG_whiteblock_shadow_bottom_reverse.png) no-repeat bottom left;
 }
.box-list {
	padding-left: 20px;
	float:left;
	margin-bottom:20px;
}
.box-list h1{
	margin-bottom:20px;
}
.box-list table{
	clear:both;
}
.box-list table td{
	border-collapse:collapse;
	padding:2px 5px;
	vertical-align:top;
}
tr.even{
	background-color:#EDEDED;
}
tr.odd{
	background-color:#fff;
}
.full-page{
	width:708px;
}
.one-col{
	width:275px;
}
.semi-one-col{
	width:225px;
}
.small-col{
	width:170px;
}
.two-col{
	width:400px;
}

.two-col.signup{
	width:450px;
}

.three-col{
	width:708px;
}
.star{
	width:70px;
}
.star img{
	margin:0px 2px;
}
.button{
	width:60px;
}
/* pre lancio */
.pre-lancio{
	width: 600px;
	margin:20px 20px 20px 0px;
	color:#808080;
}
.pre-lancio h1{
	color:#009DC2;
	font-size:35px;
}

.pre-lancio-form{
	width:832px;
	margin:10px 0px 20px;
	text-align:left;
}
.pre-lancio-form .elements{
	width:320px;
	margin: 0px 10px;
}
.pre-lancio-form input{
	border:none;
	width:260px;
}
.pre-lancio-form input.inputstyle[type="file"]{
	background:#fff;
	border:transparent;
	font-size:11px !important;
	font-weight:bold;
	width:260px !important;
}
.pre-lancio-form label{
	width:85px;
	font-weight:bold;
	display:block;
	float:left;
	padding-top:2px;
}
.rounded-angle-white-370{
	width:350px;
	padding:8px 10px;
	background:transparent url(/images/rounded_angle_white_370.png) no-repeat top left;
}
.form-cyan{
	background-color:#D9EFF6;
	margin:0px 0px 10px;
}
.form-cyan label{
	color:#97A7AC;
}
.form-orange{
	background-color:#F5D49C;
	margin:0px 0px 10px;
}
.form-orange label{
	color:#AB946D;
}

/* box */
.thumb{
	float:left;
	margin-right:20px;
}
/* people */
.people-list .top-box{
	margin-left: 5px;
}
.people-list .thumb{
	float:none;
	margin-right:0px;
}
.people-list .elements{
	text-align:center;
	width:75px;
	float:left;
	margin-left: 10px;
	margin-bottom:15px;
}
.people-list p.name, .people-list p.country{
	overflow:hidden;
	line-height:12px;
	height:25px;
	margin-bottom:0px !important;
}
/* bands */
.bands-dj-list .thumb img{
	padding:3px;
	background:#90CB81;
}
.bands-dj-list .elements{
	border-bottom: 1px solid #D9D9D9;
	padding-bottom:5px;
	margin-bottom:10px;
}
/* music */
.music-list .thumb{
	float:right;
	margin-left:8px;
	margin-right:0px;
	margin-bottom:0px !important;
}
.music-list .border-angle-top{
	background:url(/images/BG_curves_top.gif) no-repeat top left;
	padding:4px 8px 0px;
	margin-bottom:5px;
	clear:right;
}
.music-list .star{
	clear:both;
}
.music-list .elements{
	float:left;
	width:227px;
	margin:0px 3px;
	background:url(/images/BG_curves_bottom.gif) no-repeat bottom left;
}
.music-list .abstract{
	padding:5px;
	background-color:#ECF1F3;
}
/* collaboration */
.collaboration-list .thumb{
	margin-right:8px;
	margin-bottom:0px !important;
}
.collaboration-list .title{
	clear:both;
}
.collaboration-list .elements{
	float:left;
	width:170px;
	margin:0px 5px;
	padding:0px 5px;
	border-left:1px solid #ABC8D9;
}
/* answer */
.answer-list .top-box{
	background-color:#DDE4E4;
	padding:0px 5px 5px;
}
.answer-list .thumb{
	margin-right:12px;
	margin-bottom:0px !important;
	width:30px;
}
.answer-list .text-elements{
	float:left;
	width:220px;
}
.answer-list .abstract{
	font-style:normal;
}
.answer-list .elements{
	border-bottom:2px solid #fff;
	padding:15px 0px 0px;
}
.answer-number{
	text-align:right;
	color:#0296C2;
}
.answer-number a{
	color:#0296C2;
}
.home .answer-number{
	text-align:right;
	color:#61656A;
}
.home .answer-number a{
	color:#61656A;
}
/* simple list */
.simple-list{
	margin-bottom:20px;
}
.simple-list .elements{
	border-bottom: 1px solid #D9D9D9;
	padding-bottom:5px;
	margin-bottom:5px;
}
/* box_rounded_gray */
.box-rounded-gray{
	background:url(/images/BG_box_rounded_gray.png) no-repeat top left;
	height:170px !important;
	padding:10px 10px 0px;
	margin-bottom:15px;
}
.box-rounded-gray h1{
	margin-bottom:10px;
}
.box-rounded-gray .elements{
	height:75px !important;
	overflow:hidden;
}
.box-rounded-gray .thumb img{
	background-color:#ccc;
	padding:3px;
}
.horizontal-scroll-box{
	clear:both;
	text-align:center;
	padding-left:15px;
}
.horizontal-scroll{
	width:315px;
	text-align:center;
	float:left;
	height: 29px;
	overflow:hidden;
}

.horizontal-scroll img{
	float:left;
	margin:0px 3px;
}
.horizontal-scroll-box .button{
	float:left;
	width:auto;
	padding-top:10px;
	margin:0px 5px 0px;
}
.one-col .horizontal-scroll-box{
	padding-left:5px;
}
.one-col .horizontal-scroll{
	width:225px;
	height:66px;
	overflow:hidden;
}
.one-col .horizontal-scroll img{
	margin:4px;
}
.one-col .horizontal-scroll-box .button{
	margin:0px 5px 0px 0px;
}
/* yellow box */
.yellow-box h1{
	background:url(/images/BG_box_yellow_top.png) no-repeat top left;
	margin-bottom:0px;
	padding:10px 20px;
}
.yellow-box .bottom-box{
	background:url(/images/BG_box_yellow_bottom.png) no-repeat bottom left;
}
.yellow-box .elements{
	padding:0px 10px;
}
/* cyan box */
.cyan-box h2{
	background:url(/images/BG_box_cyan_top.png) no-repeat top left;
	margin-bottom:0px;
	padding:10px 20px;
}
.white-box h2{
	background:url(/images/BG_box_white_top.png) no-repeat top left;
	margin-bottom:0px;
	padding:10px 20px;
}
h2.mband-label{
	background:url(/images/BG_box_cyan_top_mband.png) no-repeat top left;
}
h2.band-label{
	background:url(/images/BG_box_cyan_top_band.png) no-repeat top left;
}
h2.dj-label{
	background:url(/images/BG_box_cyan_top_dj.png) no-repeat top left;
}
.cyan-box .top-box{
	background:url(/images/BG_box_cyan_bottom.png) no-repeat bottom left;
	/*padding-bottom:15px;*/
}
.white-box .top-box{
	background:url(/images/BG_box_white_bottom.png) no-repeat bottom left;
	/*padding-bottom:15px;*/
}
.cyan-box .bottom-box{
	background-color:#fff;
}
.cyan-box .elements{
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
	border-bottom:none;
}
.cyan-box .elements div{
	padding:2px 10px;
	margin:2px 0px 2px 0px;
	background-color:#fff;
	border-bottom:1px solid #BFD2DB;
}
.cyan-box .elements .small-box{
	background-color:#fff;
	margin:2px 2px 2px 1px;
	width:113px;
	float:left;
	border-bottom:1px solid #D5DDE0;
}
.white-box .elements{
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
	border-bottom:2px solid #fff;
}
.white-box .elements div{
	padding:2px 10px;
	margin:2px 0px 2px 0px;
	background-color:#F2F6F8;
}
/* green  box */
.green-box .top-box{
	background:#EFF7EC;
	padding:15px 15px 0px;
}
.green-box .rounded-white-bottom{
	background: url(/images/rounded_box_top_245px.png) no-repeat top left;
	padding-top:10px;
}
.green-box .rounded-white-top{
	background: url(/images/rounded_box_bottom_245px.png) no-repeat bottom left;
	padding-bottom:10px;
	margin-bottom:4px;
}
*html .green-box .rounded-white-bottom{
	background-image: url(/images/rounded_box_top_245px.gif);
}
*html .green-box .rounded-white-top{
	background-image: url(/images/rounded_box_bottom_245px.gif);
}
.green-box .elements{
	border-bottom: none;
	padding:0px 10px;
	margin-bottom:0px;
}
.green-box .elements p{
	margin-bottom:3px !important;
}
.green-box .thumb{
	float:right;
	margin:2px 2px 0px 8px !important;
}
.tracks-number{
	background:url(/images/tracks_number_BG.png) no-repeat top left;
	height:29px;
	width:29px;
	display:block;
	float:left;
	margin:0px 8px 0px 2px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	font-size:12px;
}
.green-box .green-bg{
	background:#EFF7EC;
	height:33px;
	overflow:hidden;
}
.green-box .name{
	padding-top:8px;
}
/* orange  box */
.orange-box .top-box{
	background:#FDF3E5;
	padding:15px 15px 0px;
}
.orange-box .rounded-white-bottom{
	background: url(/images/rounded_box_top_195px.png) no-repeat top left;
	padding-top:10px;
}
.orange-box .rounded-white-top{
	background: url(/images/rounded_box_bottom_195px.png) no-repeat bottom left;
	padding-bottom:10px;
	margin-bottom:4px;
}
*html .orange-box .rounded-white-bottom{
	background-image: url(/images/rounded_box_top_195px.gif);
}
*html .orange-box .rounded-white-top{
	background-image: url(/images/rounded_box_bottom_195px.gif);
}
.orange-box .elements{
	border-bottom: none;
	padding:0px 10px;
	margin-bottom:0px;
}
.orange-box .elements p{
	margin-bottom:3px !important;
}
.orange-box .orange-bg{
	background:#FDF3E5;
	height:33px;
	overflow:hidden;
}
.orange-box .thumb{
	margin:2px 8px 0px 2px !important;
}
.orange-box .name{
	padding-top:8px;
}

/* rounded box cyan */
.rounded-cyan-top{
	background:url(/images/BG_box_rounded_cyan_top.png) no-repeat top left;
	height:18px;
	width:454px;
	margin-top:20px;
}
.rounded-cyan-bottom{
	background:url(/images/BG_box_rounded_cyan_bottom.png) no-repeat top left;
	height:18px;
	width:454px;
	margin-bottom:20px;
}
.rounded-cyan-elements{
	padding:10px 40px;
	width:374px;
	background:#DDEAF2;
}
.rounded-cyan-elements p{
	color:#386781;
}
.keycode-button{
	background:url(/images/BG_keycode_button.png) no-repeat top left;
	width:350px;
	padding:12px 10px 12px !important;
	margin: auto auto;
	margin-bottom: 0px; 
	margin-top: 20px; 
}
.keycode-button label{
	float:left;
	font-weight:bold;
	color:#fff;
}
.keycode-button input{
	float:left;
	border:none;
	width:200px;
	margin:0px 15px;
}
.keycode-button input.input-button{
	float:left;
	background:transparent;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#01587F;
	margin-left:20px;
	margin-right:0px;
}

/* rounded box lightblue */
.rounded-lightblue-top{
	background:url(/images/BG_box_rounded_lightblue_top.png) no-repeat top left;
	height:18px;
}
.rounded-lightblue-bottom{
	background:url(/images/BG_box_rounded_lightblue_bottom.png) no-repeat top left;
	height:18px;
	margin-bottom:20px;
}
.rounded-lightblue-elements{
	text-align:center;
	background:#EEF4F8;
	color:#386781;
}


/* section tags */
.section-tags{
	float:right;
	padding:30px 20px 0px 20px;
	text-align:right;
}
.section-tags .elements{
	font-weight:bold;
	color:#006F9F;
	border:none;
}
.section-tags .elements a{
	font-weight:bold;
	color:#006F9F;
}
.one-col .section-tags{
	float:none;
	padding:30px 20px 0px 20px;
	text-align:left;
}
/* section tab */
.tit-sezion-tab{
	background: url(/images/BG_tab_title_top.gif) no-repeat top right;
	text-align:right;
	padding-right:35px;
	height:23px;
	padding-top:5px;
	margin-bottom:12px;
}
.tit-sezion-tab h1{
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#1A73A4;
	padding:0px 10px;
}
.tit-sezion-tab .button{
	width:auto;
}
.tab-title-list{
	border-bottom: 1px solid #D9D9D9;
}
.tab-title-list .elements{
	margin-bottom:15px;
}
.tab-title-list h1{
	background:url(/images/BG_tab_title.gif) no-repeat top left;
	padding:5px 0px 2px 25px;
	font-size:14px;
	font-weight:bold;
	color:#1A73A4;
}
.tab-title-list h1 a{
	font-size:14px;
	color:#1A73A4;
	margin-bottom:0px;
}
/* user blocks */
.user-profile{
	clear:both;
	padding-left: 20px;
	/*padding-top: 27px;*/
	margin-bottom:30px;
}
.user-photo{
	float:left;
	margin-right:20px;
	/*margin-top: 27px;*/
}
.user-resume{
	float:left;
	width:320px;
	margin-right:20px;
	height:150px;
	/*margin-top: 27px;*/
}
.user-mail{
	float:left;
	width:180px;
	height:155px;
	background-color:#eee;
	margin-top:5px;
}
.user-mail table td{
	color:#014D70;
	padding:5px 0px;
}
.user-mail table td a{
	color:#014D70;
}
.user-mail table tr.active{
	background:#BFDBE7;
}
.user-mail table td.active{
	background:#BFDBE7 url(/images/mail_box_active.gif) no-repeat top left;
}
.user-details{
	clear:both;
	margin: 0px 20px;
	margin-bottom:30px;
	background-color:#F3F8FA;
}
.user-details div{
	float:left;
	width:305px;
	padding:10px 20px;
}
.user-details .user-motto{
	border-right: 2px solid #fff;
}
.user-details .user-gusti{
	margin-left:-2px;
	border-left: 2px solid #fff;
}
.user-box-option{
	float:right;
	width:180px;
}
.user-box-option div{
	clear:both;
	height:30px;
}
.user-id{
	color:#014D70;
	font-size:11px;
	padding: 0px 20px 10px;
}
.user-id a{
	font-weight:bold;
	color:#014D70;
}
.adding-link{
	float:left;
	margin-left:23px;

}
/* page label */

.mband-page-label{
	background:url(/images/mband_page_label.gif) no-repeat top right;
}
.dj-page-label{
	background:url(/images/dj_page_label.gif) no-repeat top right;
}
.band-page-label{
	background:url(/images/band_page_label.gif) no-repeat top right;
}
.mypage-label{
	float:right;
	padding:10px 10px 0px;
}
.change-type{
	float:left;
	color:#0296C2;
	font-size:11px;
	font-weight:bold;
	text-align:right;
	padding-right:10px;
	border-right:1px solid #C6C6C6;
}
.change-type img{
	margin-left:8px;
}
.type-label{
	float:left;
	padding-left:10px;
}
/* classification block */
/* songs*/
.tit-classification-songs {
	margin-bottom:20px;
}
.tit-classification-songs table {
	margin:auto auto;
}
.tit-classification-songs h1{
	text-indent:-500em;
	font-size:1px;
	margin-bottom:0px;
	background: url(/images/BG_tab_title_songs.png) no-repeat top right;
	padding-top:24px;
}
.tit-classification-songs .top-box{
	background-color:#EEF3E7;
}
.tit-classification-songs .elements{
	margin-bottom:2px;
}

/* elenco generi */
/* songs*/
.elenco-genere {
	margin-bottom:20px;
	background-color:#EEF3E7;
	padding:10px 0px;
}
.elenco-genere table {
	margin:auto auto;
}
.elenco-genere h1{
	padding-left:10px;
}
.elenco-genere .top-box{
}
.elenco-genere .elements{
	margin-bottom:2px;
}
.elenco-genere img.float-left{
	margin-right:2px;
}
/* tracks */
.tit-classification-tracks {
	margin-bottom:20px;
}
.tit-classification-tracks table {
	margin:auto auto;
}
.tit-classification-tracks h1{
	text-indent:-500em;
	font-size:1px;
	margin-bottom:0px;
	background: url(/images/BG_tab_title_tracks.png) no-repeat top right;
	padding-top:24px;
}
.tit-classification-tracks .top-box{
	background-color:#F8ECD9;
}
.tit-classification-tracks .elements{
	margin-bottom:2px;
}

/* gallery */
.gallery {
	background:url(/images/BG_box_gallery.gif) no-repeat top left;
	margin-bottom:20px;
}
.gallery .bottom-box{
	background:url(/images/BG_box_gallery_bottom.png) no-repeat bottom left;
}
.gallery h1{
	padding:10px;
	margin:0px;
}
.gallery .elements{
	margin:10px 20px 10px;
	background:url(/images/BG_box_gallery_internal.jpg) repeat-x top left;
	height:370px;
	text-align:center;
/*	overflow:hidden;*/
}
.gallery .horizontal-scroll-box{
	position:relative;
	padding-top:10px;
	height:60px;
	overflow:hidden;
}
.gallery .horizontal-scroll{
	width:340px;
	height:65px;
	overflow:hidden;
}
.gallery-photo-thumb{
	float:left;
	width: 68px;
	height: 50px;
	position: relative;
	margin:0px 4px 5px;
}
.gallery-photo-thumb div{
	position: absolute;
	top: 50%;
	left: 0;
	text-align:center;
}
.gallery-photo-thumb img{
	float:none !important;
}
.gallery-photo-thumb a{
	padding:5px;
	display:block;
	position: relative;
	top: -50%;
	margin: auto auto;
} 
html>body .gallery-photo-thumb{
	position: static;
	display:table;
}
html>body .gallery-photo-thumb >div{
	display:table-cell;
	vertical-align:middle;
	position:static;
}
*+html>body .gallery-photo-thumb[class] {  
	position: relative;
} 
*+html>body .gallery-photo-thumb[class] div{  
	position: absolute;
}
.gallery-photo-thumb a:hover, .gallery-photo-thumb .active a{
	border:2px solid #878789;
	padding:3px;
} 
.gallery-photo-big{
	float:left;
	width: 360px;
	height: 350px;
	position: relative;
}
.gallery-photo-big div{
	position: absolute;
	width: 360px;
	top: 50%;
	left: 0;
	text-align:center !important;
}
.gallery-photo-big img{
	float:none !important;
	position: relative;
	top: -50%;
	margin: auto auto !important;
}
html>body .gallery-photo-big{
	position: static;
	display:table;
}
html>body .gallery-photo-big >div{
	display:table-cell;
	vertical-align:middle;
	position:static;
}
*+html>body .gallery-photo-big[class] {  
	position: relative;
} 
*+html>body .gallery-photo-big[class] div{  
	position: absolute;
}
.gallery .edit-command{
	padding:10px 10px 0px 0px;
}
.gallery-photo-thumb .edit-command{
	clear:both;
	/*float:left;*/
	margin:2px 0px;
	top:-10px;
	position:absolute;
}
.gallery-photo-thumb .edit-command a{
	padding:0px;
	position: relative;
	display:inline;
} 
html>body .gallery-photo-thumb >.edit-command{

	display:table-row;
}
.gallery-photo-thumb .edit-command a:hover, .gallery-photo-thumb .edit-command .active a{
	border:none;
	padding:0px;
} 
/* user sharing */
.user-sharing{
	font-size:11px;
	font-weight:bold;
	color:#0296C2;
	margin-bottom:20px;
}
.user-sharing p{
	height:25px;
}
.user-sharing label{
	float:left;
	text-align:right;
	width:120px;
	margin-right:5px;
}
.user-sharing span{
	float:left;
	color:#9CBAC7;
	display:block;
	width:37px;
}
.user-sharing input{
	float:left;
	width:220px;
	border:1px solid #999;
	margin-right:5px;
}
.user-sharing input.input-small{
	width:160px;
}
.user-sharing input.check-box{
	width:auto;
	border:none;
}
.user-sharing input.button{
	float:left;
	width:auto;
	border:none;
	background:none;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#0296C2;
}
/* register */
.border-left{
	border-left:1px solid #EBF1F4;
}
.register{
	font-size:11px;
	color:#014D70;
	margin-bottom:20px;
}
.register p{
	height:20px;
	margin-bottom:5px;
}
html>body .register p{
	height:auto;
	min-height:20px;
}
.register .selected{
	font-weight:bold;
	height:20px;
	margin-bottom:5px;
}
.register .selected img{
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}
.two-col .register label{
	float:left;
	text-align:right;
	margin-right:5px;
	width:100px;
}
.one-col .register label{
	padding-bottom:5px;
	display:block;
}
.register span{
}
.register input{
	float:left;
	border:1px solid #DEE8EC;
	margin-right:5px;
}
.register textarea{
	border:1px solid #BFD2DB;
}
.register select{
	border:1px solid #BFD2DB;
}
.full-page .register input, .full-page .register textarea{
	/*float:left;*/
	width:680px;
	border:1px solid #BFD2DB;
}
.centered .check-box{
	float:none;
}
.two-col .register input{
	width:250px;
}
.two-col .register select{
	width:250px;
}
.one-col .register select, .one-col .register textarea{
	width:250px;
	margin-left:5px;
}
.two-col .register input.input-small{
	width:160px;
}
.register input.check-box{
	width:auto;
	border:none;
}
.register input.button{
	float:left;
	width:auto;
}
.register ul, .register li {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.register li {
	float:left;
	width:115px;
	height:25px;
}
/* right col */
#rightcol{
	float:right;
	margin: 13px 6px 0px;
	width:214px;
}
.banner-right-col, #log-in, #mlab-box{
	margin-bottom:25px;
}
.mlab-container{
	padding:0px 5px;
	clear:both;
}
.mlab-enter{
	background:url(/images/mlab_scroll_title.png) no-repeat top left;
	height:45px;
	width:214px;
	text-align:right;
	font-weight:bold;
	color:#0099CC;
}
.mlab-enter a{
	display:block;
	color:#0099CC;
	padding-right:15px;
	margin-top:18px;
}
#mlab-scroll{
	padding:5px 0px;
}
#mlab-scroll .name, #mlab-scroll .abstract{
	width: 130px;
}
#mlab-scroll .elements{
	padding:5px;
	clear:both;
}
#mlab-scroll .even{
	background-color:#fff;
}
#mlab-scroll .odd{
	background-color:#E9F4F9;
}
#log-in{
	background-color:#DDE4E4;
	color:#224C6B;
	text-align: right;
	font-size:11px;
}
#log-in a{
	color:#224C6B;
	text-decoration:underline;
}
#log-in .log-in-input{
	float:left;
	padding:5px 0px 5px 5px;
	font-size:11px;
	width:125px;
	border-right: 2px solid #fff;
}
#log-in input{
	font-size:10px;
	width:120px;
	border:none;
}
#log-in .input-button{
	margin:0px 20px;
}
#log-in .log-in-link{
	float:left;
	padding:5px;
	width:70px;
}
#log-in-errors {
	background-color: #ffe4e4;
	color:#ff0000;
	text-align: center;
	font-size: 11px;
	border: 2px solid red;
}
.white-box-right-top{
	background:url(/images/white_box_right_top.png) no-repeat top left;
	height:9px;
}
.white-box-right-bottom{
	background:url(/images/white_box_right_bottom.png) no-repeat bottom left;
	height:9px;
}
.white-box-right-body{
	background:#fff;
	padding:0px 10px 10px;
}
.white-box-right-body h2{
	color:#0296C2;
	font-size:14px;
	font-weight:bold;	
}
.white-box-right-body p{
	float:left;
	height:25px;
	width:97px;
	margin-bottom:5px;
	color:#014D70;
	font-size:12px;
	font-weight:bold;
}
.white-box-right-body input, .white-box-right-body img, .white-box-right-body label{
	float:left;
}
.white-box-right-body label{
	padding:0px 5px;
}
p.sign-in{
	color:#0296C2;
	font-weight:normal;
	width:194px;
}
p.sign-in input{
	border:1px solid #DEE8EC;
	width:110px;
	margin-left:5px;
}
p.sign-in label{
	width:60px;
	text-align:right;
}
p.sign-in .button{
	width:auto;
	border:none;
	float:right;
	padding:5px 5px 0px 0px;
}
/* footer */
#footer{
	text-align:center;
	padding: 50px 0px 20px;
	background:#fff;
}
/* generici correttori */
.no-bold{
	font-weight:normal;
}
.white-bg .bg-body{
	background:#fff;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.centered{
	text-align:center;
}
.input-button{
	width:auto!important;
	border: none !important;
}
.clear-float{
	clear:both;
}
.margin-top-bottom{
	margin: 20px 0px;
}
.align-right{
	text-align:right;
}
.align-center{
	text-align:center;
}
.thumb.float-right{
	margin-right:0px;
	margin-left:20px;
}
.wraptext{
	width:180px;
	overflow:hidden;
}
.text-big{
	font-size:14px;
}
.cyan-text{
	color:#1A73A4;
}
.cyan-text a{
	color:#1A73A4;
}
.blue-text{
	color:#014D70;
}
.blue-text a{
	color:#014D70;
}
.black-text{
	color:#000;
}
.black-text a{
	color:#000;
}
.grey-text{
	color:#61656A;
}
.grey-text a{
	color:#61656A;
}
.alert{
	color:#c03;
	font-size:14px;
	font-weight:bold;
	padding-left:20px;
}
/* elementi speciali */
.grey-divisor{
	border-bottom:2px solid #EFEDD9;
	height:1px;
	font-size:1px;
}
/* special-button */
.special-button {
	margin: 0px 10px;
	display: inline;
}
head:first-child+body .special-button{
	padding: 0px 40px 20px;
	width: 50%;
	display: table-cell;
}
:root .special-button{
	padding: 0px !important;
	width: auto !important;
	display: inline !important; 
}
.special-button input{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:18px;
	font-weight: bold;
	color:#fff;
	text-align:center;
	position: absolute;
	padding-top: 0.45em; 
	background: none;
	border: none;
}
.special-button input.special_button_ok{
	width:77px;
	margin-left: -80px;
}
.special-button input.special_button_220{
	width:220px;
	margin-left: -225px;
}
.special-button input/* */{
	/*margin-left: -8.2em;*/
}
head:first-child+body .special-button input{
	padding-top: 0; 
	position: relative;
	/*margin-left: -7.2em;*/
	border: transparent 1px solid;
}
:root .special-button input{
	/*margin-left: -6.8em !important;*/
	padding-top: 0.45em !important; 
	position: absolute !important;
}
* html .special-button input{
	padding-top: 0.40em; 
}

/* tag cloud */

a.cloud1 {
	font-size: 110%;
}

a.cloud2 {
	font-size: 130%;
}

a.cloud3 {
	font-size: 150%;
}

a.cloud4 {
	font-size: 170%;
}

a.cloud5 {
	font-size: 190%;
}

.fieldWithErrors input {
	background: #ffe4e4;
}

.error {
  color: red;
}