<div class="simple-list clear-block">
  <h1>MY QUESTIONS</h1>
  <div class="top-box clear-block">
    <div class="bottom-box clear-block">
      <%= render :partial => 'answer', :collection => @answers %>	
	</div>
  </div>
</div>
