<div class="elements clear-block">
	<p class="thumb"><%= link_to avatar_image(answer.user, :icon), user_path(answer.user) %></p>
	<p class="name"><%= link_to answer.user.login, user_path(answer.user) %></p>
	<p class="abstract"><%= link_to h(answer.body), answer_path(answer) %></p>
	<p class="answer-number"><%= link_to pluralize(answer.replies_count, 'reply'), answer_path(answer) %></p>
</div>