<div class="elements clear-block">
	<p class="abstract"><%= link_to h(answer.body), answer_path(answer) %></p>
	<p class="answer-number"><%= link_to pluralize(answer.replies_count, 'reply'), answer_path(answer) %></p>
</div>