<script type="text/javascript">
	$(function() { 
		$('#mbands-tabs').simpleTabs({current: 'weight-bold'});
	});
</script>
<div id="mbands-tabs">
	<ul class="fright" style="list-style:none">
		<li><a href="#mbands-create" class="edit_lists add_icon none s13">Create a new MBand</a></li>
		<li><a href="#mbands-listing" class="edit_lists cogedit_icon none clear">Manage your MBands</a></li>
	</ul>

	<div id="mbands-listing">
		<div class="fleft">
			<span class="gray_spec"><%= if current_user_page? then "You play" else "#{@user.login} plays" end %> in these</span>
			<span class="fleft heading s13 weight-bold">M-Bands</span>
		</div>
		<div class="clear"> </div>

		<%= render :partial => 'users/band', :collection => @mbands %>
	</div>
	<div id="mbands-create" style="display:none">
		<div class="fleft">
			<span class="gray_spec">Create a new</span>
			<span class="fleft heading s13 weight-bold">M-Band</span>
		</div>
		<div class="clear"> </div>

		<%= render :partial => 'users/band_new' %>                
	</div>
</div>
