<div>
	<p class="thumb">
	  <%= image_tag band_member.instrument.icon %>
    <%= avatar_image(band_member, :icon, :avatar) %>
  </p>
	<p class="grey-text name"><em><%= band_member.instrument.description %></em></p>
	<p class="name"><%= band_member.name %></p>
</div>