			<div class="band_member" id="band_member_<%= band_member.id %>">
				<div class="band_member_details">
					<%= instrument_icon band_member.instrument %>
					<%= avatar_image band_member, :icon, :class => :avatar %>
				</div>
				<span class="band_member_name"><%= band_member.name %></span>
			</div>

