<div class="simple-list cyan-box clear-block">
<h2>Componenti di <br/> <%= @user.login %></h2>
  <div class="top-box clear-block">
    <div class="bottom-box clear-block">
			<div class="elements clear-block" id="band-members">
			  <%= render :partial => 'band_member', :collection => @user.members %>
			</div>
			<%= render :partial => 'users/my/band_member_form' if current_user_page? %>			
    </div>
  </div>	
</div>