<div>
	<p class="thumb">
	  <%= image_tag band_member.instrument.icon %>
    <%= avatar_image(band_member, :icon, :avatar) %>
  </p>
	<p class="grey-text name"><em><%= band_member.instrument.description %></em></p>
	<p class="name"><a href="#"><%= band_member.name %></a></p>
</div>