<div class="people-list clear-block">
	<%= navigation_arrows_for 'coolest', 'users', 'top' %>
  <h1>COOLEST</h1>
  <div class="top-box clear-block clear-float">
	  <div class="bottom-box clear-block">
      <%= render :partial => 'shared/person', :collection => @coolest, :locals => {:color => "blue"} %>			  
	  </div>
  </div>
	<%= navigation_arrows_for 'coolest', 'users', 'bottom' %>
</div>
