<!-- Width values are calculated by adding the padding of the span votes -_-,
     layout is a little messy, no way of cross browser-compatibility.
     Max value is 105px, Min value 16px  -->
<ul class="people_chart">
	<h2>Coolest People</h2>
  <% for user in @coolest_users %>

	<li>
		<div class="votes_chart">
			<div class="avatar fleft">
        <%= link_to image_tag(user.avatar.public_filename(:small), :size => '40x40'), user %>
			</div>
      <span class="chart_value alright" style="padding-left: <%= 105 * user.rating_count / @max_votes %>px;"><%= user.rating_count %> votes</span>
      <a href="" class="song_author block"><strong><%= user.nickname %></strong></a>
			
      <%# rating %>
			
		</div>					
	</li>

  <% end %>
</ul>
