<div class="friend_list">
	<span class="fleft">
		<a href="">
			<img src="/images/temp/avatar_alvarez.jpg" class="fb_thumb border avatar" width="40" height="40" />					
			<img src="/images/icons/facebook.gif" class="fb_avatar" />		
		</a>
	</span>
			<div class="friend_status">
				<div class="fright user_song_tools">
					<a href="#" class="fright">	
						<span class="fleft icons16 ui-state-tools ui-icon-close"> 					
						</span>remove
					</a>
				</div>
				<a href="" alt="online" class="fleft heading none weight-bold">Pinca Palla</a>
				<span class="fleft user_online_icon padleft16 icons"> </span>
				<p class="nomargin status_outside gray_spec fleft">
					<span class="lquote status_green s21">&ldquo;</span>
					Ho la macchina in doppia fila.
					<span class="rquote status_green s21">&rdquo;</span>						
				</p>
			</div>
</div>


<div class="friend_list">
	<span class="fleft">
		<a href="">
			<img src="/images/temp/avatar_enzo.jpg" class="fb_thumb border avatar" width="40" height="40" />					
		</a>
	</span>
			<div class="friend_status">
				<a href="" class="heading none weight-bold">Enzo de la Fonzeca</a>
				<p class="nomargin status_outside gray_spec fleft">
					<span class="lquote status_green s21">&ldquo;</span>
					Sono sempre disponibile a suonare ed amplessare live con voi su ogni genere musicale.
					<span class="rquote status_green s21">&rdquo;</span>						
				</p>					
			</div>
</div>
