<li>		
		<span class="fleft">
				<img src="/images/temp/avatar_alvarez.jpg" class="fb_thumb border avatar" width="40" height="40" />					
				<img src="/images/icons/facebook.gif" class="fb_avatar" />		
		</span>
		<div class="friend_status">
			<span class="fleft heading weight-bold">Pinca Palla</span><br />
			<span class="fleft padleft16 user_online_icon icons"> </span>
			<span class="gray_spec">online</span>
		</div>
</li>
<li>
		<span class="fleft">
				<img src="/images/temp/avatar_enzo.jpg" class="fb_thumb border avatar" width="40" height="40" />					
		</span>
		<div class="friend_status">
			<span class="heading weight-bold">Enzo de la Fonzeca</span>
		</div>
</li>