<div class="overflow-hidden">
	<span class="fleft">
		<a href="">
			<img src="/images/temp/avatar_alvarez.jpg" class="fb_thumb border avatar" width="40" height="40" />					
			<img src="/images/icons/facebook.gif" class="fb_avatar" />		
		</a>
	</span>
			<div class="friend_status">
				<div class="fright user_song_tools">
					<a href="#" class="fright">	
						<span class="fleft icons16 ui-state-tools ui-icon-close"> 					
						</span>remove
					</a>
				</div>
				<a href="" alt="online" class="heading none weight-bold user_online_icon padleft16">Pinca Palla</a>
				<div class="overflow-hidden">
					<span class="blurp_friends fleft"> </span>
					<div class="friend_balloon gray5">
						<span class="">
							Ciao, sei davvero una bella figa !
						</span><br />
						<span class="gray_spec">now playing</span>	
						<a href="" class="none">&ldquo;&nbsp;Purtm a Sord Live&nbsp;&bdquo;</a>						
					</div>
				</div>
			</div>
</div>


<div class="overflow-hidden">
	<span class="fleft">
		<a href="">
			<img src="/images/temp/avatar_enzo.jpg" class="fb_thumb border avatar" width="40" height="40" />					
		</a>
	</span>
			<div class="friend_status">
				<a href="" class="heading none weight-bold padleft16">Enzo de la Fonzeca</a>
				<div class="overflow-hidden">
					<span class="blurp_friends fleft"> </span>
					<div class="friend_balloon gray5">
						<span class="">
							Sono sempre disponibile per suonare live con voi.
						</span><br />
						<span class="gray_spec">i'm recording in the m-track</span>	
					</div>
				</div>
			</div>
</div>
