<!-- USER GEAR -->
<ul class="profile_sidebar">
	<a href="" class="edit_lists edit_icon none fright">Edit</a>
	<h2 class="nomargin">Gear</h2>
	<p class="gray_spec nomargin">Pinca Palla use the following gear</p>
	<li class="nomargin">
		<div class="instr_avatar shadow_white fleft">
			<span class="instr icon_4"> </span>
		</div>
		<div class="gear_spec fleft">
			<strong>Electric Guitars</strong><br />
			<a href="" class="pictures_icon block none">Fender Stratocaster</a>
			<a href="" class="pictures_icon block none">Ibanez Jem</a>
			<span class="block sixsixsix">Gibson 335</span>
		</div>
	</li>
	<li class="nomargin">
		<div class="instr_avatar shadow_white fleft">
			<span class="instr icon_31"> </span>
		</div>
		<div class="gear_spec fleft">
			<strong>Synths</strong><br />
			<a href="" class="pictures_icon block none">Micro Korg</a>
			<a href="" class="pictures_icon block none">Access Virus T1 Polar</a>
		</div>
	</li>
</ul>