<h2>IM CONTACTS</h2>
<% if !@user.msn.blank? && @user.msn_public? %>
  <p class="grey-text"><%= image_tag 'icone_link_MSN.gif' %>
	  <%= @user.msn %></p>
<% end %>

<% if !@user.skype.blank? && @user.skype_public? %>
  <p class="grey-text"><%= image_tag 'icone_link_skype.gif' %>
	  <%= @user.skype %></p>
<% end %>
