<!-- USER INFO -->
<!-- <a href="" class="edit_lists edit_icon none fright">Edit Informations</a> -->
<div class="clear"> </div>
<div class="iam_box fleft">
	<a href="" class="edit_lists edit_icon none fright">Edit</a>
	<h2>I'm</h2>
	<div class="inner">


		<dl class="info">
			<dt>Sex:</dt>
			<dd>Male</dd>
			<dt>Country:</dt>
			<dd>Italy</dd>
			<dt>Date of birth:</dt>
			<dd>19/01/1982</dd>
			<dt>E-mail:</dt>
			<dd><a href="">babongo@babolandia.org</a></dd>
			<dt>Gears:</dt>
			<dd><a href="">Fender Stratocaster,</a> <a href="">Access Virus T1 Polar,</a> 
				<a href="">Bongo Banale,</a> <a href="">Flauto in plastica</a>
			</dd>
			<dt>M-Bands:</dt>
			<dd><a href="">Sblandons</a></dd>
		</dl>
		
		<p class="info_text_group gray_spec">
			<span class="s13 heading block">Biography</span>
			Suspendisse sed elit. Etiam varius, libero eget consectetur auctor, eros felis egestas lectus, quis convallis nunc enim eget enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam dictum lacus ut libero. Donec enim justo, pulvinar et, tincidunt non, imperdiet ac, urna. Nulla posuere pretium eros. Integer sed velit. Praesent auctor. Phasellus aliquam malesuada erat. Vestibulum ac felis eget tortor sollicitudin hendrerit. Duis fringilla metus ut tortor. Sed ac turpis.	
		</p>


	</div>
</div>

<div class="influences_box fleft">
	<a href="" class="edit_lists edit_icon none fright">Edit</a>
	<h2>Influences</h2>
	<div class="inner">

		<p class="info_text_group">
			<span class="s13 heading block">Genre</span>
			<span class="tag_genre nomargin">
				<a href="">Acid Jazz/Fusion,</a> <a href="">Acoustic,</a> <a href="">Alternative 	Rock,</a> <a href="">Ambient,</a> <a href="">Blues,</a>  
				<a href="">British Pop,</a> <a href="">Classic Rock,</a> <a href="">Country,</a>  <a href="">Country Rock,</a> <a href="">Crossover,</a> <a href="">Dance,</a>  
				<a href="">Disco,</a> <a href="">Drum & Bass,</a> <a href="">EBM,</a> <a 	href="">Electro-Rock,</a> <a href="">Electronic,</a> <a href="">Folk Rock,</a> <a href="">Funk,</a> <a href="">Acid Jazz/Fusion,</a> <a href="">Acoustic,</a> <a href="">Alternative 	Rock,</a> <a href="">Ambient,</a> <a href="">Blues</a>
			</span>			
		</p>

		<p class="info_text_group">
			<span class="s13 heading block">Artists</span>
			<span class="tag_genre body12 nomargin">
				<a href="">Tommy Califano,</a> <a href="">Barac Mobil,</a> <a href="">Dustin Pinkerlake,</a>  <a href="">Pino,</a> <a href="">Angelo & Cirillo,</a> 
				<a href="">Alvarez de la Fonzeca,</a> <a href="">XXX84,</a> <a href="">B 52,</a> <a href="">Pane e Pomodoro,</a> <a href="">Ajira Airlines,</a> <a href="">Vincent Burd</a>  
			</span>
		</p>


		<p class="info_text_group">
			<span class="s13 heading block">Movies</span>
			<span class="gray_spec nomargin">
				The Snatch, Matrix, Loredana tutta tana, L'incredibile voglia "di cazzo" di Babette
			</span>
		</p>

		<p class="info_text_group">
			<span class="s13 heading block">Books</span>
			<span class="gray_spec nomargin">
				The three stigmata of Palmer Eldrich
			</span>
		</p>
			
	</div>
</div>