<div class="clear-block">
  <div class="simple-list yellow-box">
  	<%= navigation_arrows_for 'newest', 'users', 'top' %>
    <h1>NEWEST</h1>
    <div class="top-box clear-block">
      <div class="bottom-box clear-block">
				<%= render :partial => 'users/person_medium', :collection => @newest %>
      </div>
    </div>
  	<%= navigation_arrows_for 'newest', 'users', 'bottom' %>
  </div>
</div>
