<!-- IN WALL NOTIFICATIONS -->
<ul class="extended_wall">
	<h2>Activity</h2>
	<p class="gray_spec">Pinca Palla recent activity on Mewsic</p>
	<li>
		<span class="icons wall_icon gray_spec"> wrote on <a href="">Pinco Pallo's</a> wall</span>
	</li>
	<li>
		<span class="icons podcast_icon gray_spec"> subscribed to <a href="">Bananos</a> podcast</span> 
	</li>
	<li>
		<span class="icons admire_icon gray_spec"> became friend of <a href="">Gianni Panucci</a> </span> 
	</li>
</ul>
