<ul class="wall_filters">
	<li><input type="checkbox" class="filter_check"><label>By Pinca Palla</label></li>
	<li><input type="checkbox" class="filter_check"><label>From Friends</label></li>
	<li><input type="checkbox" class="filter_check"><label>Music</label></li>
	<li><input type="checkbox" class="filter_check"><label>Media</label></li>	
	<li><input type="checkbox" class="filter_check"><label>Friendship</label></li>		
</ul>
