<div class="elements clear-block">
	<p class="thumb">
	  <%= link_to avatar_image(person_short, :small), user_path(person_short) %>
	</p>
	<p class="name">
	  <%= link_to person_short.login, user_path(person_short) %>
	</p>
	<p class="country">
	  <%= h person_short.compiled_location %>
	</p>
	<p class="lightgrey-text float-right">
	  <strong><%= person_short.songs_count %> songs</strong>
	</p>
</div>
