<div class="elements clear-block">
	<p class="thumb"><a href="#"><img src="/avatars/photo_42X42.jpg" alt="Band" width="42" height="42" /></a></p>
	<p class="name"><a href="#">Pinco Pallino</a></p>
	<p class="country">Italy, Pescara</p>
	<p class="text-blue float-right"><strong>99 tracs</strong></p>
</div>
