<div class="elements clear-block">
	<p class="thumb">
	  <a href="<%= user_path(person_short) %>">
	    <%= avatar_image(person_short, :small) %>
	  </a>
	</p>
	<p class="name">
	  <a href="<%= user_path(person_short) %>"><%= h person_short.login %></a>
	</p>
	<p class="country">
	  <%= h person_short.compiled_location %>
	</p>
	<p class="text-blue float-right">
	  <strong><%= person_short.songs_count %> songs</strong>
	</p>
</div>
