<div class="elements clear-block">
	<p class="country align-right"><%= h person_medium.compiled_location %></p>
	<p class="thumb float-right">
	  <a href="<%= user_path(person_medium) %>"><%= avatar_image(person_medium, :small) %></a>
	</p>
	<p class="name"><a href="<%= user_path(person_medium) %>"><%= h person_medium.login %></a></p>
	<p class="abstract"><%= h person_medium.motto %></p>
</div>
