<div class="gallery-photo-thumb">
  <div>
    <a href="photo.public_filename(:large)" class="lightwindow">
      <%= image_tag(photo.public_filename(:small), :alt => photo.filename) %>
    </a>    
  </div>
</div>