<div class="gallery-photo-thumb">
  <div>
    <a href=""><%= image_tag(photo.public_filename(:small), :alt => photo.filename), photo.public_filename(:large), :class => 'lightwindow' %></a>    
  </div>
</div>