<!-- PICTURE SHOW -->
<script type="text/javascript">
$(function() { 
    // retrieve list of slides from server 
    $.getJSON('/images/temp/gallery/01/slidelist.php', startSlideshow); 
     
    function startSlideshow(slides) { 
        /* server returns an array of slides which looks like this:       */ 
         
        var totalSlideCount = 1 + slides.length; 
         
        var $slideshow = $('#slide'); 
         
        // markup contains only a single slide; before starting the slideshow we  
        // append one slide and prepend one slide (to account for prev/next behavior) 
        $slideshow.prepend('<img src="'+slides.pop()+'" />'); 
        $slideshow.append('<img src="'+slides.shift()+'" />'); 
 
        // start slideshow 
        $('#slide').cycle({ 
            fx: 'scrollHorz', 
            startingSlide: 1,  // ****** put value of current opened image ******
            timeout:  0, 
            speed:    500, 
            prev:    '#prev', 
            next:    '#next', 
			containerResize: 1,
            before:   onBefore 
        }); 
         
 
        function onBefore(curr, next, opts, fwd) { 
            // on Before arguments: 
            //  curr == DOM element for the slide that is currently being displayed 
            //  next == DOM element for the slide that is about to be displayed 
            //  opts == slideshow options 
            //  fwd  == true if cycling forward, false if cycling backward 
                 
            // on the first pass, addSlide is undefined (plugin hasn't yet created the fn yet) 
            if (!opts.addSlide) 
                return; 
                 
            // have we added all our slides? 
            if (opts.slideCount == totalSlideCount) 
                return; 
 
            // shift or pop from our slide array  
            var nextSlideSrc = fwd ? slides.shift() : slides.pop(); 
             
            // add our next slide 
            opts.addSlide('<img src="'+nextSlideSrc+'" />', fwd == false); 
        }; 
    }; 
});
</script>

<div class="fleft">
	<span class="fleft ui-icon ui-icon-arrowreturnthick-1-w"> </span>
	<a href="profile.php" class="fleft heading s13 weight-bold none">Back to pictures</a>
</div>

<ul class="tagged_instr_list fright">
<span class="fleft gray_spec">Gear of Pinca Palla in this photo</span>
	<a href="" class="edit_lists tag_yellow_icon none fright">Tag Gear</a>
<div class="clear"> </div>

	<li>
		<div class="instr_avatar fleft" style="margin: 0 5px 0 0">
			<span class="instr icon_4"> </span>
		</div>
		<div class="heading">
			<strong>Electric Guitar</strong><br />
			Fender Stratocaster
		</div>		
	</li>
	<li>
		<div class="instr_avatar fleft" style="margin: 0 5px 0 0">
			<span class="instr icon_35"> </span>
		</div>
		<div class="heading">
			<strong>Drum</strong><br />
			Pearl
		</div>				
	</li>
</ul>
<div class="clear"> </div>

<div id="pictures_gal">
	
	<div class="fleft heading">1 of 23 photos</div>
	<div class="fright gray_spec">
		<a href="#" class="none"><span id="prev">Prev</span></a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#" class="none"><span id="next">Next</span></a>
	</div>
	<div class="clear"> </div>

	<div class="slide_container">
		<div id="slide" class="slideshow" style=""><!-- put in style image width/height value -->
				<!-- <img src="<?=$galpath.$im?>"  /> -->
		</div>
	</div>
	<div class="pic_descr heading weight-bold">
		Lorem Ipsum dolor sit amet stramalerett
	</div>
	
	<div class="fright flickr_link">
		<span class="sixsixsix">Watch my photostream on</span>
		<a href="http://www.flickr.com"><img src="images/flickr_badge.jpg" /></a>
	</div>

</div>

