<!-- PICTURE LIST -->
<div class="fleft">
	<span class="gray_spec">Pinca Palla have:</span>
	<span class="fleft heading s13 weight-bold">23 Pictures</span>
</div>

<div class="fright">
<a href="" class="edit_lists add_icon none fright weight-bold s13">Add new pictures</a>
<a href="" class="edit_lists cogedit_icon none fright clear">Tag Gear, Edit & Organize your photos</a>
</div>	

<div class="clear"> </div>

<div id="pictures_gal">
	
	<center>
		<table id="gallery" border="0" cellspacing="20" cellpadding="10" width="100%">
			<tr>
				<td align="center" valign="middle">
					<a href="profile.php?im=05">
						<img src="/images/temp/gallery/01/preview/05.jpg" alt="05" border="0" />
					</a>
				</td>
				<td align="center" valign="middle">
					<a href="profile.php?im=07">
						<img src="/images/temp/gallery/01/preview/07.jpg" alt="07" border="0" />
					</a>
				</td>
				<td align="center" valign="middle">
					<a href="profile.php?im=12">
						<img src="/images/temp/gallery/01/preview/12.jpg" alt="12" border="0" />
					</a>
				</td>
				<td align="center" valign="middle">
					<a href="profile.php?im=16">
						<img src="/images/temp/gallery/01/preview/16.jpg" alt="16" border="0" />
					</a>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<a href="profile.php?im=18">
						<img src="/images/temp/gallery/01/preview/18.jpg" alt="18" border="0" />
					</a>
				</td>
				<td align="center" valign="middle">
					<a href="profile.php?im=19">
						<img src="/images/temp/gallery/01/preview/19.jpg" alt="19" border="0" />
					</a>
				</td>
				<td align="center" valign="middle">
					<a href="profile.php?im=30">
						<img src="/images/temp/gallery/01/preview/30.jpg" alt="30" border="0" />
					</a>
				</td>
				<td align="center" valign="middle">
					<a href="profile.php?im=32">
						<img src="/images/temp/gallery/01/preview/32.jpg" alt="32" border="0" />
					</a>
				</td>
			</tr>
		</table>


		<!-- FLICKR STREAM -->

		<div class="alright flickr_link">
			<strong>Pinca Palla</strong>'s stream on
			<a href="http://www.flickr.com" class="gray_spec flickr_badge none"> </a>
		</div>
		<table id="flickr_gallery" border="0" cellspacing="0" cellpadding="10" width="100%">
			<tr>
				<td align="center" valign="middle">
					<a href="profile.php?im=05">
						<img src="/images/temp/gallery/01/preview/05.jpg" alt="05" border="0" />
					</a>
				</td>
				<td align="center" valign="middle">
					<a href="profile.php?im=30">
						<img src="/images/temp/gallery/01/preview/30.jpg" alt="30" border="0" />
					</a>
				</td>
				<td align="center" valign="middle">
					<a href="profile.php?im=05">
						<img src="/images/temp/gallery/01/preview/05.jpg" alt="05" border="0" />
					</a>
				</td>
				<td align="center" valign="middle">
					<a href="profile.php?im=30">
						<img src="/images/temp/gallery/01/preview/30.jpg" alt="30" border="0" />
					</a>
				</td>
			</tr>
		</table>
	</center>
	
</div>