<div class="pick_wrap">
		<a href="" class="pick_ad block fleft" title="Gerardo Palla" style="background-image: url('images/temp/pick_gerardo.jpg');">
			<p class="pick_info block">
				<strong>PICK OF THE WEEK</strong>
			</p>
		</a>
		<div class="pick_details fright">
			<h1>Gerardo Palla</h1>
			<p class="tag_genre">
				<a href="">Acid Jazz</a><a href="">Acoustic</a><a href="">Alternative</a>
			</p>
			<ul class="pick_page_anchors">
				<li><a href="" class="anchors">PAGE</a></li>
				<li><a href="" class="anchors">VIDEO</a></li>
				<li><a href="" class="anchors">PHOTO</a></li>
				<li><a href="" class="anchors song">SONGS</a></li>																		
			</ul>
			<p class="interview">
				Lorem ipsum dolor sit amet, 
				consectetur adipiscing elit. <a href="">Maecenas</a> nunc pede, facilisis feugiat, posuere a, tempus in, urna. Curabitur sapien. Aliquam elementum mauris. Aenean porttito nec massa mattis rutrum. Maecenas pharetra mi in nunc. Nuarcu sit amet lectus Aliquam elementum maurri del bananas del vinto eterno.
			</p>						
			
			<!-- PICKED RELATED -->
			<ul class="related_list alright">
				<h2>Mew-Band of this artist</h2>
				<li class="user_thumb">
					<img src="images/thumb_loader_white.gif" width="39" height="39" />
				</li>
				<li class="user_thumb">
					<img src="images/thumb_loader_white.gif" width="39" height="39" />
				</li>
				<li class="user_thumb">
					<img src="images/thumb_loader_white.gif" width="39" height="39" />
					<img src="images/user_thumb.jpg" width="40" height="40" class="loaded" />
				</li>
				<li class="user_thumb">
					<img src="images/thumb_loader_white.gif" width="39" height="39" />
					<img src="images/user_thumb.jpg" width="40" height="40" class="loaded" />
				</li>
			</ul>
			
			
		</div>

		<!-- SONG BLOCK -->
		<div class="w454 fleft">
      <% 3.times do %>
        <%= render :partial => 'shared/song_block' %>
      <% end %>

			<!-- non e' esploso, e' solo per vedere i blocchi instr :_) -ndstr -->
      <!-- uhm. -vjt -->
      <% 4.times do %>
        <%= render :partial => 'shared/instrument_block' %>
      <% end %>
			
		</div>
		<!-- END SONG BLOCK -->
</div>
<div class="clear"> </div>

