<!-- USERS SIDEBAR -->
<ul class="sidebar_user_status">
	<h2>Users playing this song</h2>
	<li class="list_status">
				<a href="" class="wall_avatars avatar fleft">
					<img src="/images/temp/avatar_alvarez.jpg" class=" border" width="40" height="40" />					
				</a>
				<div class="message">
					<a href="" class="user_name none block weight-bold">Pinca Palla</a>
					<span class="blurp_sidebar fleft"> </span>
					<div class="post_balloon sidebar_balloon">
						<span class="block">
						Ciao, sei davvero una bella figa !
						</span>
						<span class="gray_spec">now playing</span>	
						<a href="" class="none">&ldquo;&nbsp;Purtm a Sord Live&nbsp;&bdquo;</a>						
					</div>
				</div>
	</li>
	<!-- RP -->
	<li class="list_status">
				<a href="" class="wall_avatars avatar fleft">
					<img src="/images/temp/avatar_enzo.jpg" class=" border" width="40" height="40" />					
				</a>
				<div class="message">
					<a href="" class="user_name none block weight-bold">Enzo de la Fonzeca</a>
					<span class="blurp_sidebar fleft"> </span>
					<div class="post_balloon sidebar_balloon">
						<span class="block">
							Sono sempre disponibile per suonare e amplessare live con voi.
						</span>
						<span class="gray_spec">i'm recording in the m-track</span>	
					</div>
				</div>
	</li>
</ul>
