<!-- USERS SIDEBAR -->
<ul class="sidebar_user_status">
	<h2>Users playing this song</h2>
	<li class="list_status">
				<a href="" class="wall_avatars avatar fleft">
					<img src="/images/temp/avatar_alvarez.jpg" class=" border" width="40" height="40" />					
				</a>
				<div class="message">
					<a href="" class="heading user_name none block weight-bold">Pinca Palla</a>
					<p class="nomargin status_outside">
						<span class="lquote status_green s21">&ldquo;</span>
						Ho la macchina in doppia fila...
						<span class="rquote status_green s21">&rdquo;</span>						
					</p>
				</div>
	</li>
	<li class="list_status">
				<a href="" class="wall_avatars avatar fleft">
					<img src="/images/temp/avatar_enzo.jpg" class=" border" width="40" height="40" />					
				</a>
				<div class="message">
					<a href="" class="heading user_name none block weight-bold">Enzo de la Fonzeca</a>
					<p class="nomargin status_outside">
						<span class="lquote status_green s21">&ldquo;</span>
						Sono sempre disponibile per suonare e amplessare live con voi. 
						<span class="rquote status_green s21">&rdquo;</span>						
					</p>
				</div>
	</li>
</ul>
