<div class="change-type clear-block">
	<p>Change type</p>
	<div>
    	<img alt="" src="/images/change_user_active.gif"/>
	  	<img alt="" src="/images/change_band_inactive.gif"/>
	  	<img alt="" src="/images/change_dj_inactive.gif"/>
  	</div>
</div>