<!-- VIDEOS EDIT -->
<div class="fleft">
	<span class="gray_spec">You have:</span>
	<span class="fleft heading s13 weight-bold">23 Videos</span>
</div>

<div class="fright">
	<span class="fleft ui-icon ui-icon-arrowreturnthick-1-w"> </span>
	<a href="" class="none fright heading">Back to videos</a>
</div>	

<div class="clear"> </div>



<script type="text/javascript">
	$(function() {
		$("#edit_videos").sortable({
			containment: '#edit_videos',
			opacity: 0.7,
			revert: true,
			tolerance: 'pointer'
		});
		$("#drag_video").draggable({
			connectToSortable: '#edit_videos',
			revert: 'invalid'
		});
		$("#edit_videos, #drag_video").disableSelection();
	});

	$(document).ready(function(){
	  $('#video-descr').simpleautogrow();
	});
	
</script>
	
	
	<div id="edit_flickr" class="nopad">
			<div class="fleft w343 margintop20">
				<span class="edit_lists share_video_icon fleft"> </span>
				<span class="fleft heading s13 weight-bold">Add, Edit & Organize your videos</span>
				<span class="gray_spec margin7 fleft">Lorem ipsum dolor sit amet blah blah dolore imet lorm ipsum del cristus mortus lorem banana ipsum in croce dolor nel cul dolor nel pen dolot in figa</span>	
			</div>
			<div class="fleft w343 margintop20">
				<span class="fright heading s13 weight-bold">Add new videos</span>
				<span class="edit_lists add_icon fright"> </span>			
			<div class="clear"> </div>

				<select id="video-from" name="video-from" class="fright margin7 body12">
					<option value="00">Youtube</option>
					<option value="00">Vimeo</option>					
					<option value="00">Yahoo</option>										
					<option value="00">Google Video</option>					
				</select>
			<div class="clear"> </div>

				<input type="submit" class="text-aligned_submit fright margin7 marginleft10" value="Add">
				<input type="text" class="text margin7 fright" name="video-data" style="width:66%">


			</div>
			<div class="clear"> </div>		
			
			
			<ul id="edit_videos" class="margintop20 profile_video_lists">
			<li class="clear_style overflow-hidden">
				<input type="reset" value="Cancel" class="mailbox_cancel cancel_button gray_spec fright">
				<input type="submit" value="Save all changes" class="login_button mailbox_send fright">
				<div class="fright icons16 loader_white" style="margin:1px 5px 0 0"> </div>				
			</li>		
			<li id="drag_video">
				<div class="video_thumb fleft">
					<div class="fleft">
						<span class="still_play"> </span>
						<img src="/images/temp/pick_enzo.jpg" width="120" height="67" />
					</div>
					<span class="gray_spec fleft">Source: Youtube</span>
				</div>
				<div class="fleft w240 padleft18">
					<span class="gray_spec weight-bold block">Title:</span>
					<span class="heading">Lorem ipsum dolor sit amet calugna moris</span>
				</div>
				<div class="fleft w240 padleft23">
						<label class="weight-bold block">Description:</label>
						<textarea id="video-descr" style="margin-bottom: 0;" ></textarea>
						<label class="weight-bold fleft margin7">URL:</label>
						<input type="text" value="Ui3u2-Ajsk29=" class="small-text marginleft10 margin7">
				</div>
				<div class="fright" style="margin-right:4px;">
					<span class="icons16 ui-state-tools ui-icon-circle-close"> </span>
					<span id="drag-handle" class="icons16 ui-state-tools ui-icon-arrow-4"> </span>							
				</div>
			</li>
			<li class="clear_style overflow-hidden">
				<input type="reset" value="Cancel" class="mailbox_cancel cancel_button gray_spec fright">
				<input type="submit" value="Save all changes" class="login_button mailbox_send fright">
				<div class="fright icons16 loader_white" style="margin:1px 5px 0 0"> </div>				
			</li>		
		</ul>		
	</div>