<!-- VIDEOS -->
<div class="fleft">
	<span class="gray_spec">Pinca Palla shared:</span>
	<span class="fleft heading s13 weight-bold">23 Videos</span>
</div>

<div class="fright">
	<a href="" class="edit_lists fright add_icon none weight-bold s13">Add new videos</a>
	<span class="gray_spec fright clear">from: YouTube, Vimeo, Yahoo, Google</span>
</div>

<div class="clear"> </div>

	<!-- VIDEO STAGE EMBED -->
	<div class="video_stage_full stage_bg">
		<center>
			<!-- embed goes here -->
			<img src="/images/temp/video_inplay.jpg" />
		</center>
	</div>
	<div class="pic_descr heading overflow-hidden">
		<div class="fleft">
			<strong>Pino e il mare: Official video 2009</strong><br />
			Prodotto da Mister Bastone feat. Gianni Versace
		</div>
		<div class="fright gray_spec">
			Source: Youtube
		</div>
	</div>


	<!-- USER VIDEO PLAYLIST -->
	<ul class="max_sidebar_videos profile_video_lists">
		<li>
			<div class="video_thumb">
				<div class="fleft">
					<span class="still_play"> </span>
					<img src="/images/temp/video_still.jpg" width="120" height="67" />
				</div>
				<span class="gray_spec"><strong>Gerardo Palla</strong><br />
				Lorem ipsum dolor s...</span>
			</div>
		</li>
		<li class="now_playing">
			<center>
			<span class="icons16 ui-state-cyan ui-icon-triangle-1-n" style="margin-bottom:-8px"> 
			</span>
			</center>
			<div class="video_thumb">
				<div class="fleft">
					<img src="/images/temp/video_inplay.jpg" width="120" height="67" />
				</div>
				<span class="gray_spec"><strong>Pino e il mare</strong><br />
				Lor sit amet purga...</span>
			</div>
		</li>
		<li>
			<div class="video_thumb">
				<div class="fleft">
					<span class="still_play"> </span>
					<img src="/images/temp/pick_gerardo.jpg" width="120" height="67" />
				</div>
				<span class="gray_spec"><strong>Gino Paoli</strong><br />
				Consequi spruzzant...<span>
			</div>
		</li>
		<li>
			<div class="video_thumb">
				<div class="fleft">
					<span class="still_play"> </span>
					<img src="/images/temp/pick_enzo.jpg" width="120" height="67" />
				</div>
				<span class="gray_spec"><strong>Gerardo Palla</strong><br />
				Lorem ipsum dolor s...</span>
			</div>
		</li>
		<li>
			<div class="video_thumb">
				<div class="fleft">
					<span class="still_play"> </span>
					<img src="/images/temp/coolest_mband.jpg" width="120" height="67" />
				</div>
				<span class="gray_spec"><strong>Pino e il mare</strong><br />
				Lor sit amet purga...</span>
			</div>
		</li>
	</ul>
	
	<div class="fright" style="margin-top:15px">
      <%= render :partial => 'shared/paging_horiz' %>
	</div>


<div class="clear"> </div>