<!-- LEFTCOL -->
<div class="leftCol fleft">
	<div class="leftColWrapper">



<div class="fleft w343">
	<h1>Create an account on Mewsic</h1>
	
	<div id="validateTips" class="ui-state-highlight alleft">
		<span class="fleft icons16 profile ui-icon ui-icon-lightbulb"> </span>
		All form fields are required.
	</div>
	<!-- 
	<div id="validateTips" class="ui-state-error alleft">
		<span class="fleft icons16 profile ui-icon ui-icon-lightbulb"> </span>
		Email field must be a valid email address.
	</div>
	-->
	
	
<% form_tag sessions_path, :id => 'signup_form', :method => :post do %>
		<fieldset>
			<label for="name">Username</label>
			  <input type="text" name="name" id="name" class="text ui-widget-content" />
			<label for="email">Email</label>
			  <input type="text" name="email" id="email" value="" class="text ui-widget-content" />
			<label for="password">Password</label>
			  <input type="password" name="password" id="password" value="" class="text ui-widget-content" />
			<label for="password">Check Password</label>
			  <input type="password" name="password" id="password" value="" class="text ui-widget-content" />

	    <input type="submit" value="Register" class="join_button mailbox_send fright">
	    <input type="reset" value="Cancel" class="mailbox_cancel cancel_button gray_spec fright">

		<div class="fright icons16 loader_white" style="margin:3px 5px 0 0"> </div>				
		
		</fieldset>	</form>
<% end %>	
	
	<p class="sixsixsix">
		Already have an account? <%= link_to 'Login now', login_path %>,<br />
		or <strong>Connect with Facebook</strong> here on the right.
	</p>
</div>
<div class="fleft marginleft10 w343">			
	<h1 class="fright">Log-in using Facebook Connect</h1>

		<p style="padding:5px" class="fright gray_spec alright nomargin">
	Connect <a href="">Mewsic</a> with Facebook to interact with your friends on this site and to share on Facebook through your Wall and friends' News Feeds. This site will also be able to automatically post recent activity back to Facebook.
		</p>
		<span class="fright margin7">
      <fb:login-button onlogin='window.location = "/";' size="medium" length="long" background="white"></fb:login-button>
		</span>
</div>




	</div>
</div>
<!-- END LEFTCOL -->	

<!-- RIGHTCOL -->	
<div class="rightCol fright">

      <%= render :partial => 'shared/did_you_know' %>

</div>
<!-- END RIGHTCOL -->	

<div class="clear"> </div>

<% content_for :footer do %>
  <%= render :partial => 'songs/footer' %>
<% end %>
