<%= flash[:notice] %>
<% form_tag :action => "reset_password" do -%>
<p><label for="password">New Password</label><br/>
<%= password_field_tag :password, params[:password] %>
</p>
<p><label for="password_reset_code">Password confirmation</label><br/>
<%= password_field_tag :password_confirmation, params[:password_confirmation] %>
</p>
<p><%= submit_tag 'Reset' %></p>
<% end -%>