<!-- APPLICATION BAR -->
<div id="app_bar_env">

  <div id="app_bar">
    <div class="tooltip_small playlist_actions" style="display: ">
      <strong>Added to playlist</strong>
    </div>
    <div class="tooltip_small activity" style="display: none">
      <strong>Activity</strong>
    </div>

      <div class="tab_app_icons fright">
        <span class="notification_red" id="notification_holder">
          <span class="tl">
            <span class="tr">
              <span class="br">
                <span id="notification_count" class="bl">23</span>
                </span>
              </span>
            </span>
          </span>
        </span>
      </div>
  </div>  

</div>
<!-- END APP BAR -->
