<tr class="<%= band_song_row_counter.even? ? "even" : "odd" %>">
  <td>  	
    <a href="<%= song_path(band_song_row) %>"><%= band_song_row.original_author %> - <em><%= truncate(band_song_row.title, 30) %></em></a>
  </td>
  <td class="star">
    <%= stars(band_song_row.rating_avg) %>
  </td>
  <td class="button">
    <%= mlab_button(band_song_row) %>
    <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a>
  </td>
</tr>
