<div class="clear-block">
	<%= link_to image_tag('banner_learnmore.png'), help_index_path %>
</div>
<% unless logged_in? %>
<div id="multitrack_banner">
	<%= link_to image_tag('mlab_notlogged.png'), multitrack_path %>
</div>
<% end %>
<div class="clear-block margin-top-bottom">
	<%= link_to image_tag('banner_podcast.png'), help_path('podcasts') %>
</div>
