<tr class="<%= band_song_row_counter.even? ? "even" : "odd" %>">
  <td>
  	<%=h band_song_row.original_author %> 
	<em><%= link_to truncate(band_song_row.title, 33), band_song_row %></em>
  </td>
  <td class="star">
    <%= stars(band_song_row.rating_avg) %>
  </td>
  <td class="button">
    <%= mlab_button(band_song_row) %>
    <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a>
  </td>
</tr>
