<!-- DID YOU KNOW -->
<ul class="you_know icon_lists">
	<h2>Did you know?</h2>
	<li class="lightbulb">
		The legendary guitar solo played by <a href="">Jimi 	Hendrix</a> in 1983, was totally improvised.
	</li>
	<li class="world">
    Lorem ipsum dolor sit amet, <a href="">consecuetur</a> adipiscing elit.
	</li>
	<li class="lightbulb">
    Curabitur fringilla pulvinar lacus, <a href="">eu consequat</a> erat mollis porttitor
	</li>
</ul>
