<!-- DID YOU KNOW -->
<ul class="you_know icon_lists">
	<h2>Did you know?</h2>
	<li class="lightbulb">
		The legendary guitar solo played by <a href="">Jimi 	Hendrix</a> in 1983, was totally improvised.
	</li>
	<li class="world">
		La puttana della <a href="">Madonna</a> fa le pompe con il culo
	</li>
	<li class="lightbulb">
		Quel bastardo feticista di <a href="">Giuseppe il 	Falegname</a> oltre ad essere liutaio costruiva anche cazzi di legno.
	</li>
</ul>
