<!-- DID YOU KNOW -->
<ul class="you_know">
	<h2>Did you know?</h2>
	<li>
		<span class="icons lightbulb">The legendary guitar solo played by <a href="">Jimi 	Hendrix</a> in 1983, was totally improvised.</span>
	</li>
	<li>
		<span class="icons world">La puttana della <a href="">Madonna</a> fa le pompe con il culo</span>
	</li>
	<li>
		<span class="icons lightbulb">Quel bastardo feticista di <a href="">Giuseppe il 	Falegname</a> oltre ad essere liutaio costruiva anche cazzi di legno.
	</li>
</ul>
