<div id="footer" class="page-width">&copy; 2008 Myousica. <%= link_to 'Terms of service', '#' %> | <%= link_to 'Help', help_path %> | <%= link_to 'Contacts', '#' %> | <%= link_to 'Share!', '#' %></div>
