<!-- FOOTER -->
<div class="top_footer_grad roundTop10">
  <div id="top_footer" class="roundTop10">
    <!-- TOP FOOTER GROUP -->
  	<div class="fleft">
  			<div class="top_tags">
  				<h2>Top Tags</h2>
  				<span class="subtitle block">Lorem ipsum dolor</span>
  				<p class="tag_genre">

          <% if @top_tags %>
            <% for tag in @top_tags %>
              <%= link_to tag, '' %>
            <% end %>
          <% else %>
            <code>@top_tags</code> variable missing!
          <% end %>

  				</p>
  			</div>
  			<ul class="best_people fleft">
  				<h2>Best Mewsicians</h2>
  				<span class="subtitle block">Lorem ipsum dolor</span>

          <% if @best_musicians %>
            <% for user in @best_musicians %>
              <li class="user_thumb">
                <%= link_to image_tag('thumb_loader.gif') +
                      image_tag(user.avatar.public_filename(:small),
                      :size => '39x39', :class => 'loaded'), user %>
              </li>
            <% end %>
          <% else %>
            <code>@best_musicians</code> variable missing!
          <% end %>

  			</ul>
  			<ul class="new_band fleft">
  				<h2>Newest M-Bands</h2>
  				<span class="subtitle block">Lorem ipsum dolor</span>

          <% if @newest_mbands %>
            <% for mband in @newest_mbands %>
              <li class="user_thumb">
                <%= link_to image_tag('thumb_loader.gif') +
                      image_tag(mband.avatar.public_filename(:small),
                      :size => '39x39', :class => 'loaded'), mband %>
              </li>
            <% end %>
          <% else %>
            <code>@newest_mbands</code> variable missing!
          <% end %>

  			</ul>
  	</div>
  	
      <%= yield :footer %>

      <div class="clear"> </div>
    <!-- END TOP FOOTER GROUP -->
    <!-- BOTTOM FOOTER GROUP -->
    <div class="bottom_footer_grad roundTop10">
      <div id="bottom_footer" class="roundTop10">
        <ul class="fleft">
          <h2>MEWSIC</h2>
          <li><a href="">About</a></li>
          <li><a href="">Vision</a></li>
          <li><a href="">Team</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Licensing</a></li>
          <li><a href="">Media Kit</a></li>
        </ul>
        <ul class="follow_us fleft">
          <h2>FOLLOW US</h2>
          <li><a href="" class="facebook">Facebook</a></li>
          <li><a href="" class="myspace">Myspace</a></li>
          <li><a href="" class="podcast">Podcasts</a></li>
          <li><a href="" class="rss">RSS</a></li>
        </ul>
        <ul class="fleft">
          <h2>GET INVOLVED</h2>
          <li><a href="">Contests</a></li>
          <li><a href="">Call to action</a></li>
          <li><a href="">Promote</a></li>
        </ul>
        <ul class="fleft">
          <h2>SHARE</h2>
        </ul>

        <div class="clear"> </div>

        <div class="footer_copy">&copy; 2009 All rights reserved&nbsp;&nbsp;
          <a href="maito:">mail@mewsic.com</a>
        </div>
       </div>
    </div>
    <!-- END BOTTOM FOOTER GROUP -->
  </div>
</div>
<!-- END FOOTER -->
