<span class="selector_disabled" >
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Minimal</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Techno</span>
			</span>
		</span>
	</span>
</span>				

<span id="tag_remove" class="genre_selector" >
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Trance</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Drum&amp;Bass</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled" >
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Easy</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Electro</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled" >
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Revival</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled" >
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Electro-Trash</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Synth Pop</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled" >
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Emo</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled" >
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Dance</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">80's</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled" >
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Electro-Rock</span>
			</span>
		</span>
	</span>
</span>				

<span id="tag_remove" class="genre_selector" >
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Psychedelic</span>
			</span>
		</span>
	</span>
</span>				

<span id="tag_remove" class="genre_selector selector_last">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Distortion</span>
			</span>
		</span>
	</span>
</span>				

<span id="tag_more" class="genre_selector">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">
					<img src="/images/icons/tag_related_add.png" id="tag_more_icon" />
					more
				</span>
			</span>
		</span>
	</span>
</span>				

<!--
<span class="fright" style="margin-top:4px;">
	<span id="" class="fleft icons16 ui-state-cyan ui-icon-arrowrefresh-1-s"> </span> 
	<a href="" class="ten none fleft">more tags</a>
</span>
-->
