<span class="selector_disabled">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Rock</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled" >
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Indie</span>
			</span>
		</span>
	</span>
</span>				

<span class="genre_selector">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Electronic</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Pop</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Metal</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Hip-Hop</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Jazz</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Classical</span>
			</span>
		</span>
	</span>
</span>				

<span class="selector_disabled">
	<span class="tl">
		<span class="tr">
			<span class="br">
				<span class="bl">Country</span>
			</span>
		</span>
	</span>
</span>