<div class="song_block fleft">
	<div class="avatar fleft">
		<img src="/images/temp/avatar_alvarez.jpg" width="40" height="40" />					
	</div>
  <div class="instr_avatar instr_shadow fleft">
    <span class="instr icon_<%= rand(35) + 1 %>"> 
      <span class="instr_flag fright">
        <img src="/images/icons/flags/<%= rand(54) + 1 %>.gif" width="16" />
      </span>  
    </span>
  </div>
	<div class="song_details fleft">
		<a href="" class="song_title">Lorem ipsum dolor sit amet</a><br />
		<a href="" class="song_author"><strong>Alvarez de la Fonzeca</strong></a><br />
		<a href="" class="mixable_link">Mixable instruments (23)</a>
	</div>
	
	<div class="fright" style="margin: 4px 4px 0 0">
	  <%# rating %>	
	</div>	
	<ul class="song_controls">
	  <li> <a href="" class="control_add">ADD</a> </li>
	  <li> <a href="" class="control_mix">MIX</a> </li>
	  <li> <a href="" class="control_play">PLAY</a> </li>
	</ul>
</div>

