<div class="elements <%= mlab_element_counter.even? ? "even" : "odd" %> clear-block">
	<div class="float-left">
		<p class="name"><a href="#">Pinco Pallino</a></p>
		<p class="abstract"><%= truncate("Saltellando qua e la tellan Saltellando qua e la" * (rand(5) +1), 80) %></p>
	</div>
	<div class="float-left align-right">
		<p class="button">
		  <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a>
		</p>
	</div>
</div>
