<ul class="info">
  <li class="id"><%= mlab_track_info.id %></li>        
  <li class="title"><%= mlab_track_info.title %></li>
  <li class="author_login"><%= mlab_track_info.user.nickname %></li>
  <li class="author_id"><%= mlab_track_info.user.id %></li>
</ul>
