<!-- MORE MIXABLE SONGS -->
<h2>More Mixable songs</h2>

<% 4.times do %>
  <%= render :partial => 'shared/song_block_sidebar' %>
<% end %>

	<a href="#" class="fright weight-bold none margin7">	
		<span class="fleft icons16 ui-state-cyan ui-icon-arrowrefresh-1-s"> 					
		</span>see more
	</a>	

<div class="clear"> </div>