<ul class="bullet_paging">
	<li class="bullet"><span class="on"> </span></li>
	<li class="bullet"><a href="" class="off"> </a></li>
	<li class="bullet"><a href="" class="off"> </a></li>								
	<li class="bullet"><a href="" class="off"> </a></li>
	<li class="bullet"><a href="" class="off"> </a></li>								
	<li class="pager_vert"><a href="" class="prev"> </a></li>												
	<li class="pager_vert"><a href="" class="next"> </a></li>																
</ul>