	<ul class="bullet_paging">
		<li class="bullet"><a href="" class="on"> </a></li>
		<li class="bullet"><a href="" class="off"> </a></li>
		<li class="bullet"><a href="" class="off"> </a></li>								
		<li class="pager"><a href="" class="prev"> </a></li>												
		<li class="pager"><a href="" class="next"> </a></li>																
	</ul>
