<ul class="number_paging">
	<li class="pager"><a href="" class="prev"> </a></li>												
	<li class=""><span class="on">1</span></li>
	<li class=""><a href="" class="off">2</a></li>
	<li class=""><a href="" class="off">3</a></li>								
	<li class=""><a href="" class="off">4</a></li>
	<li class=""><a href="" class="off">5</a></li>								
	<li class="pager"><a href="" class="next"> </a></li>																
</ul>