<div class="elements clear-block"> 
  <div class="rating_container">
    <%= rating(person) %>
  </div>
  <p class="thumb">
    <%= link_to avatar_image(person, :medium, :height => 58), user_path(person) %>
  </p>
  <p class="name"><%= link_to truncate(person.login, 10), user_path(person) %></p>
</div>
