<div class="elements clear-block"> 
  <p class="star">
    <%= stars(person.rating_avg, color) %>
  </p>
  <p class="thumb">
    <%= link_to avatar_image(person, :medium), user_path(person) %>
  </p>
  <p class="name"><a href="<%= user_path person %>"><%= person.login %></a></p>
  <p class="country"><%= h person.compiled_location%></p>
</div>
