<div id="applesearch" class="fright">
		<span class="sbox_l"> </span>
			<span class="sbox">
				<input type="search" id="srch_fld" placeholder="Search..." autosave="applestyle_srch" results="5" onkeyup="applesearch.onChange('srch_fld','srch_clear')" />
			</span>
			<span class="sbox_r" id="srch_clear">
		</span>
</div>			
