<div class="song_block fleft">
	<div class="avatar fleft">
		<img src="/images/user_thumb.jpg" width="40" height="40" />					
	</div>
	<div class="tracks_count fleft">
		<h3><%= rand(23) %></h3>
		Instr.s
	</div>
	<div class="song_details fleft">
		<a href="" class="song_title">Lorem ipsum dolor</a><br />
		<a href="" class="song_author"><strong>Gerardo Palla</strong></a><br />
		<a href="" class="mixable_link">Mixable songs (23)</a>
	</div>

	<div class="fright">
		<%# rating %>
		<ul class="song_controls controls_sidebar">
			<li class="nomargin"><a href="" class="control_add">ADD</a></li>
			<li class="nomargin"><a href="" class="control_mix">MIX</a></li>
			<li class="nomargin"><a href="" class="control_play">PLAY</a></li>
		</ul>
	</div>
</div>

