<!-- TAG CLOUD -->

<div id="tags" class="margin7">
	<ul>
		<li class="tag1"><a href="#">Electro-Rock,</a></li> 
		<li class="tag2"><a href="#">Country Rock,</a></li>
		<li class="tag3"><a href="#">Drum & Bass,</a></li>
		<li class="tag2"><a href="#">Acid Jazz/Fusion ,</a></li>
		<li class="tag4"><a href="#">Electronic,</a></li>
		<li class="tag4"><a href="#">Alternative Rock,</a></li>
		<li class="tag1"><a href="#">Dance,</a></li>
		<li class="tag1"><a href="#">Funk,</a></li>
		<li class="tag5"><a href="#">British Pop,</a></li>
		<li class="tag2"><a href="#">Acoustic,</a></li>
		<li class="tag1"><a href="#">Classic Rock,</a></li>
		<li class="tag3"><a href="#">Blues,</a></li>
		<li class="tag4"><a href="#">Country,</a></li>
		<li class="tag1"><a href="#">EBM,</a></li>
		<li class="tag5"><a href="#">Disco,</a></li>
		<li class="tag1"><a href="#">Ambient,</a></li>
		<li class="tag2"><a href="#">Post Hardcore,</a></li>
		<li class="tag2"><a href="#">Crossover,</a></li>	
		<li class="tag1"><a href="#">Folk Rock,</a></li>				
	</ul>
</div>