<div id="top-menu">
  <ul class="list-menu">
    <% if logged_in? %>
    <li>You're logged as <strong><%= current_user.login %></strong>:</li>
    <li><%= link_to "My page", current_user %></li>
    <li><%= link_to "Logout", logout_path %></li>
    <% else %>
    <li><%= link_to "Sign Up", new_user_path %></li>
    <% end %>
    <!--
      TODO Help dove punta? boh :)
    -->
    <li><a href="#">Help</a></li>
  </ul>
</div>
