<ul class="video_lists fleft">
	<li class="now_playing">
		<center>
		<span class="icons16 ui-state-cyan ui-icon-triangle-1-n" style="margin-bottom:-8px"> 
		</span>
		</center>
		<div class="video_thumb">
			<div class="fleft">
				<img src="/images/temp/video_still.jpg" width="100" />
			</div>
			<span class="gray_spec"><strong>Gerardo Palla</strong><br />
			Lorem ipsum dol...</span><!-- text limit 15 chars -->
		</div>
	</li>
	<li>
		<div class="video_thumb">
			<div class="fleft">
				<span class="still_play"> </span>
				<img src="/images/temp/pick_enzo.jpg" width="100" />
			</div>
			<span class="gray_spec"><strong>Pino e il mare</strong><br />
			Lor sit amet pa...</span>
		</div>
	</li>
	<li>
		<div class="video_thumb">
			<div class="fleft">
				<span class="still_play"> </span>
				<img src="/images/temp/pick_gerardo.jpg" width="100" />
			</div>
			<span class="gray_spec"><strong>Gino Paoli</strong><br />
			Consequi szant...<span>
		</div>
	</li>
</ul>
