<!-- SIDEBAR VIDEOS -->
<ul class="sidebar_videos">
	<h2>Last user shared video</h2>
	<li>
		<div class="video_thumb">
			<div class="fleft">
				<!-- inplace video dimension -->
				<img src="images/temp/video_still.jpg" width="192" />
			</div>
			<span class="gray_spec"><strong>Gerardo Palla</strong><br />
			Lorem ipsum dolor sit ame 1982</span>
		</div>

	</li>
	<li>
		<div class="video_thumb">
			<div class="fleft">
				<span class="still_play"> </span>
				<img src="images/temp/video_still.jpg" />
			</div>
			<span class="gray_spec"><strong>Gerardo Palla</strong><br />
			Lorem ipsum do...</span>
		</div>

	</li>
	<li>
		<div class="video_thumb">
			<div class="fleft">
				<span class="still_play"> </span>
				<img src="images/temp/video_still.jpg" />
			</div>
			<span class="gray_spec"><strong>Gerardo Palla</strong><br />
			Lorem ipsum do...</span>
		</div>

	</li>
</ul>
