<script type="text/javascript">// <![CDATA[

	function setFlashHeight( height ) {
		$('video-player').style.height = height.toString() + 'px';
	}

	function isLoggerAvailable() {
		var isfb = false;
		try {
			isfb = console.log != undefined;
		}
		catch(err) {};
		return(isfb);
	}

	var flashvars = {
		<%- if logged_in? && current_user.is_admin? -%>
		isLogEnabled:'yes',
		<%- end -%>
		videoURL:'/videos/myousica-video-promo.flv',
		posterURL:'/videos/myousica-video-promo.jpg',
		videoLength: 134
	};

	var params = {
		wmode:'transparent'
	};

	var attributes = {name: 'videoPlayer'};

	swfobject.embedSWF('/players/Adelao_Myousica_Video_Player.swf', 'video-player', '220', '157', '9.0.0', '/expressInstall.swf', flashvars, params, attributes);
	// ]]></script>

<div id="video-container">
	<div id="video-player"></div>
</div>
