<!-- MAX SIDEBAR VIDEOS -->
<ul class="max_sidebar_videos">
	<p class="subtitle nomargin">
	<strong>Tretonsidosh Nereshtenz's</strong>
	</p>
	<h2>Related videos</h2>
	<li>
		<div class="video_thumb">
			<div class="fleft">
				<span class="still_play"> </span>
				<img src="/images/temp/video_still.jpg" />
			</div>
		</div>

	</li>
	<li>
		<div class="video_thumb">
			<div class="fleft">
				<span class="still_play"> </span>
				<img src="/images/temp/video_still.jpg" />
			</div>
		</div>

	</li>
	<li>
		<div class="video_thumb">
			<div class="fleft">
				<span class="still_play"> </span>
				<img src="/images/temp/video_still.jpg" />
			</div>
		</div>

	</li>
</ul>