<div class="search-question clear-block">
  <%- form_tag search_answers_path, :method => :get do -%>
		<%= image_tag 'lente_search.gif' %>
    <h2>FIND QUESTION</h2>
    <input class="query" name="q" type="text"/>
		<%= image_submit_tag 'button_find.png' %>
  <%- end -%>
</div>
