<ul class="footer_right_content answer_pick_footer fright">
	<div class="w440">
	<h2>Last Answer</h2>
	<div class="snip fleft">

		<div class="instr_avatar fleft">
			<span class="instr big trumpet"> </span>
		</div>
		<p>
			<span class="s13 block white weight-bold">Talking about: Drums</span>
			Lorem ipsum dolor sit amet conquistadores del porto de siviglia trabacano sulle sponde del fiume cefalo? 
			<a href="" class="none">Reply</a>
		</p>
		
	</div>
	<div class="clear"> </div>
	
  <% 2.times do %>
    <li class='border_list'>
      <%= render :partial => 'shared/instrument_block' %>
    </li>
  <% end %>
		<li class="mband_more_tag border_list">
			<a href="" class="fright">Reply questions or ask yours</a>
		</li>
	</div>
</ul>		
