<div class="top-box clear-block">
	<div class="bottom-box clear-block answers">
		<%= render :partial => 'answer', :collection => answers %>
	</div>
	<div class="pagination spinner">
		<img src="/images/spinner.gif" id="<%= name %>-answers-spinner" style="display: none;"/>
	</div>
	<%= will_paginate answers, :params => { :action => 'top', :type => name }, :class => 'pagination answers', :prev_label => image_tag('move_arrow_left.png'), :next_label => image_tag('move_arrow_right.png') %>
</div>
