<div class="top-box clear-block">
	<div class="bottom-box clear-block answers">
		<%= render :partial => 'answer_medium', :collection => @answers %>
  </div>
	<div class="pagination spinner">
		<img src="/images/spinner.gif" id="search-answers-spinner" style="display: none;"/>
	</div>
	<%= will_paginate @answers, :class => 'pagination answers', :previous_label => image_tag('move_arrow_left.png'), :next_label => image_tag('move_arrow_right.png') %>
</div>
