	<!-- LEFTCOL -->
	<div class="leftCol fleft">
		<div class="leftColWrapper">

			<!-- EXPL BANNER -->
				<div id="expl_banner" class="expl_answers">
					<span class="expl_band fleft"> </span>
					<h1>Lorem Ipsum dolor Sit!</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sempe<br />
					eget dapibus sagittis, nunc nunc feugiat neque, vel blandit turpis</p>
				</div>
			<!-- END EXPL BANNER -->


			<table class="question_search" border="0" align="center" width="98%" cellspacing="0" cellpadding="0">
				<tr>
					<td align="right">
						<h1>Search questions</h1>
					</td>
					<td align="right">
						<form>
							<input type="text" class="search_call_input answers_input fleft" 	value="Es: How to tune ...">
							<input type="submit" class="search_call_submit fleft" value="Search">
						</form>
					</td>
					<td align="left">
						<a href="#">Advanced</a>
					</td>
				</tr>
			</table>



			<div class="question_ask fleft">
				<div class="inset">
					<h1>Can't find your answer? Ask!</h1>
					<!-- FIRST STEP -->
					<form>
						<textarea class="question_box"> </textarea>
						<input type="submit" class="ask_button fright" value="Ask">
					</form>
					
					<div class="clear"> </div><!-- vjt: delete this clear  :_) --> 
					<!-- SECOND STEP -->
					<span class="quote_open block fleft"> </span>
					<p class="posted_question s15">
						Esiste un qualche corso online per imparare a suonare la chitarra con le ginocchia ?
					</p>
					<span class="quote_close block fright"> </span>
					<div class="clear"> </div>					
					
					<form>
						<textarea id="tag_box">
							
						</textarea>
						<label>
							Add comma separated tags to describe your question.<br />
							Ex: <a href="" class="none">Jimi Hendrix,</a>
							<a href="" class="none">how to,</a> 
							<a href="" class="none">Guitar solo</a> 
						</label>
						<input type="submit" class="ask_button fright" value="DONE">
					</form>
				</div>
			</div>
			<div class="question_reply fright">
				<div class="inset">
					<h1>Share your knowledge</h1>
					<h2>Reply to Mewsicians<br />
						open questions.</h2>
						<input type="submit" class="reply_button fleft" value="Reply">		
				</div>
			</div>
			<div class="clear"> </div>
			
			<div class="last_answer_box fleft">
				<div class="inset">
					<span class="cat_title user">
						<img src="images/icons/user.png" width="40" class="fleft" />
						<strong>Last artists & user<br />answers</strong>
					</span>
					<!-- LAST ANSWERS LIST CONTENT -->
					<div class="lists">
					
					<!-- snip -->
						<div class="question_snip">
						<a href="" class="fleft">
						<img src="images/temp/avatar_alvarez.jpg" class=" border" width="40" />					
						</a>
							<span class="block">
								<strong>How can i put a Traverse Flute up my ass ?</strong>
								<p class="gray_spec">
									in <a href="">Flutes</a> - 30 sec ago
								</p>
							</span>
						</div>
					<!-- end snip -->
					
						<!-- RP -->
						<div class="question_snip">
						<a href="" class="fleft">
						<img src="images/temp/avatar_enzo.jpg" class=" border" width="40" />					
						</a>
							<span class="block">
								<strong>My guitar amplifier exploded when i tried to wash it in shower...</strong>
								<p class="gray_spec">
									in <a href="">Amplifier</a> - 1 min ago
								</p>
							</span>
						</div>
						<div class="question_snip">
						<a href="" class="fleft">
						<img src="images/temp/avatar_ndstr.jpg" class=" border" width="40" />					
						</a>
							<span class="block">
								<strong>4 8 15 16 23 42, Namaste! This is Dharma Initiative Orientation video number one...</strong>
								<p class="gray_spec">
									in <a href="">Dharma Initiative</a> - 2 weeks ago
								</p>
							</span>
						</div>
						<!-- END RP -->
				
				
						<p class="alright" style="margin-top:6px;">
							<a href="" class="more none weight-bold">More questions</a>
						</p>
						<!-- KEYWORDS LISTS -->
						<ul class="keyword_lists body12">
							<li><a href="">Jimi hendrix</a></li>
							<li><a href="">Santana</a></li>
							<li><a href="">Clapton</a></li>
							<li><a href="">Rick e gian</a></li>
							<li><a href="">Oronzo canà</a></li>
							<li><a href="">Lorem ipsum</a></li>
							<li><a href="">Dolor sit</a></li>
							<li><a href="">Amet</a></li>
							<li><a href="">Consectetur</a></li>
							<li><a href="">Adipiscing elit</a></li>
							<li><a href="">Aenean Huhrunnu</a></li>
							<li><a href="">Semper Calistofante</a></li>
							<li><a href="">...</a></li>
						</ul>

					</div>
					<!-- END LAST ANSWETS LIST CONTENT -->
				</div>
			</div>



			<div class="last_answer_box central_box fleft">
				<div class="inset">
					<span class="cat_title user">
						<img src="images/icons/tag_purple.png" width="40" class="fleft" />
						<strong>Last music genre<br />answers</strong>
					</span>
					
					<!-- ...LIST CONTENT -->
					
				</div>
			</div>



			<div class="last_answer_box fleft">
				<div class="inset">
					<span class="cat_title user">
						<img src="images/icons/music.png" width="40" class="fleft" />
						<strong>Last musical instrument<br />answers</strong>
					</span>

					<!-- ...LIST CONTENT -->

				</div>			
			</div>
			
		</div>
	</div>
	<!-- END LEFTCOL -->	

	<!-- RIGHTCOL -->	
	<div class="rightCol fright">
			
    <%= render :partial => 'shared/did_you_know' %>


	</div>
	<!-- END RIGHTCOL -->	
	
	<div class="clear"> </div>

  <% content_for :footer do %>
    <%= render :partial => 'answers/footer' %>
  <% end %>
