<%- javascript 'answers' -%>

<%= render :partial => 'find_question' %>

<div class="box-list two-col-big clear-block"> 
  <h1>OPEN QUESTIONS</h1>
  <div class="clear-block" id="open-answers-container">
    <%= render :partial => 'index_list', :locals => {:answers => @open_answers, :name => 'open'} %>
  </div>
</div>

<%= render :partial => 'top_contributors' %>
