<?xml version="1.0"?>
<rss version="2.0">
  <channel>
		<title>Newest answers on myousica</title>
		<link><%= answers_path %></link>
		<description>Newest answers posted on Myousica.com</description>
    <language>en-us</language>
		<pubDate><%= @answers.first.created_at.rfc2822 %></pubDate>
		<lastBuildDate><%= Time.now.rfc2822 %></lastBuildDate>
    <generator>myousica</generator>
    <managingEditor>info@myousica.com</managingEditor>
    <webMaster>info@myousica.com</webMaster>
		<%= render :partial => 'rss_item', :collection => @answers %>
	</channel>
</rss>

