<% javascript 'answers' %>
<%= render :partial => 'find_question' %>
<div class="box-list two-col-big clear-block">
  <div id="search_head_title">
		<p class="search_title">
			<strong>"<%= @q %>"</strong> search results <strong>(<%= @answers.total_entries %>)</strong>
    </p>
  </div>
  <div class="box-list clear-block" id="search-answers-container">
		<%= render :partial => 'search_list' %>
  </div>
</div>			
