	<!-- LEFTCOL -->
	<div class="leftCol fleft">
		<div class="leftColWrapper">


    			<table class="question_search" border="0" align="center" width="100%" cellspacing="0" cellpadding="0">
    				<tr>
    					<td align="right">
    						<h1 class="sixsixsix">Search questions</h1>
    					</td>
    					<td align="right">
    						<form>
    							<input type="text" class="search_call_input answers_input fleft" 	value="">
    							<input type="submit" class="search_call_submit fleft" value="Search">
    						</form>
    					</td>
    				</tr>
    			</table>

    			<!-- QUESTION SHOW -->
    			<div class="question_show blue7 overflow-hidden">
    				<div class="left_section fleft">
    					<a href="" class="wall_avatars avatar fleft">
    						<img src="/images/temp/avatar_alvarez.jpg" class="border" width="40" height="40" />					
    					</a>
    					<a href="" class="none weight-bold heading">Alvarez de la Fonzeca</a>
    				</div>
    				<div class="right_section fleft">
    					<div class="fleft" style="margin:2px 7px 0 0;">
    						<%# rating %>
    					</div>
    						<p class="fleft tag_genre nomargin gray_spec icons tag_yellow_icon padleft18">
    							<a href="">Hendrix,</a>
    							 <a href="">Alternative,</a> <a href="">Guitars</a>
    							- Yesterday
    						</p>			
    					<div class="clear">	</div>
    					<h1 class="question_blue">Lorem ipsum dolor sit amet i murt d crest? e se possibile anche un bella impiccagione ?</h1>

    					<!-- FORM REPLY -->
    					<script type="text/javascript" charset="utf-8">
    					$(document).ready(function(){
    					  $('#grow').simpleautogrow();
    					});
    					</script>
    					<a href="" class="wall_avatars fleft">
    						<img src="/images/temp/avatar_ndstr.jpg" class=" border" width="40" />					
    					</a>
    					<form class="form_reply fleft">
    						<textarea id="grow" class="reply_box"> </textarea>
    						<input type="submit" class="wall_post fright" value="Post my reply">
    					</form>	
    					<!-- END FORM REPLY -->				
    				</div>
    			</div>
    			<!-- END QUESTION SHOW -->

    			<!-- QUESTION REPLY -->
    			<div class="question_replies overflow-hidden">
    				<div class="left_section fleft">
    					<a href="" class="wall_avatars avatar fleft">
    						<img src="/images/temp/avatar_ndstr.jpg" class="border" width="40" height="40" />					
    					</a>
    					<a href="" class="none weight-bold heading">NDSTR</a>
    				</div>
    				<div class="right_section fleft">
    						<div class="fleft" style="margin:2px 7px 0 0;">
    							<%# rating %>
    						</div>
    							<p class="fleft tag_genre nomargin gray_spec">
    								Right now, <a href="">Edit</a> (For another 15 minutes)
    							</p>
    						<div class="clear">	</div>						
    						<p class="heading">
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.							
    						</p>
    				</div>
    			</div>
    			<!-- END QUESTION REPLY -->




    						<!-- QUESTION REPLY -->
    						<div class="question_replies overflow-hidden">
    							<div class="left_section fleft">
    								<a href="" class="wall_avatars avatar fleft">
    									<img src="/images/temp/avatar_pino.jpg" class="border" width="40" height="40" />					
    								</a>
    								<a href="" class="none weight-bold heading">Pino</a>
    							</div>
    							<div class="right_section fleft">
    									<div class="fleft" style="margin:2px 7px 0 0;">
    										<%# rating %>
    									</div>
    										<p class="fleft tag_genre nomargin gray_spec">
    											1 minute ago
    										</p>
    									<div class="clear">	</div>						
    									<p class="heading">
    Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
    									</p>
    							</div>
    						</div>
    						<!-- END QUESTION REPLY -->
    						<!-- QUESTION REPLY -->
    						<div class="question_replies overflow-hidden">
    							<div class="left_section fleft">
    								<a href="" class="wall_avatars avatar fleft">
    									<img src="/images/temp/avatar_fabio.jpg" class="border" width="40" height="40" />					
    								</a>
    								<a href="" class="none weight-bold heading">Fabio Grande</a>
    							</div>
    							<div class="right_section fleft">
    									<div class="fleft" style="margin:2px 7px 0 0;">
    										<%# rating %>
    									</div>
    										<p class="fleft tag_genre nomargin gray_spec">
    											April 26
    										</p>
    									<div class="clear">	</div>						
    									<p class="heading">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    									</p>
    							</div>
    						</div>
    						<!-- END QUESTION REPLY -->	


    						<div class="fright margin7">
    							    <%= render :partial => 'shared/paging_numbers' %>
    						</div>						
    						<div class="clear"> </div>



    						<!-- same form of answer page -->
    						<div class="w343 fleft">
    							<div class="inset">
    								<h1>Can't find your answer? Ask!</h1>
    								<!-- FIRST STEP -->
    								<form>
    									<textarea class="question_box"> </textarea>
    									<input type="submit" class="ask_button fright" value="Ask">
    								</form>

    								<div class="clear"> </div><!-- vjt: delete this clear  :_) --> 
    								<!-- SECOND STEP -->
    								<span class="quote_open block fleft"> </span>
    								<p class="posted_question s15">
    									Esiste un qualche corso online per imparare a suonare la chitarra con le ginocchia ?
    								</p>
    								<span class="quote_close block fright"> </span>
    								<div class="clear"> </div>					

    								<form>
    									<textarea id="tag_box">

    									</textarea>
    									<label>
    										Add comma separated tags to describe your question.<br />
    										Ex: <a href="" class="none">Jimi Hendrix,</a>
    										<a href="" class="none">how to,</a> 
    										<a href="" class="none">Guitar solo</a> 
    									</label>
    									<input type="submit" class="ask_button fright" value="DONE">
    								</form>
    							</div>
    						</div>


    						<div class="w343 fright">
    							<h1>Similar questions</h1>
    							<!-- snip -->
    								<div class="question_snip">
    								<a href="" class="fleft">
    								<img src="/images/temp/avatar_alvarez.jpg" class=" border" width="40" />					
    								</a>
    									<span class="block">
    										<strong>How can i put a Traverse Flute up my ass ?</strong>
    										<p class="gray_spec">
    											in <a href="">Flutes</a> <a href="">Funny</a>- 30 sec ago
    										</p>
    									</span>
    								</div>
    							<!-- end snip -->

    								<!-- RP -->
    								<div class="question_snip">
    								<a href="" class="fleft">
    								<img src="/images/temp/avatar_enzo.jpg" class=" border" width="40" />					
    								</a>
    									<span class="block">
    										<strong>My guitar amplifier exploded when i tried to wash it in shower, at least it was super clean.</strong>
    										<p class="gray_spec">
    											in <a href="">Amplifier</a> <a href="">Shower</a> - 1 min ago
    										</p>
    									</span>
    								</div>
    								<div class="question_snip">
    								<a href="" class="fleft">
    								<img src="/images/temp/avatar_ndstr.jpg" class=" border" width="40" />					
    								</a>
    									<span class="block">
    										<strong>4 8 15 16 23 42, Namaste! This is Dharma Initiative Orientation video number one and we're gonna fuck those ancient egyptians.</strong>
    										<p class="gray_spec">
    											in <a href="">Dharma Initiative</a> <a href="">Lorem Ipsum</a>- 2 weeks ago
    										</p>
    									</span>
    								</div>
    								<!-- END RP -->							
    								<a href="#" class="fright weight-bold none margin7">	
    									<span class="fleft icons16 ui-state-cyan ui-icon-arrowrefresh-1-s"> 					
    									</span>see more
    								</a>	
    						</div>


			
		</div>
	</div>
	<!-- END LEFTCOL -->	

	<!-- RIGHTCOL -->	
	<div class="rightCol fright">



	  <script type="text/javascript">
	  $(document).ready(function(){	
		  $('#tags ul li').tsort({order:"desc",attr:"class"});
      
		  // create a sort by alphabet button
		  var sortabc = $('<a href="javascript:void(0)" class="btn none ten">AZ</a>').toggle(
			  function(){
				  $("#tags ul li").tsort({order:"asc"});
			    },
			    function(){
				    $("#tags ul li").tsort({order:"desc"});
			      }
			      );
	 	        $('#tag_cloud .cloud_buttons').prepend(sortabc);		

	          });
	  </script>		
	  <div id="tag_cloud">
		  <div class="fright cloud_buttons"> </div>
		  <h2 class="nomargin">Questions tags</h2>
		  <p class="gray_spec nomargin">James Brown belli capelli</p>
          <%= render :partial => 'shared/tags' %>
    </div>


	</div>
	<!-- END RIGHTCOL -->	
	
	<div class="clear"> </div>

  <% content_for :footer do %>
    <%= render :partial => 'answers/footer' %>
  <% end %>
