<div class="box-list song-box song-spec clear-block">
	<h2 class="orange-text" style="margin-bottom: 40px">Are you sure you want to delete this song?</h2>
	<div class="simple-list">
		<%= render :partial => 'song', :object => @song %>
	</div>

	<p class="grey-text centered" style="font-size: 26px; font-weight: bold;">
	<%= link_to_remote 'DELETE', :url => song_path(@song), :method => :delete, :loading => "$('destroy-spinner').show()", :complete => 'reload()' %>
	<%= image_tag 'spinner.gif', :id => 'destroy-spinner', :style => 'display:none' %>
	</p>
</div>
