<ul class="footer_right_content song_pick_footer fright">
	<div class="">
	<h2>Today Song</h2>
	<div class="snip fleft">

			<a href=""  title="Frank Zappa" class="fleft">
				<img src="/images/temp/pick_song.jpg" width="85" height="55" />
			</a>
			<a href="" class="song_author" title="" style="margin-left: 5px;">
				Tengo na Minchia Tanta
			</a>
			<br />
			<a href="" class="song_title" title="" style="margin-left: 5px;">
				<strong>Frank Zappa</strong>
			</a>
			<br />
			<p class="tag_genre block">
				<a href="">Rock,</a><a href="">Alternative</a>
			</p>
	<div class="clear"> </div>
			<ul class="fmlinks fright">
				<li class="gray_spec"><br/><br/><br/></li>
				<li><a href="" class="lastfm_lists">Listen original song</a></li>
			</ul>													

	</div>
	<div class="clear"> </div>
	
  <% 2.times do %>
    <li class="border_list">
      <%= render :partial => 'shared/song_block' %>
    </li>
  <% end %>

		<li class="mband_more_tag border_list">
			<a href="" class="fright">Listen more versions (23)</a>
		</li>
	</div>
</ul>		
