<p class="subtitle nomargin">
<strong>Tretonsidosh Nereshtenz's</strong>
</p>
<h2 class="s21 nomargin">Mixable songs
	<span class="mailbox_unread nomargin" style="overflow:hidden;">
		<span class="tl">
			<span class="tr">
				<span class="br">
					<span class="bl"><strong>23</strong></span>
				</span>
			</span>
		</span>
	</span>	
</h2>
<span class="gray_spec">Play with different versions</span>


<!-- switch class .selector_disabled .genre_selector -->
<div class="mixable_genre gray5 weight-bold">
	<span class="genre_selector nomargin" >
		<span class="tl">
			<span class="tr">
				<span class="br">
					<span class="bl">All</span>
				</span>
			</span>
		</span>
	</span>				

	<span class="selector_disabled nomargin">
		<span class="tl">
			<span class="tr">
				<span class="br">
					<span class="bl">Rock</span>
				</span>
			</span>
		</span>
	</span>				

	<span class="selector_disabled nomargin" >
		<span class="tl">
			<span class="tr">
				<span class="br">
					<span class="bl">Indie</span>
				</span>
			</span>
		</span>
	</span>				

	<span class="selector_disabled nomargin">
		<span class="tl">
			<span class="tr">
				<span class="br">
					<span class="bl">Electronic</span>
				</span>
			</span>
		</span>
	</span>				
	
	<span class="selector_disabled nomargin" >
		<span class="tl">
			<span class="tr">
				<span class="br">
					<span class="bl">Pop</span>
				</span>
			</span>
		</span>
	</span>				
	
	<span class="selector_disabled nomargin">
		<span class="tl">
			<span class="tr">
				<span class="br">
					<span class="bl">Metal</span>
				</span>
			</span>
		</span>
	</span>				

	<span class="selector_disabled nomargin" >
		<span class="tl">
			<span class="tr">
				<span class="br">
					<span class="bl">Hip-Hop</span>
				</span>
			</span>
		</span>
	</span>				

	<span class="selector_disabled nomargin" >
		<span class="tl">
			<span class="tr">
				<span class="br">
					<span class="bl">Jazz</span>
				</span>
			</span>
		</span>
	</span>				

	<span class="selector_disabled nomargin">
		<span class="tl">
			<span class="tr">
				<span class="br">
					<span class="bl">Classical</span>
				</span>
			</span>
		</span>
	</span>				

	<span class="selector_disabled nomargin" >
		<span class="tl">
			<span class="tr">
				<span class="br">
					<span class="bl">Country</span>
				</span>
			</span>
		</span>
	</span>				

</div>

<div id="show_mixable">
<% 7.times do %>
    <%= render :partial => 'shared/song_block_sidebar_max' %>
<% end %>


	<div class="paging_bg fright">
    <%= render :partial => 'shared/paging_vert' %>	</div>
</div>
<div class="clear"> </div>

