<p>Total <%= Answer.count %> users</p>
<table class="admin_content_table" cellspacing="0" cellpadding="5">
	<tr>
		<th>id</th>
		<th>body</th>
		<th>user</th>
		<th>replies</th>
		<th>date</th>
	</tr>
	<%= render :partial => 'answer', :collection => @answers %>
</table>

