<!-- PROJECT OVERVIEW -->
<ul class="project_overview blue7 full_width_sidebar icon_lists">
	<h2>Project Overview</h2>
	<li class="user_icon">
		Record under <a href="" class="none heading weight-bold">Pino</a>
			<br />
			<a href="">Change identity</a>
	</li>
	<li class="instruments_icon">
		5 Instruments
			<br />
			<strong>3:05</strong> total runtime
	</li>
	<li class="tag_add_icon">
		2 of 5 Instruments need tags
			<br />
			<a href="" class="fleft">Show me</a>
			<a class="icons16 alert-bullet_icon fright"> </a>			
	</li>
	<li class="instruments_icon">
		3 Instruments need type<br />
			<a href="" class="fleft">Show me</a>
			<a class="icons16 alert-bullet_icon fright"> </a>
	</li>
</ul>
