<!-- PROJECT OVERVIEW -->
<ul class="project_overview blue7 full_width_sidebar">
	<h2>Project Overview</h2>
	<li>
		<span class="user_icon">Record under 
			<abbr class="none heading weight-bold">Pino</abbr><br />
			<a href="#">Change identity</a>
		</span>
	</li>
	<li>
		<span class="instruments_icon"><abbr class="count">0</abbr> Instruments<br />
			<strong class="runtime">0:00</strong> total runtime</span>
	</li>
	<li class="missing_tag" style="display:none">
		<span class="tag_add_icon"><abbr class="tag_count">2</abbr> of <abbr class="count">5</abbr> Instruments need tags<br />
			<a href="" class="fleft">Show me</a>
			<a class="icons16 alert-bullet_icon fright"> </a>			
		</span>
	</li>
	<li class="missing_instr" style="display:none">
		<span class="instruments_icon"><abbr class="instr_count">3</abbr> Instruments need type<br />
			<a href="" class="fleft">Show me</a>
			<a class="icons16 alert-bullet_icon fright"> </a>			
		</span>
	</li>
</ul>
