<div class="song_block sidebar_block">
<span class="fright icons16 ui-state-tools  ui-icon-trash"> </span> <!-- mouse over -->
	<div class="tracks_count sidebar_count fleft">
		<h3>4</h3>
		Instr.s
	</div>
	<div class="song_details fleft">
	  <a href="" class="song_title">Lorem ipsum dolor</a><br />
	  <a href="" class="song_author"><strong>Pinca Palla</strong></a><br />
		<img src="images/icons/bullet_key.png" />
	</div>
		<ul class="song_controls profile_controls_sidebar fright">
			<li class="nomargin"><a href="" class="control_mix">MIX</a></li>
			<li class="nomargin"><a href="" class="control_play">PLAY</a></li>
		</ul>
</div>

