<% content_for :head do %>
  <%= javascript_include_tag 'swfobject/swfobject' %>
	<script type="text/javascript">// <![CDATA[
	
		function setFlashHeight( height ) {
      $('#flash').css({height: height.toString() + 'px'});
		}
	
		var flashvars = {
			serverPath: '<%= APPLICATION[:url] %>',
			settingsXMLPath: '/multitrack.xml',
			isLogEnabled: 'yes',
			isServiceDumpEnabled: 'no',
      songID: <%= @song.published? ? @song.id : 0 %>
		};

		var params = {};
		var attributes = { name: 'multitrackObject' };
		swfobject.embedSWF( '/multitrack/multitrack.swf', 'flash', '690', '100%', '9.0.0', 'scripts/swfobject/express-install.swf', flashvars, params, attributes );
			
		$(document).ready(function() {
			setTimeout(function() { $('#flash')[0].loadSong(917598278); }, 8000);
		});
			
	// ]]></script>

	<style type="text/css">
	
		#multitrack {
      padding: 20px;
		}
		
		#flash {
      margin: 0 auto;
			width: 690px;
			height: 40px;
			position: relative;
      z-index: 0;
		}
		
	</style>

<% end %>

<div id="multitrack">
	<div id="flash"></div>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean et odio quis lacus consectetuer cursus. Pellentesque consectetuer euismod orci. Morbi eu massa vitae dolor semper semper. Pellentesque at nibh. Pellentesque a tellus sed enim auctor elementum. Fusce elit turpis, vehicula ut, dignissim in, porttitor eget, tortor. Ut vel tortor nec metus commodo convallis. Vestibulum condimentum lectus. Duis cursus magna a mauris. Nulla justo mauris, venenatis consequat, suscipit vel, cursus in, dui. Integer consectetuer aliquet felis. Nam in mauris. Ut leo arcu, sodales ac, vestibulum nec, tincidunt ut, nulla. Nam in lectus ac magna aliquet pretium. Cras et ligula. Phasellus a ipsum. Morbi in pede ultricies nulla varius tincidunt.</p>
</div>
