<div id="flashcontent"></div>

<script type="text/javascript">
	// <![CDATA[
	
	var so = new SWFObject("/multitrack/SUX_Player_Core.swf", "SUX_Player_Core", "978", "800", "9", "#FFFFFF");
	so.addVariable("userid", <%= @user.id %>); 
	so.addVariable("songid", <%= @user.id %>); 
	so.write("flashcontent");

	// ]]>
</script>

