<%= link_to 'new track', new_track_path %>
<table class="admin_content_table" cellspacing="0" cellpadding="5">
	<tr>
		<th>id</th>
		<th>title</th>
		<th>instrument</th>
		<th>tonality</th>
		<th>song</th>
	</tr>
	<%= render :partial => 'track', :collection => @tracks %>
</table>
