<p>
	<%= edit_link_to 'new track', new_admin_track_path %><br/>
	Total <%= Track.count %> tracks
</p>
<table class="admin_content_table" cellspacing="0" cellpadding="5">
	<tr>
		<th>id</th>
		<th>title</th>
		<th>instrument</th>
		<th>user</th>
		<th>song</th>
		<th>date</th>
	</tr>
	<%= render :partial => 'track', :collection => @tracks %>
</table>
