<p>Total <%= HelpPage.count %> pages</p>
<table class="admin_content_table" cellspacing="0" cellpadding="5">
	<tr>
		<th>id</th>
		<th>position</th>
		<th>title</th>
		<th>body</th>
	</tr>
	<%= render :partial => 'admin/help_pages/help', :collection => @pages %>
</table>
