<div class="bands-dj-list clear-block">
  <%= navigation_arrows_for 'best', 'bands_and_deejays', 'top' %>
  <h1>BEST MYOUSICIANS</h1>
  <div class="top-box clear-block">
	  <div class="bottom-box clear-block">
	    <%= render :partial => 'shared/band', :collection => @best %>
	  </div>
  </div>
	<%= navigation_arrows_for 'best', 'bands_and_deejays', 'bottom' %>
</div>
