<div class="clear-block">
  <div class="simple-list yellow-box">
  	<%= navigation_arrows_for 'prolific', 'bands_and_deejays', 'top' %>
    <h1>MOST SONGS</h1>
    <div class="top-box clear-block">
  	  <div class="bottom-box clear-block">
        <%= render :partial => 'users/person_short', :collection => @prolific %>
      </div>
    </div>
  	<%= navigation_arrows_for 'prolific', 'bands_and_deejays', 'bottom' %>
  </div>
</div>
