<div class="simple-list clear-block">
  <%= navigation_arrows_for 'newest', 'music', 'top' %>
	<h1>NEWEST</h1>
	<div class="top-box clear-block clear-float">
		<div class="bottom-box clear-block newest-list">
			<%= render :partial => 'newest_song', :collection => @newest %>
		</div>
	</div>
	<%= navigation_arrows_for 'newest', 'music', 'bottom' %>
</div>			
