<div class="whiteblock-shadow clear-block">
  <%= breadcrumb %>
	<div class="box-list one-col clear-block">
	  <div class="simple-list green-box clear-block">
			<h1>BEST SONGS </h1>
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">				
				  <%= render :partial => 'best_song', :collection => @best_songs %>
										
					<p class="abstract align-right"><a href="#">Next</a></p>

			  </div>
			</div>
		  </div>
	  </div>

	<div class="box-list semi-one-col clear-block">
		<div class="simple-list orange-box clear-block">
		<h1>MOST USED TRACKS</h1>
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
          <%= render :partial => 'most_used_track', :collection => @most_used_tracks %>
					
					<p class="abstract align-right"><a href="#">Next</a></p>

				</div>
			</div>	
		</div>
	</div>
	
	
		<div class="box-list small-col clear-block">
		<div class="simple-list section-tags clear-block">
			<h1>GENERI</h1>
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  <div class="elements clear-block">
						<p><a href="#" style="font-size:100%">Lirica </a></p>
						<p><a href="#" style="font-size:200%">Elettronica </a></p>
						<p><a href="#" style="font-size:80%">Chemical </a></p>
						<p><a href="#" style="font-size:70%">Rock </a></p>
						<p><a href="#" style="font-size:130%">Country </a></p>
						<p><a href="#" style="font-size:150%">Bit </a></p>
						<p><a href="#" style="font-size:60%">Jazz </a></p>
						<p><a href="#" style="font-size:120%">Pop </a></p>
						<p><a href="#" style="font-size:100%">Dance </a></p>
						<p><a href="#" style="font-size:200%">Progressive </a></p>
						<p><a href="#" style="font-size:80%">Etnic </a></p>
						<p><a href="#" style="font-size:100%">Classic </a></p>
				  <p class="centered"><img src="/images/banner_mband_small.gif" alt="" width="110" height="101" /></p>
				  </div>
				 </div>
			</div>
		</div>
		</div>
	


	<div class="box-list one-col clear-block clear-float">
		<div class="simple-list clear-block">
			<h1>NEWEST</h1>
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  <div class="elements clear-block">
						<p class="thumb"><a href="#"><img src="/avatars/photo_30X30.jpg" alt="Band" width="29" height="29" /></a></p>
						<p class="name align-right"><a href="#">Pinco Pallino</a></p>
						<p class="country align-right">Italy, Pescara</p>
							<div class="float-right">
							<p class="star"><img src="/images/star_green.png" alt="" width="10" height="9" /><img src="/images/star_green.png" alt="" width="10" height="9" /><img src="/images/star_green.png" alt="" width="10" height="9" /><img src="/images/star_green.png" alt="" width="10" height="9" /><img src="/images/star_green.png" alt="" width="10" height="9" /></p>
							<p class="button"><a href="#"><img src="/images/button_mlab.png" alt="" width="23" height="15" /></a> <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a></p>
							</div>
						<p class="title">titolo titolo titolo</p>
						<p class="abstract">nome artista</p>
				  </div>
				  
				  <div class="elements clear-block">
						<p class="thumb"><a href="#"><img src="/avatars/photo_30X30.jpg" alt="Band" width="29" height="29" /></a></p>
						<p class="name align-right"><a href="#">Pinco Pallino</a></p>
						<p class="country align-right">Italy, Pescara</p>
							<div class="float-right">
							<p class="star"><img src="/images/star_green.png" alt="" width="10" height="9" /><img src="/images/star_green.png" alt="" width="10" height="9" /><img src="/images/star_green.png" alt="" width="10" height="9" /><img src="/images/star_green.png" alt="" width="10" height="9" /><img src="/images/star_green.png" alt="" width="10" height="9" /></p>
							<p class="button"><a href="#"><img src="/images/button_mlab.png" alt="" width="23" height="15" /></a> <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a></p>
							</div>
						<p class="title">titolo titolo titolo</p>
						<p class="abstract">nome artista</p>
				  </div>
				  
				  <div class="elements clear-block">
						<p class="thumb"><a href="#"><img src="/avatars/photo_30X30.jpg" alt="Band" width="29" height="29" /></a></p>
						<p class="name align-right"><a href="#">Pinco Pallino</a></p>
						<p class="country align-right">Italy, Pescara</p>
							<div class="float-right">
							<p class="star"><img src="/images/star_green.png" alt="" width="10" height="9" /><img src="/images/star_green.png" alt="" width="10" height="9" /><img src="/images/star_green.png" alt="" width="10" height="9" /><img src="/images/star_green.png" alt="" width="10" height="9" /><img src="/images/star_green.png" alt="" width="10" height="9" /></p>
							<p class="button"><a href="#"><img src="/images/button_mlab.png" alt="" width="23" height="15" /></a> <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a></p>
							</div>
						<p class="title">titolo titolo titolo</p>
						<p class="abstract">nome artista</p>
				  </div>
				  			  
				</div>
			</div>
		</div>
		
	<div class="simple-list clear-block">
	<h1>ANSWER</h1>
		<div class="top-box clear-block">
			<div class="bottom-box clear-block">
				<div class="elements clear-block">
					<p class="thumb"><a href="#"><img src="/avatars/photo_30X30.jpg" alt="Pinco Pallino" width="29" height="29" /></a></p>
						<p class="name"><a href="#">Pinco Pallino</a></p>
						<p class="abstract">Non riesco a sputare pi˘ in alto di tre metri, come funziona questíaffare?</p>
						<p class="abstract align-right">15 risposte </p>
				</div>
				
				<div class="elements clear-block">
					<p class="thumb"><a href="#"><img src="/avatars/photo_30X30.jpg" alt="Pinco Pallino" width="29" height="29" /></a></p>
						<p class="name"><a href="#">Pinco Pallino</a></p>
						<p class="abstract">Non riesco a sputare pi˘ in alto di tre metri, come funziona questíaffare?</p>
						<p class="abstract align-right">15 risposte </p>
				</div>

				<div class="elements clear-block">
					<p class="thumb"><a href="#"><img src="/avatars/photo_30X30.jpg" alt="Pinco Pallino" width="29" height="29" /></a></p>
						<p class="name"><a href="#">Pinco Pallino</a></p>
						<p class="abstract">Non riesco a sputare pi˘ in alto di tre metri, come funziona questíaffare?</p>
						<p class="abstract align-right">15 risposte </p>
				</div>
				
			</div>
		</div>
	</div>		
		
	</div>
	
	<div class="box-list two-col clear-block" id="genres">
	  <%= render :partial => 'genres' %>
	</div>
	  

	  
	  
    </div>
  </div>
