<table class="admin_content_table" cellspacing="0" cellpadding="5">
	<tr>
		<th>id</th>
		<th>login</th>
		<th>nickname</th>
		<th>country</th>
	</tr>
	<%= render :partial => 'user', :collection => @users %>
</table>
