<ul>
	<li>you'll keep your admirers and friends</li>
	<li>you'll be able to add band members</li>
	<li>you'll <strong>lose</strong> your current m-band memberships</li>
	<li>any m-band you own will be <strong>deleted</strong></li>
	<li>you can now change your <em>DJ</em> name in your <em>BAND</em> name</li>
</ul>
