<ul>
	<li>you'll keep your admirers and friends</li>
	<li>you'll be able to add band members</li>
	<li>as a <em>BAND</em> you cannot form a M-BAND</li>
	<li>you can now change your <em>DJ</em> name in your <em>BAND</em> name</li>
</ul>
