<div id="switch-failure" class="user-switch">
	<div class="clear-block clear-float">
		<p class="centered">
			Ugh! An error occurred. Please <%= link_to 'refresh', user_path(@user) %> the page and try again.
		</p>
	</div>
</div>

