<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<%= stylesheet_link_tag *%w[style iepngfix] %>
		<%= javascript_include_tag *%w[protoculous] %>
		<title>myousica - switch successful</title>
	</head>
	<body>
    <div id="switch-success" class="user-switch" style="display:none">
    	<div class="clear-block clear-float">
    		<p class="centered">
    			Congrats! You are now a <%= @type.upcase %>.
    		</p>
    		<p class="centered">
    			<%= image_tag "#{@type.downcase}_page_label.png" %>
    		</p>
    		<p class="centered grey-text">Reloading...</p>
    	</div>
    </div>
    <script type="text/javascript">
    	new Effect.Appear('switch-success',{duration:0.4});
    	//parent.window.Lightview.hide.bind(parent.window.Lightview).delay(1.5);
    	parent.reload.delay(1.7);
    </script>
	</body>
</html>
