<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<%= stylesheet_link_tag *%w[style iepngfix] %>
		<%= javascript_include_tag *%w[protoculous] %>
		<title>myousica - switch successful</title>
	</head>
	<body>
    <div id="switch-success" class="user-switch" style="display:none">
    	<div class="clear-block clear-float container">
				<h1>Congrats! You are now a <%= @type.upcase %>!</h1>
				<div class="clear-block centered" id="success">
    			<%= image_tag "change_#{@type.downcase}_big.png" %>
    		</div>
    		<p class="centered grey-text">Reloading...</p>
    	</div>
    </div>
    <script type="text/javascript">
    	new Effect.Appear('switch-success',{duration: 0.4, queue: 'end'});
			new Effect.Pulsate('success',{duration: 1.2, from: 0.4, pulses: 3, queue: 'end'});
    	//parent.window.Lightview.hide.bind(parent.window.Lightview).delay(1.5);
    	parent.reload.delay(1.7);
    </script>
	</body>
</html>
