<ul>
	<li>you'll keep your admirers and friends</li>
	<li>as a <em>DJ</em> you can still form new <em>M-BANDS</em></li>
	<li>you can now change your <em>USER</em> name in your <em>DJ</em> name</li>
</ul>
