<ul>
	<li>you'll keep your admirers and friends</li>
	<li>you'll be able to add band members</li>
	<li>as a BAND you'll not be able to form new <em>M-BANDS</em></li>
	<li>you can now change your <em>USER</em> name in your <em>BAND</em> name</li>
</ul>
