<ul>
	<li>you'll keep your admirers and friends</li>
	<li>you'll be listed in the "people" charts</li>
	<li>you can still form new <em>M-BANDS</em></li>
	<li>you can now change your <em>USER</em> name in your <em>DJ</em> name</li>
</ul>
